force-app/main/default/flows/AddSelectedProduct.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>51.0</apiVersion>
    <decisions>
        <name>ifNoProdSelected</name>
        <label>ifNoProdSelected</label>
        <locationX>665</locationX>
        <locationY>211</locationY>
        <defaultConnector>
            <targetReference>forEachSelectedprod</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfNoProductSelected</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isListEmpty</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NoProductSelected</targetReference>
            </connector>
            <label>IfNoProductSelected</label>
        </rules>
    </decisions>
    <decisions>
        <name>Validation</name>
        <label>Validation</label>
        <locationX>1580</locationX>
        <locationY>347</locationY>
        <defaultConnector>
            <targetReference>addSelectedProduct_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_Discontinued_and_Non_Imerys_Product_Trading</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.Imerys_Product__r.Inactive__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.Imerys_Product__r.NonImerysProductTrading__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message_0_0_0</targetReference>
            </connector>
            <label>Check Discontinued and Non-Imerys Product/Trading</label>
        </rules>
        <rules>
            <name>Missing_Unit_and_Volume</name>
            <conditionLogic>(1 OR 2)</conditionLogic>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.Unit_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.Volume__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message_0</targetReference>
            </connector>
            <label>Missing Unit and Volume</label>
        </rules>
        <rules>
            <name>Line_Description_packaging</name>
            <conditionLogic>(1 OR 2) AND 3</conditionLogic>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.LineDescription__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.Packaging__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.TECH_BOMonly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>addSelectedProduct_0_0</targetReference>
            </connector>
            <label>Line Description &amp; packaging</label>
        </rules>
        <rules>
            <name>BOM_Validation</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getShortlistedImerysProductDetails.TECH_BOMonly__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning_Message_0_0</targetReference>
            </connector>
            <label>BOM Validation</label>
        </rules>
    </decisions>
    <description>Using VF to pass selected Shortlisted product to flow 
Using Boolean variable to check if isListEmpty
Modified Attribute in VFP to add buttonLocation(Avoid duplication of buttons)
V15.0</description>
    <environments>Default</environments>
    <interviewLabel>AddSelectedProduct {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AddShortlistedProductToImerysProduct</label>
    <loops>
        <name>forEachSelectedprod</name>
        <label>forEachSelectedprod</label>
        <locationX>1034</locationX>
        <locationY>216</locationY>
        <collectionReference>LstSelectedProds</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getShortlistedImerysProductDetails</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>addSelectedProduct_0</name>
        <label>addSelectedProduct</label>
        <locationX>1441</locationX>
        <locationY>745</locationY>
        <connector>
            <targetReference>deleteShortlistedProduct</targetReference>
        </connector>
        <inputAssignments>
            <field>BillOfMaterialURL__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.BillOfMaterialURL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getPricebookEntryId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Imerys_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForm__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.ProductForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Status__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Technical_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>addSelectedProduct_0_0</name>
        <label>addSelectedProductWithLineDescription</label>
        <locationX>1598</locationX>
        <locationY>875</locationY>
        <connector>
            <targetReference>deleteShortlistedProduct</targetReference>
        </connector>
        <inputAssignments>
            <field>BillOfMaterialURL__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.BillOfMaterialURL__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.LineDescription__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OpportunityId</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Opportunity__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Packaging__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Packaging__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PricebookEntryId</field>
            <value>
                <elementReference>getPricebookEntryId.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product2Id</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Imerys_Product__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForm__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.ProductForm__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Quantity</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Volume__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Status__c</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Technical_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UnitPrice</field>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordDeletes>
        <name>deleteShortlistedProduct</name>
        <label>deleteShortlistedProduct</label>
        <locationX>783</locationX>
        <locationY>794</locationY>
        <connector>
            <targetReference>forEachSelectedprod</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forEachSelectedprod.Id</elementReference>
            </value>
        </filters>
        <object>Shortlisted_Imerys_Product__c</object>
    </recordDeletes>
    <recordLookups>
        <name>getPricebookEntryId</name>
        <label>getPricebookEntryId</label>
        <locationX>1280</locationX>
        <locationY>527</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Validation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Opportunity__r.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Imerys_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getShortlistedImerysProductDetails.Opportunity__r.Pricebook2Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getShortlistedImerysProductDetails</name>
        <label>getShortlistedImerysProductDetails</label>
        <locationX>1125</locationX>
        <locationY>400</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getPricebookEntryId</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>forEachSelectedprod.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Shortlisted_Imerys_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>NoProductSelected</name>
        <label>No Product Selected</label>
        <locationX>433</locationX>
        <locationY>205</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NoProdSelectedScr</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(247, 13, 13); font-size: 16px;&quot;&gt;Please select a product!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning_Message_0</name>
        <label>Warning Message</label>
        <locationX>1774</locationX>
        <locationY>597</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;Potential Unit Price and Potential Volume are mandatory to proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Message_0_0</name>
        <label>Warning Message</label>
        <locationX>1974</locationX>
        <locationY>224</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(253, 14, 14);&quot;&gt;You cannot select an Offer Summary Sheet product and a standard Imerys Product at the same time.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Warning_Message_0_0_0</name>
        <label>Warning Message</label>
        <locationX>1675</locationX>
        <locationY>130</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>Warning_0_0_0</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(253, 14, 14); background-color: rgb(255, 255, 255);&quot;&gt;You cannot select a Discontinued product or a Non-Imerys Product/Trading Product.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>548</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>ifNoProdSelected</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isListEmpty</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>LstSelectedProds</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Shortlisted_Imerys_Product__c</objectType>
    </variables>
    <variables>
        <name>OpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>getShortlistedImerysProductDetails.Opportunity__c</elementReference>
        </value>
    </variables>
</Flow>
