force-app/main/default/flows/Automatic_Assigning_of_Permission_Set_Chatter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_To_Collection</name>
        <label>Assign To Collection</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>PermissionSetAssignmentCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>PermissionsetRecords</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Store_Permission_set_Assignement</name>
        <label>Store Permission set Assignement</label>
        <locationX>138</locationX>
        <locationY>935</locationY>
        <assignmentItems>
            <assignToReference>PermissionsetRecords.AssigneeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>PermissionsetRecords.PermissionSetId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_loop.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_To_Collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Checking_the_permission_set</name>
        <label>Checking the permission set</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Checking_If_it_exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_the_permission_set</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_loop</targetReference>
            </connector>
            <label>Checking If it exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Null</name>
        <label>If Null</label>
        <locationX>270</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Get_loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Permission_set_assignment_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Store_Permission_set_Assignement</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Automatic Assigning of Permission Set &amp; Chatter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Automatic Assigning of Permission Set &amp; Chatter</label>
    <loops>
        <name>Get_loop</name>
        <label>Get loop</label>
        <locationX>50</locationX>
        <locationY>575</locationY>
        <collectionReference>Get_the_permission_set</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>get_Permission_set_assignment_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Assigning_Permission_set_to_user</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Assigning_Permission_set_to_user</name>
        <label>Assigning Permission set to user</label>
        <locationX>50</locationX>
        <locationY>1367</locationY>
        <inputReference>PermissionSetAssignmentCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>get_Permission_set_assignment_record</name>
        <label>get Permission set assignment record</label>
        <locationX>270</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_Null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_loop.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_the_permission_set</name>
        <label>Get the permission set</label>
        <locationX>182</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Checking_the_permission_set</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>View_and_Edit_Converted_Leads</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>View_And_Convert_Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>RecurringSales</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccessToFreightRateRequest</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>AccessToQuote</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New_Complaint_Process</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>NewSampleAccess</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Master_Project_Sub_Project_Offer</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>DocGenDesigner</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Docgen_Designer_Standard_User</stringValue>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>OmniStudioAdmin</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_the_permission_set</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>User</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>PermissionSetAssignmentCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
    <variables>
        <name>PermissionsetRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>PermissionSetAssignment</objectType>
    </variables>
</Flow>
