force-app/main/default/flows/Case_BS_Update_Status_change.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Change_Status</name>
        <label>Change Status</label>
        <locationX>131</locationX>
        <locationY>250</locationY>
        <assignmentItems>
            <assignToReference>$Record.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.Customer_Service_Responsible__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmOwnerIfQueue</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Change_Status_0</name>
        <label>Change Status</label>
        <locationX>404</locationX>
        <locationY>571</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Gatekeeper__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>qsfdsf</name>
        <label>qsfdsf</label>
        <locationX>549</locationX>
        <locationY>396</locationY>
        <assignmentItems>
            <assignToReference>$Record.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>frmPersonInCharge</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>check_Status</name>
        <label>check Status</label>
        <locationX>349</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_Status</targetReference>
            </connector>
            <label>New</label>
        </rules>
        <rules>
            <name>Working</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>if_Customer_Issue</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Working</label>
        </rules>
        <rules>
            <name>Open</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Open</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Working</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>qsfdsf</targetReference>
            </connector>
            <label>Open</label>
        </rules>
        <rules>
            <name>Waiting_on_Customer</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Waiting on Customer</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>qsfdsf</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Waiting on Customer</label>
        </rules>
    </decisions>
    <decisions>
        <name>if_Customer_Issue</name>
        <label>if Customer Issue</label>
        <locationX>201</locationX>
        <locationY>446</locationY>
        <defaultConnector>
            <targetReference>Change_Status_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Customer_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer_Issue</stringValue>
                </rightValue>
            </conditions>
            <label>Customer_Issue</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>frmOwnerIfQueue</name>
        <dataType>String</dataType>
        <expression>IF(BEGINS({!$Record.OwnerId}, &quot;00G&quot;),NULL,{!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>frmPersonInCharge</name>
        <dataType>String</dataType>
        <expression>If( ISBLANK({!$Record.Customer_Service_Responsible__c}),{!$User.Id},{!$Record.Customer_Service_Responsible__c})</expression>
    </formulas>
    <interviewLabel>Case - BS - Update - Status change {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Case - BS - Update - Status change</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>650</locationX>
        <locationY>47</locationY>
        <connector>
            <targetReference>check_Status</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>varOwnerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
