force-app/main/default/flows/Clone_Functionality_Quote_and_QLI.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Navigate_to_Cloned_quote</name>
        <label>Navigate to Cloned quote</label>
        <locationX>1129</locationX>
        <locationY>299</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>Get_New_Quote_ID.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>649</locationX>
        <locationY>550</locationY>
        <assignmentItems>
            <assignToReference>QLI.selectedRows</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_a_collection</name>
        <label>assign to a collection</label>
        <locationX>979</locationX>
        <locationY>730</locationY>
        <assignmentItems>
            <assignToReference>QLIList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>QLIListVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_a_single_list</name>
        <label>assign to a single list</label>
        <locationX>1164</locationX>
        <locationY>465</locationY>
        <assignmentItems>
            <assignToReference>QLIListVar.Product2Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Product2Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.PricebookEntryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Pricebook_entry.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.QuoteId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_New_Quote_ID.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Quantity</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Quantity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.UnitPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.UnitPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.ProductForm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.ProductForm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.CustomerService__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.CustomerService__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Customer_Ex_works_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Customer_Ex_works_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.LineItemDescription__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.LineItemDescription__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Description</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Description</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Discount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Discount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Energy_Surcharge_currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Energy_Surcharge_currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Energy_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Energy_Surcharge_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Energy_Surcharge_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Energy_Surcharge_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Freight_Surcharge_currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Freight_Surcharge_currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Freight_Surcharge_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Freight_Surcharge_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Freight_Surcharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Freight_Surcharges__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Full_delivered_Price_exc_surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Full_delivered_Price_exc_surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Full_delivered_Price_inc_surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Full_delivered_Price_inc_surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Incoterm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Incoterm__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Inflation_surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Inflation_surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Inflation_surcharge_currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Inflation_surcharge_currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Inflation_surcharge_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Inflation_surcharge_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Imerys_Site__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Imerys_Site__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.ImerysManufacturingPlant__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.ImerysManufacturingPlant__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.ProductUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.ProductUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Other1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Other1__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Other1_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Other1_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Other1_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Other1_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Other2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Other2__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Other2_Currency__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Other2_Currency__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Other2_Unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Other2_Unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.ProductUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.ProductUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.ServiceDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.ServiceDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.TotalUnitPrice__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.TotalUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Transport_Price_per_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Transport_Price_per_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Transport_price_unit_base__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Transport_price_unit_base__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Transportpricelumpsum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Transportpricelumpsum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.TotalPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.TotalPrice</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Packaging__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Packaging__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QLIListVar.Packaging_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>loop_var.Packaging_Price__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_a_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Quote_Assignment</name>
        <label>Quote Assignment</label>
        <locationX>406</locationX>
        <locationY>411</locationY>
        <assignmentItems>
            <assignToReference>QuoteListVar.Name</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.QuoteOwnerName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Owner_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.OpportunityId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>OpportunityName.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.BillTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Billto.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ShipTo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShipTo.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.MarketSegmentation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>MarketSegmentation_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.RelationshipsInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Relationship_0.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.BusinessArea__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Business_Area_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ImerysSellingEntity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ImerysSellingEntityLookup.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ImerysSellingEntityAddress__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imerys_Selling_Entity_Address_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ImerysSellingEntityCity1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imerys_Selling_Entity_City_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ImerysSellingEntityCountry1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Imerys_Selling_Entity_Country_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.SellerAdditionalLegalInfo__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Seller_Additional_Legal_Info_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Quote initialization</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.AdditionalInformation__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Additional_Information_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ReasonForClosing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Reason_for_Closing_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>AccountName.recordId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.Bill_To_Legal_Entity_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Bill_To_Legal_Entity_Name_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.IssueDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Issue_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.ValidityDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Quote_Expiration_Date_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.PaymentTerm__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Term_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.PaymentTermSubcategory__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Term_Subcategory_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.Payment_Conditions_Additional_Informatio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Conditions_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.Welcoming__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Welcoming_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.PaymentMethod__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Payment_Method_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.Special_Terms_and_Conditions__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Special_Terms_And_Conditions_0</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>QuoteListVar.CustomerContactName__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>CustomerContact.recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_quote</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_qli_values</name>
        <label>Check qli values</label>
        <locationX>747</locationX>
        <locationY>696</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>values_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>QLI.selectedRows</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign</targetReference>
            </connector>
            <label>values found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_Check</name>
        <label>Null Check</label>
        <locationX>544</locationX>
        <locationY>406</locationY>
        <defaultConnector>
            <targetReference>Error_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Opp_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Oppo_Share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Quote_Assignment</targetReference>
            </connector>
            <label>Opp Available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EstTransportationLeadtimeTimeUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EstimatedTransportationLeadtimeTime__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EstTransportationLeadtimeUnit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EstimatedTransportationLeadtimeUnit__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>FreightUnitOfMeasure</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>FreightUnitOfMeasure__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ImerysSellingEntity</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Imerys_Selling_Entity__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Incoterm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incoterm__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ModeofShipment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ModeOfShipment__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Packaging</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Packaging__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentMethod</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentMethod__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTerm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentTerm__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PaymentTermSubcategory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>PaymentTermSubcategory__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductForm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductForm__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>QuoteLineItems</name>
        <collectionReference>Get_Quote_Line_Item</collectionReference>
        <dataType>String</dataType>
        <displayField>LineNumber</displayField>
        <object>QuoteLineItem</object>
        <valueField>LineNumber</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ReasonForClosing</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ReasonForClosing__c</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status</picklistField>
        <picklistObject>Quote</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unit__c</picklistField>
        <picklistObject>QuoteLineItem</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>User</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}+&quot;  &quot;+{!$User.LastName}</expression>
    </formulas>
    <interviewLabel>Clone Functionality - Quote {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Clone Functionality - Quote and QLI</label>
    <loops>
        <name>loop_var</name>
        <label>loop var</label>
        <locationX>801</locationX>
        <locationY>472</locationY>
        <collectionReference>QLI.selectedRows</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Get_Pricebook_entry</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_cloned_qli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_cloned_qli</name>
        <label>Create cloned qli</label>
        <locationX>801</locationX>
        <locationY>299</locationY>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputReference>QLIList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_quote</name>
        <label>Create quote</label>
        <locationX>405</locationX>
        <locationY>542</locationY>
        <connector>
            <targetReference>Get_New_Quote_ID</targetReference>
        </connector>
        <inputReference>QuoteListVar</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_New_Quote_ID</name>
        <label>Get New Quote ID</label>
        <locationX>404</locationX>
        <locationY>672</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pricebook_Id</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>QuoteListVar.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Oppo_Share</name>
        <label>Get Oppo Share</label>
        <locationX>671</locationX>
        <locationY>230</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_Check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OpportunityShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>551</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Oppo_Share</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>OpportunityName.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_entry</name>
        <label>Get Pricebook entry</label>
        <locationX>1005</locationX>
        <locationY>467</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_to_a_single_list</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Pricebook2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Pricebook_Id.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Product2Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_var.Product2.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>CurrencyIsoCode</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_var.CurrencyIsoCode</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PricebookEntry</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pricebook_Id</name>
        <label>Get Pricebook Id</label>
        <locationX>405</locationX>
        <locationY>799</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DisplayScreen2</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>iMerys</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote</name>
        <label>Get Quote</label>
        <locationX>298</locationX>
        <locationY>163</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Quote_Line_Item</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Quote_Line_Item</name>
        <label>Get Quote Line Item</label>
        <locationX>298</locationX>
        <locationY>288</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Screen_1_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>QuoteId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Quote.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>QuoteLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>DisplayScreen2</name>
        <label>DisplayScreen2</label>
        <locationX>648</locationX>
        <locationY>799</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_qli_values</targetReference>
        </connector>
        <fields>
            <name>QLI</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>QuoteLineItem</typeValue>
            </dataTypeMappings>
            <extensionName>flowruntime:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Please select the Quote Line Items to modify :</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectionMode</name>
                <value>
                    <stringValue>MULTI_SELECT</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>0.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>shouldDisplayLabel</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>Get_Quote_Line_Item</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columns</name>
                <value>
                    <stringValue>[{&quot;apiName&quot;:&quot;ItemReference__c&quot;,&quot;guid&quot;:&quot;column-5bf8&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:0,&quot;label&quot;:&quot;Product Item Reference&quot;,&quot;type&quot;:&quot;text&quot;},{&quot;apiName&quot;:&quot;LineNumber&quot;,&quot;guid&quot;:&quot;column-0159&quot;,&quot;editable&quot;:false,&quot;hasCustomHeaderLabel&quot;:false,&quot;customHeaderLabel&quot;:&quot;&quot;,&quot;wrapText&quot;:true,&quot;order&quot;:1,&quot;label&quot;:&quot;Line Item Number&quot;,&quot;type&quot;:&quot;text&quot;}]</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Screen</name>
        <label>Error Screen</label>
        <locationX>535</locationX>
        <locationY>567</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ErrorMessage</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;An unhandled fault has occurred in this flow&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please check that you are the owner of the related opportunity linked to the cloned lead. If unresolved, contact your system administrator for more information.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>979</locationX>
        <locationY>299</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_Cloned_quote</targetReference>
        </connector>
        <fields>
            <name>success_message</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Quote and Quote Line Items are cloned successfully.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1_0</name>
        <label>Screen 1</label>
        <locationX>410</locationX>
        <locationY>288</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
        <fields>
            <name>GeneralInfo_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;General Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_1_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Quote_Name_0</name>
                    <dataType>String</dataType>
                    <fieldText>Quote Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Owner_Name_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>User</elementReference>
                    </defaultValue>
                    <fieldText>Owner Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>OpportunityName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>OpportunityId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Opportunity Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.OpportunityId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Opportunity_Number_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Opportunity.Opportunity_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Opportunity Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Relationship_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>RelationshipsInformation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Relationship Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.RelationshipsInformation__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MarketSegmentation_0</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>MarketSegmentation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Market Segmentation</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.MarketSegmentation__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Status1_0</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Quote initialization</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Reason_for_Closing_0</name>
                    <choiceReferences>ReasonForClosing</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ReasonForClosing__c</elementReference>
                    </defaultValue>
                    <fieldText>Reason for Closing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Billto</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>BillTo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bill To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.BillTo__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Bill_To_Account_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.BillTo__r.Account_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Bill To Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bill_To_Legal_Entity_Name_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Bill_To_Legal_Entity_Name__c</elementReference>
                    </defaultValue>
                    <fieldText>Bill To - Legal Entity Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ShipTo</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ShipTo__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Ship To</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.ShipTo__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Ship_To_Account_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ShipTo__r.Account_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Ship To Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Area_0</name>
                    <choiceReferences>BusinessArea</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.BusinessArea__c</elementReference>
                    </defaultValue>
                    <fieldText>Business Area</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>ImerysSellingEntityLookup</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ImerysSellingEntity1__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Imerys Selling Entity</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.ImerysSellingEntity1__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Imerys_Selling_Entity_Address_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ImerysSellingEntityAddress1__c</elementReference>
                    </defaultValue>
                    <fieldText>Imerys Selling Entity Address</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Imerys_Selling_Entity_City_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ImerysSellingEntityCity1__c</elementReference>
                    </defaultValue>
                    <fieldText>Imerys Selling Entity City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Imerys_Selling_Entity_Country_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ImerysSellingEntityCountry1__c</elementReference>
                    </defaultValue>
                    <fieldText>Imerys Selling Entity Country</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Seller_Additional_Legal_Info_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.SellerAdditionalLegalInfo__c</elementReference>
                    </defaultValue>
                    <fieldText>Seller - Additional Legal Info</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Additional_Information_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.AdditionalInformation__c</elementReference>
                    </defaultValue>
                    <fieldText>Additional Information</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>AccountName</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.Tech_Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Account_Number</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Tech_Account__r.Account_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Account Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>CustomerContact</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>CustomerContactName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Customer Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Quote</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>Get_Quote.CustomerContactName__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Customer_Contact_Number_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.CustomerContactName__r.Contact_Number__c</elementReference>
                    </defaultValue>
                    <fieldText>Customer Contact Number</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Issue_Date_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.IssueDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Issue Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Quote_Expiration_Date_0</name>
                    <dataType>Date</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.ValidityDate__c</elementReference>
                    </defaultValue>
                    <fieldText>Quote Expiration Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section2_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Other Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_1_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Method_0</name>
                    <choiceReferences>PaymentMethod</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.PaymentMethod__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Method</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payment_Term_0</name>
                    <choiceReferences>PaymentTerm</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.PaymentTerm__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Term</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Payment_Term_Subcategory_0</name>
                    <choiceReferences>PaymentTermSubcategory</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.PaymentTermSubcategory__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Term Subcategory</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Section3_0</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(44, 43, 43); font-family: Arial; font-size: 10pt;&quot;&gt;Quote PDF&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Screen_1_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Screen_1_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Welcoming_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Welcoming__c</elementReference>
                    </defaultValue>
                    <fieldText>Welcoming</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Payment_Conditions_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Payment_Conditions_Additional_Informatio__c</elementReference>
                    </defaultValue>
                    <fieldText>Payment Conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Screen_1_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Special_Terms_And_Conditions_0</name>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>Get_Quote.Special_Terms_and_Conditions__c</elementReference>
                    </defaultValue>
                    <fieldText>Special Terms And Conditions</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>401</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Quote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>FRRNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QLIList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLIListOne</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLIListVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>QuoteLineItem</objectType>
    </variables>
    <variables>
        <name>QLINO</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>qlitextVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>QuoteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>QuoteListVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Quote</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
