force-app/main/default/flows/Create_SAPP_share_for_SA_Team_members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_it_to_collection</name>
        <label>Assign it to collection</label>
        <locationX>138</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>SAPPList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SAPPSingleList</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SA_team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_SAPP_share</name>
        <label>Assign SAPP share</label>
        <locationX>138</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>SAPPSingleList.AccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAPPSingleList.ParentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SAPPSingleList.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_SA_team.Member__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_it_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>null_check_SAP</name>
        <label>null check SAP</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAP_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_SAP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_SA</targetReference>
            </connector>
            <label>SAP found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create SAPP share for SA Team members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create SAPP share for SA Team members</label>
    <loops>
        <name>Loop_SA_team</name>
        <label>Loop SA team</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_SA_team</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_SAPP_share</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Create_SAPP_share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SAPP_share</name>
        <label>Create SAPP share</label>
        <locationX>50</locationX>
        <locationY>1163</locationY>
        <inputReference>SAPPList</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_related_SAP</name>
        <label>Get related SAP</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_SAP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA</name>
        <label>Get SA</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_SAP.SalesAgreementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_team</name>
        <label>Get SA team</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SA_team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_SA.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Agreement_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_SAP</targetReference>
        </connector>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SAPPList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Product_Price__Share</objectType>
    </variables>
    <variables>
        <name>SAPPSingleList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Product_Price__Share</objectType>
    </variables>
</Flow>
