force-app/main/default/flows/Credit_note_chatter_notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Copy_1_of_Post_chatter</name>
        <label>Copy 1 of Post chatter</label>
        <locationX>461</locationX>
        <locationY>863</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Check_owner</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>chattermsg2</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Parent.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Post_chatter</name>
        <label>Post chatter</label>
        <locationX>164</locationX>
        <locationY>1895</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterMsg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Creator_name</name>
        <label>Assign Creator name</label>
        <locationX>32</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Creator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Creator_name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:User.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_chatter</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Creator_name</name>
        <label>Copy 1 of Assign Creator name</label>
        <locationX>296</locationX>
        <locationY>1679</locationY>
        <assignmentItems>
            <assignToReference>Creator</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Creator_name.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Owner:Group.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Post_chatter</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_current_case_status</name>
        <label>check current case status</label>
        <locationX>593</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Check_owner</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_closed</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Close</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_parent_customer_issue</targetReference>
            </connector>
            <label>if closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_the_record_type_matches</name>
        <label>Check if the record type matches</label>
        <locationX>840</locationX>
        <locationY>503</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>credit_note</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Credit_note_record_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_current_case_status</targetReference>
            </connector>
            <label>credit note</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_owner</name>
        <label>Check owner</label>
        <locationX>593</locationX>
        <locationY>1079</locationY>
        <defaultConnectorLabel>Other</defaultConnectorLabel>
        <rules>
            <name>PMA_Billing_Coordinators</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Approved</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Creator_name</targetReference>
            </connector>
            <label>PMA_Billing_Coordinators</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_user_queue</name>
        <label>check user/queue</label>
        <locationX>164</locationX>
        <locationY>1559</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Assign_Creator_name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>queue</defaultConnectorLabel>
        <rules>
            <name>user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Owner:User.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Creator_name</targetReference>
            </connector>
            <label>user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Record_found</name>
        <label>Record found?</label>
        <locationX>362</locationX>
        <locationY>1439</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Pending_approval_Step</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_user_queue</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <description>Close case added as part of 23-00002213</description>
    <environments>Default</environments>
    <interviewLabel>Credit note chatter notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit note chatter notification and close case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Creator_name</name>
        <label>Get Creator name</label>
        <locationX>362</locationX>
        <locationY>1199</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Pending_approval_Step</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.CreatedById</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Credit_note_record_type</name>
        <label>Get Credit note record type</label>
        <locationX>840</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_the_record_type_matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Pending_approval_Step</name>
        <label>Get Pending approval Step</label>
        <locationX>362</locationX>
        <locationY>1319</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Record_found</targetReference>
        </connector>
        <filterLogic>1 AND (2 OR 3)</filterLogic>
        <filters>
            <field>TargetObjectId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Started</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ProcessInstance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_parent_customer_issue</name>
        <label>update parent customer issue</label>
        <locationX>461</locationX>
        <locationY>743</locationY>
        <connector>
            <targetReference>Copy_1_of_Post_chatter</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ParentId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <start>
        <locationX>714</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Credit_note_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0125q000000kE8eAAE</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterMsg</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!Creator}, 
{!Owner} Queue Member has submitted the record for approval to PMA_Billing_Coordinators queue.</text>
    </textTemplates>
    <textTemplates>
        <name>chattermsg2</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi,

The credit request case is now closed. To see the related details, you can access the credit request case by going to the &quot;Related Cases&quot; in the Related List tab. 

Thank you for raising this customer issue. We are now closing this case.

Thank you!</text>
    </textTemplates>
    <variables>
        <name>Creator</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>OwnerQueue</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
