force-app/main/default/flows/Customer_Onboarding_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Create_Customer_Onboarding_Case_Opp</name>
        <label>Create Customer Onboarding Case Opp</label>
        <locationX>466</locationX>
        <locationY>1384</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>VarnewCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_if_Account</name>
        <label>Check if Account</label>
        <locationX>766</locationX>
        <locationY>206</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account</targetReference>
            </connector>
            <label>Account ID</label>
        </rules>
        <rules>
            <name>Opportunity_ID</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>006</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Opportunity</targetReference>
            </connector>
            <label>Opportunity ID</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_Id_check</name>
        <label>Contact Id check</label>
        <locationX>183</locationX>
        <locationY>806</locationY>
        <defaultConnector>
            <targetReference>Get_customer_onboarding_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Id not null</defaultConnectorLabel>
        <rules>
            <name>ContactId_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ContactOppOutput</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact</targetReference>
            </connector>
            <label>ContactId Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Contact_Id_check</name>
        <label>Copy 1 of Contact Id check</label>
        <locationX>887</locationX>
        <locationY>686</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_customer_onboarding_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact Id not null</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ContactId_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>VarContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_contact_for_opp</targetReference>
            </connector>
            <label>Copy 1 of ContactId Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_for_account</name>
        <label>null check for account</label>
        <locationX>337</locationX>
        <locationY>566</locationY>
        <defaultConnectorLabel>rec not found</defaultConnectorLabel>
        <rules>
            <name>rec_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Onboarding_Case</targetReference>
            </connector>
            <label>rec found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Customer Onboarding Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Onboarding Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Customer_Onboarding_Case</name>
        <label>Copy 1 of Create Customer Onboarding Case</label>
        <locationX>756</locationX>
        <locationY>1135</locationY>
        <assignRecordIdToReference>VarnewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Copy_1_of_Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>VarContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please take care of the onboarding of this new customer! Thank you!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Please take care of the onboarding of this new customer!Thank you!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Imerys_Manufacturing_Plant__c</field>
            <value>
                <elementReference>VarImerysSite</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Get_customer_onboarding_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Customer Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Customer_Onboarding_Case</name>
        <label>Create Customer Onboarding Case</label>
        <locationX>51</locationX>
        <locationY>1216</locationY>
        <assignRecordIdToReference>VarnewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactOppOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Please take care of the onboarding of this new customer! Thank you!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <stringValue>Please take care of the onboarding of this new customer!Thank you!</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Imerys_Manufacturing_Plant__c</field>
            <value>
                <elementReference>ImerysSiteOppOutput</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_customer_onboarding_record_type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>New Customer Onboarding</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_customer_onboarding_record_type</name>
        <label>Copy 1 of Get customer onboarding record type</label>
        <locationX>754</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_Customer_Onboarding_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Account</name>
        <label>Get Account</label>
        <locationX>337</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_customer_onboarding_record_type</name>
        <label>Get customer onboarding record type</label>
        <locationX>50</locationX>
        <locationY>1062</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Customer_Onboarding_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Onboarding</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>887</locationX>
        <locationY>326</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_Record</name>
        <label>Get Opportunity Record</label>
        <locationX>337</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_for_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputReference>AccColVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_Related_Account</name>
        <label>Get Related Account</label>
        <locationX>887</locationX>
        <locationY>446</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Customer_Onboarding_Case_Opportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Opportunity.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Final_Screen</name>
        <label>Copy 1 of Final Screen</label>
        <locationX>763</locationX>
        <locationY>1296</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Customer_Onboarding_Case_Opp</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Success</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer Onboarding Case is created successfully!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Onboarding_Case</name>
        <label>Customer Onboarding Case</label>
        <locationX>183</locationX>
        <locationY>686</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Contact_Id_check</targetReference>
        </connector>
        <fields>
            <name>Opportunity</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Opportunity__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ContactId</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>ContactOppOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactOppOutput</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ImerysSite</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Imerys_Site__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Imerys Selling Entity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>ImerysSiteOppOutput</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ImerysSiteOppOutput</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Customer_Onboarding_Case_Opportunity</name>
        <label>Customer Onboarding Case Opportunity</label>
        <locationX>887</locationX>
        <locationY>566</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Contact_Id_check</targetReference>
        </connector>
        <fields>
            <name>OppLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Opportunity Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>defaultValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>AccountId</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Opportunity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Get_Opportunity.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Get_Opportunity.AccountId</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ContactIdOpp</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact Name</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Related_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarContactId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarContactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>ImerysSiteOpp</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Imerys_Site__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Imerys Selling Entity</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>VarImerysSite</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>VarImerysSite</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>225</locationX>
        <locationY>1301</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Customer_Onboarding_Case_Opp</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Customer Onboarding Case is created successfully!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>640</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Check_if_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_contact</name>
        <label>Create contact</label>
        <locationX>51</locationX>
        <locationY>926</locationY>
        <connector>
            <targetReference>Get_customer_onboarding_record_type</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ContactOppOutput</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_contact_for_opp</name>
        <label>Create contact for opp</label>
        <locationX>755</locationX>
        <locationY>806</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_customer_onboarding_record_type</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>VarContactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AccColVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>AccountOppOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactOppOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ImerysSiteOppOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarAcctId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarImerysSite</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarnewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
