force-app/main/default/flows/Customer_Onboarding_Form.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Customer_Onboarding_case_owner_notification</name>
        <label>Customer Onboarding case owner notification</label>
        <locationX>487</locationX>
        <locationY>1067</locationY>
        <actionName>Case.Customer_Onboarding_case_owner_notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>Get_Related_Case_Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_case_number</name>
        <label>Check case number</label>
        <locationX>609</locationX>
        <locationY>366</locationY>
        <defaultConnectorLabel>Case num null</defaultConnectorLabel>
        <rules>
            <name>Case_num_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Case_Reference</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Related_Case_Record</targetReference>
            </connector>
            <label>Case num not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_case</name>
        <label>Null check for case</label>
        <locationX>386</locationX>
        <locationY>517</locationY>
        <defaultConnector>
            <targetReference>screen3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record not Found</defaultConnectorLabel>
        <rules>
            <name>record_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Case_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Customer_Onboarding</targetReference>
            </connector>
            <label>record found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>DeliveryAppointment</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Delivery_Appointement__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EDI_CapableChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EDI_Capable__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EDIforOrderEntryandInvoicingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>EDI_for_OrderEntry_and_or_Invoicing__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>InvoicePortal</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Invoice_Portal__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>PreferredEquipmenttodeterminepayload</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Preferred_Equipment_to_determine_payload__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TaxExempt_ShipToChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Tax_Exempt_Ship_To__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Typeof_InvoicingChoice</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type_of_Invoicing__c</picklistField>
        <picklistObject>Customer_Onboarding__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Customer Onboarding Form {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Customer Onboarding Form</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Customer_Onboarding</name>
        <label>Create Customer Onboarding</label>
        <locationX>491</locationX>
        <locationY>637</locationY>
        <assignRecordIdToReference>CusOnBoardVar</assignRecordIdToReference>
        <connector>
            <targetReference>Screen2</targetReference>
        </connector>
        <inputAssignments>
            <field>Accept_Emailed_Invoices_Email__c</field>
            <value>
                <elementReference>Accept_Emailed_Invoices_Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Payable_Department_Contact_func__c</field>
            <value>
                <elementReference>Accounts_Payable_Department_Contact_function</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Payable_Department_Email__c</field>
            <value>
                <elementReference>AccountPayableDepartmentEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Payable_Department_Name__c</field>
            <value>
                <elementReference>Accounts_Payable_Department_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Payable_Department_Phone__c</field>
            <value>
                <elementReference>AccountsPayableDepartmentPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Accounts_Payable_Dpt_Invoices_emailed_to__c</field>
            <value>
                <elementReference>Accounts_Payable_Department_Invoices_emailed_to</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_hours_emergency_contact_Cell__c</field>
            <value>
                <elementReference>AfterhoursemergencycontactCell.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>After_hours_emergency_contact_Name__c</field>
            <value>
                <elementReference>After_hours_Emergency_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOL_Recipient_Name__c</field>
            <value>
                <elementReference>BOL_Recipient_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BOL_recipient_Email__c</field>
            <value>
                <elementReference>BOLRecipientEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Address__c</field>
            <value>
                <elementReference>Bill_To_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Email__c</field>
            <value>
                <elementReference>BillToEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Name__c</field>
            <value>
                <elementReference>BillToName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Bill_to_Phone__c</field>
            <value>
                <elementReference>BillToPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Care_of_Party__c</field>
            <value>
                <elementReference>Care_for_Party</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Company_Name__c</field>
            <value>
                <elementReference>Company_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignee_Address__c</field>
            <value>
                <elementReference>Consignee_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignee_Email__c</field>
            <value>
                <elementReference>ConsigneeEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignee_Name__c</field>
            <value>
                <elementReference>Consignee_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Consignee_Phone__c</field>
            <value>
                <elementReference>ConsigneePhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_to_setup_portal_Email__c</field>
            <value>
                <elementReference>ContacttosetupPortalEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_to_setup_portal_Name__c</field>
            <value>
                <elementReference>Contact_to_setup_Portal_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_to_setup_portal_Phone__c</field>
            <value>
                <elementReference>ContacttosetupPortalPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Broker_Email__c</field>
            <value>
                <elementReference>CustomBrokerEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Broker_Name__c</field>
            <value>
                <elementReference>Custom_Broker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Custom_Broker_Phone__c</field>
            <value>
                <elementReference>CustomBrokerPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Delivery_Appointement__c</field>
            <value>
                <elementReference>Delivery_Appointment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drayage_Carrier_Inland_Email__c</field>
            <value>
                <elementReference>DrayagecarrierInlandEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drayage_Carrier_Inland_Name__c</field>
            <value>
                <elementReference>Drayage_Carrier_Inland_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Drayage_Carrier_Inland_Phone__c</field>
            <value>
                <elementReference>DrayagecarrierInlandPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDI_Capable__c</field>
            <value>
                <elementReference>EDI_Capable</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDI_Contact_Email__c</field>
            <value>
                <elementReference>EDIContactEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDI_Contact_Name__c</field>
            <value>
                <elementReference>EDI_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDI_Contact_Phone__c</field>
            <value>
                <elementReference>EDIContactPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EDI_for_OrderEntry_and_or_Invoicing__c</field>
            <value>
                <elementReference>EDI_for_OrderEntry_and_or_Invoicing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Equipment_type_requirements_restrictions__c</field>
            <value>
                <elementReference>Equipment_type_requirements_restrictions</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Freight_Forwarder__c</field>
            <value>
                <elementReference>Freight_Forwarder</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoterms__c</field>
            <value>
                <elementReference>Incoterms</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Address__c</field>
            <value>
                <elementReference>Invoice_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Invoice_Portal__c</field>
            <value>
                <elementReference>Invoice_Portal</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Technical_Department_COA_Recipient__c</field>
            <value>
                <elementReference>Lab_Technical_Department_COA_Recipient</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Technical_Department_Email__c</field>
            <value>
                <elementReference>LabTechnicalDepartmentEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Technical_Department_Name__c</field>
            <value>
                <elementReference>Lab_Technical_Department_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Lab_Technical_Department_Phone__c</field>
            <value>
                <elementReference>LabTechnicalDepartmentPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language_of_MSDS__c</field>
            <value>
                <elementReference>Language_of_MSDS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mexico_Freight_Broker_Name__c</field>
            <value>
                <elementReference>Mexico_Freight_Broker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mexico_Freight_Broker_Patente__c</field>
            <value>
                <elementReference>Mexico_Freight_Broker_Patente</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mexico_Rail_Shipments_Address__c</field>
            <value>
                <elementReference>Mexico_Rail_Shipments_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mexico_Rail_Shipments_Contact_Name__c</field>
            <value>
                <elementReference>Mexico_Rail_Shipments_Contact_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mexico_Rail_Shipments_Email__c</field>
            <value>
                <elementReference>MexicoRailShipmentsEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mexico_Rail_Shipments_Phone__c</field>
            <value>
                <elementReference>MexicoRailShipmentsPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Email__c</field>
            <value>
                <elementReference>NotifyEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Name__c</field>
            <value>
                <elementReference>Notify_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Party_1_Address__c</field>
            <value>
                <elementReference>Notify_Party_1_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Party_2_Address__c</field>
            <value>
                <elementReference>Notify_Party_2_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Party_Address_1_Name__c</field>
            <value>
                <elementReference>Notify_Party_Address_1_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Party_Address_2_Name__c</field>
            <value>
                <elementReference>Notify_Party_Address_2_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Notify_Phone__c</field>
            <value>
                <elementReference>NotifyPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Port_of_Unloading__c</field>
            <value>
                <elementReference>Port_of_Unloading</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Portal_Vendor__c</field>
            <value>
                <elementReference>Portal_Vendor</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Preferred_Equipment_to_determine_payload__c</field>
            <value>
                <elementReference>Preferred_Equipment_to_determine_payload</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Negotiator_Email__c</field>
            <value>
                <elementReference>PriceNegotiatorEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Negotiator_Name__c</field>
            <value>
                <elementReference>Price_Negotiator_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Price_Negotiator_Phone__c</field>
            <value>
                <elementReference>PriceNegotiatorPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchasing_Department_Email__c</field>
            <value>
                <elementReference>PurchasingDepartmentEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchasing_Department_Name__c</field>
            <value>
                <elementReference>Purchasing_Department_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Purchasing_Department_Phone__c</field>
            <value>
                <elementReference>PurchasingDepartmentPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rail_Destination_City__c</field>
            <value>
                <elementReference>Rail_Destination_City</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rail_Freight_Payer__c</field>
            <value>
                <elementReference>Rail_Freight_Payer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rail_Routing__c</field>
            <value>
                <elementReference>Rail_Routing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiving_contact_per_site_warehouse__c</field>
            <value>
                <elementReference>Receiving_contact_per_site_warehouse</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Request_Complaint__c</field>
            <value>
                <elementReference>Get_Related_Case_Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_port_of_entry__c</field>
            <value>
                <elementReference>Requested_port_of_Entry</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Address__c</field>
            <value>
                <elementReference>Ship_To_Address</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Email__c</field>
            <value>
                <elementReference>ShipToEmail.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Name__c</field>
            <value>
                <elementReference>Ship_To_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Ship_to_Phone__c</field>
            <value>
                <elementReference>ShipToPhone.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaxId_VATNo_RFC__c</field>
            <value>
                <elementReference>TaxId_VATNo_RFC</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tax_Exempt_Ship_To__c</field>
            <value>
                <elementReference>Tax_Exempt_Ship_To</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_Invoicing__c</field>
            <value>
                <elementReference>Type_of_Invoicing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>US_Freight_Broker_Name__c</field>
            <value>
                <elementReference>US_Freight_Broker_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_of_Measure__c</field>
            <value>
                <elementReference>Unit_of_Measure</elementReference>
            </value>
        </inputAssignments>
        <object>Customer_Onboarding__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Case_Record</name>
        <label>Get Related Case Record</label>
        <locationX>391</locationX>
        <locationY>362</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_for_case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>CaseNumber</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Case_Reference</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Customer_Onboarding_Form</name>
        <label>Customer Onboarding Form</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_case_number</targetReference>
        </connector>
        <fields>
            <name>GeneralInfoScreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;General Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Display1</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Please enter the related case number mentioned on the Email &lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Case_Reference</name>
            <dataType>String</dataType>
            <fieldText>Case Reference Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); color: rgb(68, 68, 68);&quot;&gt;Please enter the related case number mentioned on the Email &lt;/strong&gt;&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Company_Name</name>
            <dataType>String</dataType>
            <fieldText>Company Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Ship_To_Name</name>
            <dataType>String</dataType>
            <fieldText>Ship To Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>companycontactsscreen</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;&lt;span class=&quot;ql-cursor&quot;&gt;﻿&lt;/span&gt;Company Contacts&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Purchasing_Department_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Purchasing Department Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PurchasingDepartmentPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Purchasing Department Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PurchasingDepartmentEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Purchasing Department Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Price_Negotiator_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Price Negotiator Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>PriceNegotiatorPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Price Negotiator Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>PriceNegotiatorEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Price Negotiator Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Accounts_Payable_Department_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Accounts Payable Department Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Accounts_Payable_Department_Contact_function</name>
                    <dataType>String</dataType>
                    <fieldText>Accounts Payable Department Contact function</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Accounts_Payable_Department_Invoices_emailed_to</name>
                    <dataType>String</dataType>
                    <fieldText>Accounts Payable Department Invoices emailed to</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountsPayableDepartmentPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Accounts Payable Department Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>AccountPayableDepartmentEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Payable Department Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BOL_Recipient_Name</name>
                    <dataType>String</dataType>
                    <fieldText>BOL Recipient Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BOLRecipientEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>BOL Recipient Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Lab_Technical_Department_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Lab Technical Department Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Lab_Technical_Department_COA_Recipient</name>
                    <dataType>String</dataType>
                    <fieldText>Lab Technical Department COA Recipient</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Receiving_contact_per_site_warehouse</name>
                    <fieldText>Receiving contact per site/warehouse</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>LabTechnicalDepartmentPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lab Technical Department Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>LabTechnicalDepartmentEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Lab Technical Department Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>After_hours_Emergency_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>After hours Emergency Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section6_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AfterhoursemergencycontactCell</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>After hours emergency contact cell/home phone number</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Invoicingbillinginformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;Invoicing Billing Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillToName</name>
                    <dataType>String</dataType>
                    <fieldText>Bill To Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Bill_To_Address</name>
                    <fieldText>Bill To Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Invoice_Address</name>
                    <fieldText>Invoice Address(If different from Billing Address)</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>BillToPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bill To Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>BillToEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Bill To Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Accept_Emailed_Invoices_Email</name>
                    <fieldText>Do you accept emailed invoices? if yes please provide the email address:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Consignee_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Consignee Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ConsigneePhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consignee Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ConsigneeEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Consignee Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Notify_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Notify Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NotifyPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Notify Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>NotifyEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Notify Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>TaxId_VATNo_RFC</name>
                    <dataType>String</dataType>
                    <fieldText>TaxId/VATNo/RFC</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Tax_Exempt_Ship_To</name>
                    <choiceReferences>TaxExempt_ShipToChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Are you tax exempt for this ship to?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <helpText>&lt;p&gt;&lt;strong&gt;If so, please provide sales tax exemption certificate&lt;/strong&gt;&lt;/p&gt;</helpText>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Unit_of_Measure</name>
                    <dataType>String</dataType>
                    <fieldText>Unit of Measure(for orders &amp; invoicing):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Currency</name>
                    <dataType>String</dataType>
                    <fieldText>Currency</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Type_of_Invoicing</name>
                    <choiceReferences>Typeof_InvoicingChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Type of_Invoicing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>LogisticInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;Logistic Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Ship_To_NameDup</name>
                    <dataType>String</dataType>
                    <fieldText>Ship To Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Ship_To_Address</name>
                    <fieldText>Ship To Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Incoterms</name>
                    <dataType>String</dataType>
                    <fieldText>Incoterms</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Warehouse_hours_receiving_days_hours</name>
                    <dataType>DateTime</dataType>
                    <fieldText>Warehouse hours Receiving Days/Hours:</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Delivery_Appointment</name>
                    <choiceReferences>DeliveryAppointment</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Is a delivery appointment necessary?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Equipment_type_requirements_restrictions</name>
                    <fieldText>Please list any equipment type requirements or restrictions you have:</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Language_of_MSDS</name>
                    <dataType>String</dataType>
                    <fieldText>Language of MSDS</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section11_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ShipToPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Ship To Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ShipToEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Ship To Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>SystemInformation</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;System Information&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EDI_Capable</name>
                    <choiceReferences>EDI_CapableChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>EDI Capable</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EDI_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>EDI Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>EDI_for_OrderEntry_and_or_Invoicing</name>
                    <choiceReferences>EDIforOrderEntryandInvoicingChoice</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>EDI for OrderEntry and/or_Invoicing</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>EDIContactPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>EDI Contact Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>EDIContactEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>EDI Contact Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Invoice_Portal</name>
                    <choiceReferences>InvoicePortal</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Invoice Portal</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Portal_Vendor</name>
                    <dataType>String</dataType>
                    <fieldText>Portal Vendor</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Contact_to_setup_Portal_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Contact to setup Portal Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ContacttosetupPortalPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact to setup Portal Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>ContacttosetupPortalEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Contact to setup Portal Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Imports</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;Imports&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Requested_port_of_Entry</name>
                    <dataType>String</dataType>
                    <fieldText>Requested port of Entry</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Drayage_Carrier_Inland_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Drayage Carrier Inland Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DrayagecarrierInlandPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Drayage carrier Inland Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>DrayagecarrierInlandEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Drayage carrier Inland Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Custom_Broker_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Custom Broker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Consignee_Address</name>
                    <fieldText>Consignee Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomBrokerPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Custom Broker Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>CustomBrokerEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Custom Broker Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Exports</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;Exports&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section17</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section17_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Port_of_Unloading</name>
                    <dataType>String</dataType>
                    <fieldText>Port of Unloading</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notify_Party_Address_1_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Notify Party Address 1 Name(if any):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notify_Party_Address_2_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Notify Party Address 2 Name(if any):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Freight_Forwarder</name>
                    <dataType>String</dataType>
                    <fieldText>Freight Forwarder(If incoterm is Exworks Plant):</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section17_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Preferred_Equipment_to_determine_payload</name>
                    <choiceReferences>PreferredEquipmenttodeterminepayload</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Preferred Equipment to determine payload</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notify_Party_1_Address</name>
                    <fieldText>Notify Party 1 Address(if any):</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Notify_Party_2_Address</name>
                    <fieldText>Notify Party 2 Address(if any);</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>MexicoRailShipments</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;background-color: rgb(255, 255, 255); font-size: 12px; font-family: &amp;quot;Google Sans&amp;quot;, Roboto, sans-serif; color: rgb(31, 31, 31);&quot;&gt;Mexico Rail Shipments&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section18</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section18_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Mexico_Rail_Shipments_Contact_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Mexico Rail Shipments Contact Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mexico_Rail_Shipments_Address</name>
                    <fieldText>Mexico Rail Shipments Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Rail_Freight_Payer</name>
                    <dataType>String</dataType>
                    <fieldText>Rail Freight Payer</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section18_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>MexicoRailShipmentsPhone</name>
                    <extensionName>flowruntime:phone</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mexico Rail Shipments Phone</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>MexicoRailShipmentsEmail</name>
                    <extensionName>flowruntime:email</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Mexico Rail Shipments Email</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Customer_Onboarding_Form_Section19</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>Customer_Onboarding_Form_Section19_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>US_Freight_Broker_Name</name>
                    <dataType>String</dataType>
                    <fieldText>US Freight Broker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mexico_Freight_Broker_Name</name>
                    <dataType>String</dataType>
                    <fieldText>Mexico Freight Broker Name</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mexico_Freight_Broker_Patente</name>
                    <dataType>String</dataType>
                    <fieldText>Mexico Freight Broker Patente #</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Rail_Routing</name>
                    <dataType>String</dataType>
                    <fieldText>Rail Routing</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Rail_Destination_City</name>
                    <dataType>String</dataType>
                    <fieldText>Rail Destination City</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>Customer_Onboarding_Form_Section19_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>US_Freight_Broker_Address</name>
                    <fieldText>US Freight Broker Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Mexico_Freight_Broker_Address</name>
                    <fieldText>Mexico Freight Broker Address</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Care_for_Party</name>
                    <fieldText>Care for Party(if any):</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2</name>
        <label>Screen2</label>
        <locationX>489</locationX>
        <locationY>800</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Success_Screen</targetReference>
        </connector>
        <fields>
            <name>Upload_Files</name>
            <extensionName>forceContent:fileUpload</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Upload Files</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>accept</name>
                <value>
                    <stringValue>.png,.jpg,.pdf</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>multiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>contentDocIds</name>
                <value>
                    <elementReference>ContentDocumentIds</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>CusOnBoardVar</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>File_Format_Output</assignToReference>
                <name>accept</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>ContentDocumentIds</assignToReference>
                <name>contentDocIds</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>CusOnBoardVar</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen3</name>
        <label>screen3</label>
        <locationX>277</locationX>
        <locationY>630</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Onboarding_Form</targetReference>
        </connector>
        <fields>
            <name>Display3</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Case Reference number is incorrect!!&lt;/strong&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;strong&gt;Please enter the valid case reference number mentioned in the email.&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Success_Screen</name>
        <label>Success Screen</label>
        <locationX>485</locationX>
        <locationY>941</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Customer_Onboarding_case_owner_notification</targetReference>
        </connector>
        <fields>
            <name>Screen4</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Thank you for the information!!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Customer_Onboarding_Form</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>ContentDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CusOnBoardVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>File_Format_Output</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
