force-app/main/default/flows/Data_Feedback_Loop_Creation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>create_record</name>
        <label>create record</label>
        <locationX>588</locationX>
        <locationY>614</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>DLFId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>302</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Create_Data_Feedback_Loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check_field_Missing_PRISM_Account_and_code</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>Missing_PRISM_Account_and_code</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Issue_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I do not see all accounts as part of my Key Account Scope</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Issue_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>I do not see all my accounts</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_screen</targetReference>
            </connector>
            <label>check field Missing PRISM Account (and code)</label>
        </rules>
        <rules>
            <name>If_Issue_Type_equals_Missing_Freight_Rate_ZPT3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Issue_Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Missing Freight Rate (ZPT3)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_message</targetReference>
            </connector>
            <label>If Issue Type equals Missing Freight Rate (ZPT3)</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessAreaSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Business_Area__c</picklistField>
        <picklistObject>Data_Feedback_Loop__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IssueTypeSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Issue_Type__c</picklistField>
        <picklistObject>Data_Feedback_Loop__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>StatusSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Data_Feedback_Loop__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>BA</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.NewBusinessArea__c})</expression>
    </formulas>
    <interviewLabel>Data Feedback Loop Creation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Data Feedback Loop Creation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Data_Feedback_Loop</name>
        <label>Create Data Feedback Loop</label>
        <locationX>588</locationX>
        <locationY>506</locationY>
        <assignRecordIdToReference>DLFId</assignRecordIdToReference>
        <connector>
            <targetReference>create_record</targetReference>
        </connector>
        <inputAssignments>
            <field>Account_Manager_this_account_relate_to__c</field>
            <value>
                <elementReference>AccountManagerthisaccountrelateto.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Area__c</field>
            <value>
                <elementReference>Business_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Extra_information__c</field>
            <value>
                <elementReference>Extra_information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Issue_Type__c</field>
            <value>
                <elementReference>Issue_Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Key_Account_this_account_belong_to__c</field>
            <value>
                <elementReference>KeyAccountthisaccountbelongto.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_PRISM_Account_and_code__c</field>
            <value>
                <elementReference>Missing_PRISM_Account_and_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Missing_information__c</field>
            <value>
                <elementReference>Missing_information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Account_this_account_belong_to__c</field>
            <value>
                <elementReference>ParentAccountthisaccountbelongto.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_CRM_Account_and_code__c</field>
            <value>
                <elementReference>RelatedCRMAccountandcode.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_ERP_Account_and_code__c</field>
            <value>
                <elementReference>Related_ERP_Account_and_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_PRISM_Account_and_code__c</field>
            <value>
                <elementReference>Related_PRISM_Account_and_code</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Sales_Agreement_Product_Number__c</field>
            <value>
                <elementReference>Related_Sales_Agreement_Product_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <object>Data_Feedback_Loop__c</object>
    </recordCreates>
    <recordLookups>
        <name>Get_current_user_id</name>
        <label>Get current user id</label>
        <locationX>456</locationX>
        <locationY>182</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Data_Feedback_Loop</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Error_message</name>
        <label>Error message</label>
        <locationX>213</locationX>
        <locationY>401</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Display_Informations</name>
            <fieldText>&lt;p&gt;  &amp;nbsp;(1) Account manager this account relates to&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;(2) Related sales agreement number&amp;nbsp;&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;(3) Relates sales agreement product number&lt;/p&gt;&lt;p&gt;&amp;nbsp;&amp;nbsp;&amp;nbsp;(4) Extra information&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_screen</name>
        <label>Error screen</label>
        <locationX>381</locationX>
        <locationY>457</locationY>
        <allowBack>true</allowBack>
        <allowFinish>false</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>New_Data_Feedback_Loop</targetReference>
        </connector>
        <fields>
            <name>Erorr</name>
            <fieldText>&lt;p&gt;&lt;strong style=&quot;color: rgb(0, 0, 0); font-size: 10pt; font-family: Arial;&quot;&gt;&quot;Missing PRISM Account (and code)&quot; field is mandatory!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Data_Feedback_Loop</name>
        <label>New Data Feedback Loop</label>
        <locationX>548</locationX>
        <locationY>290</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <fields>
            <name>Owner</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_current_user_id.Name</elementReference>
            </defaultValue>
            <fieldText>Owner</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Business_Area</name>
            <choiceReferences>BusinessAreaSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Get_current_user_id.NewBusinessArea__c</elementReference>
            </defaultValue>
            <fieldText>Business Area</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Issue_Type</name>
            <choiceReferences>IssueTypeSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Issue Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Status</name>
            <choiceReferences>StatusSet</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>New</stringValue>
            </defaultValue>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Missing_PRISM_Account_and_code</name>
            <dataType>String</dataType>
            <fieldText>Missing PRISM Account (and code)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Please tell me the PRISM ID and the PRISM account name of the accounts that you are missing&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I do not see all my accounts</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I do not see all accounts as part of my Key Account Scope</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Extra_information</name>
            <fieldText>Extra information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Please tell me anything else you think will be useful in resolving this issue (the more you are able to give, the easier and quicker the issue will be resolved)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I do not see all my accounts</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I see accounts that are not mine</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer grouping is incorrect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer group/parent account is missing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I do not see all accounts as part of my Key Account Scope</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The ERP listed on the record is incorrect (P2Q)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Their is a problem with the product information listed on the record (P2Q)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Related_PRISM_Account_and_code</name>
            <dataType>String</dataType>
            <fieldText>Related PRISM Account (and code)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Please tell me the PRISM ID and the PRISM account name of the account that are not yours&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I see accounts that are not mine</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer grouping is incorrect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer group/parent account is missing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Missing / Wrong data in my accounts</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>RelatedCRMAccountandcode</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Related_CRM_Account_and_code__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Related CRM Account (and code)</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Data_Feedback_Loop__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I see accounts that are not mine</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer grouping is incorrect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer group/parent account is missing</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I do not see all accounts as part of my Key Account Scope</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Missing / Wrong data in my accounts</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AccountManagerthisaccountrelateto</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account Manager this account relate to</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Data_Feedback_Loop__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account_Manager_this_account_relate_to__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>ParentAccountthisaccountbelongto</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Parent_Account_this_account_belong_to__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Parent Account this account belong to</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Data_Feedback_Loop__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer group/parent account is missing</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>KeyAccountthisaccountbelongto</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Key Account this account belong to</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Data_Feedback_Loop__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Key_Account_this_account_belong_to__c</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The customer grouping is incorrect</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>I do not see all accounts as part of my Key Account Scope</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Related_Sales_Agreement_Product_Number</name>
            <dataType>String</dataType>
            <fieldText>Related Sales Agreement Product Number</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Please tell me the Sales Agreement Product Number you are referring to&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The ERP listed on the record is incorrect (P2Q)</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Their is a problem with the product information listed on the record (P2Q)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Related_ERP_Account_and_code</name>
            <dataType>String</dataType>
            <fieldText>Related ERP Account (and code)</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Please tell me the correct ERP for this record&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>The ERP listed on the record is incorrect (P2Q)</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Missing_information</name>
            <fieldText>Missing information</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>&lt;p&gt;&lt;span style=&quot;font-family: Arial; font-size: 11pt; color: rgb(0, 0, 0);&quot;&gt;Please explain in as much detail as possible what your data issue is (the more you are able to give, the easier and quicker the issue will be resolved)&lt;/span&gt;&lt;/p&gt;</helpText>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>or</conditionLogic>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Missing / Wrong data in my accounts</stringValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>Issue_Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Other</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_current_user_id</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>DLFId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
