force-app/main/default/flows/Delete_account_manager_and_BA.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_to_var</name>
        <label>assign to var</label>
        <locationX>264</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>singleVarPicklist</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>loop_BAs.BusinessArea__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAccManagers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>accountMnagerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_BAs</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_for_deleting_record</name>
        <label>check for deleting record</label>
        <locationX>396</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>loop_BAs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>loop_BAs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_to_var</targetReference>
            </connector>
            <label>check</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>accountMnagerName</name>
        <dataType>String</dataType>
        <expression>{!loop_BAs.AccountManager__r.FirstName}+&quot; &quot;+{!loop_BAs.AccountManager__r.LastName}+&quot; ; &quot;</expression>
    </formulas>
    <interviewLabel>Delete account manager and BA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Delete account manager and BA</label>
    <loops>
        <name>loop_BAs</name>
        <label>loop BAs</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>get_rela_BAs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>check_for_deleting_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updateAccount</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_rela_BAs</name>
        <label>get rela BAs</label>
        <locationX>176</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_BAs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountName__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>updateAccount</name>
        <label>updateAccount</label>
        <locationX>176</locationX>
        <locationY>983</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountName__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Manager_Rel_BA__c</field>
            <value>
                <elementReference>storeAccManagers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Areas__c</field>
            <value>
                <elementReference>singleVarPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_rela_BAs</targetReference>
        </connector>
        <object>Relationship__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>singleVarPicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeAccManagers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
