force-app/main/default/flows/Edit_Imerys_product_on_Opportunities.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_it_to_collection</name>
        <label>Assign it to collection</label>
        <locationX>758</locationX>
        <locationY>687</locationY>
        <assignmentItems>
            <assignToReference>RecordCollectionVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FirstIds</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RemoveFirstID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_other_values_if_any</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_selected_ids</name>
        <label>assign selected ids</label>
        <locationX>616</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Products</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>selectedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>;</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_it_to_collection</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_other_values_if_any</name>
        <label>Check other values if any</label>
        <locationX>613</locationX>
        <locationY>810</locationY>
        <defaultConnector>
            <targetReference>Update_Opp_Product</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>no values</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>selectedIds</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Assign_it_to_collection</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Opp_Products_found</name>
        <label>Opp Products found?</label>
        <locationX>435</locationX>
        <locationY>393</locationY>
        <defaultConnector>
            <targetReference>no_products_display_screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>Yes_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Opportunity_products</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen_1</targetReference>
            </connector>
            <label>Yes available</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>OppProdListVar</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <object>OpportunityLineItem</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Asc</sortOrder>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>OppProductList</name>
        <collectionReference>OppProdList</collectionReference>
        <dataType>String</dataType>
        <displayField>Opportunity_Product_Number__c</displayField>
        <object>OpportunityLineItem</object>
        <valueField>Opportunity_Product_Number__c</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Packaging</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Packaging__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductForm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductForm__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Technicalstatus</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Technical_Status__c</picklistField>
        <picklistObject>OpportunityLineItem</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>FirstIds</name>
        <dataType>String</dataType>
        <expression>TRIM(LEFT({!selectedIds}, FIND(&quot;;&quot;, {!selectedIds})-1))</expression>
    </formulas>
    <formulas>
        <name>RemoveFirstID</name>
        <dataType>String</dataType>
        <expression>TRIM(SUBSTITUTE({!selectedIds},{!FirstIds}+&quot;;&quot;,&quot;&quot;))</expression>
    </formulas>
    <interviewLabel>Edit Imerys product on Opportunities {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Edit Imerys product on Opportunities</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity</name>
        <label>Get Opportunity</label>
        <locationX>616</locationX>
        <locationY>206</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Opportunity_products</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Opportunity_products</name>
        <label>Get Opportunity products</label>
        <locationX>439</locationX>
        <locationY>251</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Opp_Products_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>OpportunityId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>OpportunityLineItem</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Opp_Product</name>
        <label>Update Opp Product</label>
        <locationX>620</locationX>
        <locationY>1056</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>RecordCollectionVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Packaging__c</field>
            <value>
                <elementReference>Packagingg</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForm__c</field>
            <value>
                <elementReference>ProductForm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Status__c</field>
            <value>
                <stringValue>Qualified</stringValue>
            </value>
        </inputAssignments>
        <object>OpportunityLineItem</object>
    </recordUpdates>
    <screens>
        <name>no_products_display_screen</name>
        <label>no products display screen</label>
        <locationX>229</locationX>
        <locationY>383</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>screen3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 245, 247); font-size: 14px; font-family: &amp;quot;Maven Pro&amp;quot;, &amp;quot;Segoe UI&amp;quot;, &amp;quot;Myriad Pro&amp;quot;, Avenir, &amp;quot;Gill Sans&amp;quot;, &amp;quot;Gill Sans MT&amp;quot;, Calibri, sans-serif; color: rgb(33, 37, 41);&quot;&gt;There is currently no Selected Imerys Product, please add product before using this button.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen_1</name>
        <label>Screen 1</label>
        <locationX>616</locationX>
        <locationY>326</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>screen_2</targetReference>
        </connector>
        <fields>
            <name>Products</name>
            <choiceReferences>OppProdListVar</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Products</fieldText>
            <fieldType>MultiSelectCheckboxes</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>screen_2</name>
        <label>screen 2</label>
        <locationX>616</locationX>
        <locationY>446</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>assign_selected_ids</targetReference>
        </connector>
        <fields>
            <name>Technical_Status</name>
            <choiceReferences>Technicalstatus</choiceReferences>
            <dataType>String</dataType>
            <defaultValue>
                <stringValue>Qualified</stringValue>
            </defaultValue>
            <fieldText>Technical Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Packagingg</name>
            <choiceReferences>Packaging</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Packaging</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Product_Form</name>
            <choiceReferences>ProductForm</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Product Form</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Opportunity</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>OppProdList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>ProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>RecordCollectionVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>selectedIds</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
