force-app/main/default/flows/Email_Alert_Data_feedback_loop_flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Send_Email_to_Creator_when_status_is_closed</name>
        <label>Send Email to Creator when status is closed</label>
        <locationX>490</locationX>
        <locationY>431</locationY>
        <actionName>Data_Feedback_Loop__c.Notification_to_Creator_when_closed</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Data_Feedback_Loop__c.Notification_to_Creator_when_closed</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <actionCalls>
        <name>Send_Email_To_Gatekeeper</name>
        <label>Send Email To Gatekeeper</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <actionName>Data_Feedback_Loop__c.Notification_to_Gatekeeper</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Data_Feedback_Loop__c.Notification_to_Gatekeeper</nameSegment>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>is_Status_New_or_Closed</name>
        <label>is Status New or Closed?</label>
        <locationX>468</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_New</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>New</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Verify_the_Business_Area_and_Issue_Type</targetReference>
            </connector>
            <label>If Status is New</label>
        </rules>
        <rules>
            <name>If_Status_is_Closed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Closed(Closed)</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_Email_to_Creator_when_status_is_closed</targetReference>
            </connector>
            <label>If Status is Closed</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_the_Business_Area_and_Issue_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Change_the_owner_to_Gatekeeper</targetReference>
            </connector>
            <label>available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Email Alert Data feedback loop flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Email Alert Data feedback loop flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Verify_the_Business_Area_and_Issue_Type</name>
        <label>Verify the Business Area and Issue Type</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>case loop</stringValue>
            </value>
        </filters>
        <filters>
            <field>BusinessArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Business_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Issue_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Issue_Type__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GatekeeperAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Change_the_owner_to_Gatekeeper</name>
        <label>Change the owner to Gatekeeper</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Send_Email_To_Gatekeeper</targetReference>
        </connector>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>Verify_the_Business_Area_and_Issue_Type.Gatekeeper__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>342</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>is_Status_New_or_Closed</targetReference>
        </connector>
        <object>Data_Feedback_Loop__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
