force-app/main/default/flows/Flow_Create_Credit_Note.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>Credit_Note_Queue_Member_Notify</name>
        <label>Credit Note Queue Member Notify</label>
        <locationX>182</locationX>
        <locationY>2006</locationY>
        <actionName>Case.Credit_Note_Queue_Member_Notify</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>postToChatter</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>list_view</name>
        <label>list view</label>
        <locationX>182</locationX>
        <locationY>2366</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>url</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationUrl</name>
            <value>
                <elementReference>listview</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Open_Case</name>
        <label>Open Case</label>
        <locationX>182</locationX>
        <locationY>2246</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>postToChatter</name>
        <label>postToChatter</label>
        <locationX>182</locationX>
        <locationY>2126</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Open_Case</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>frmPostToChatter</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <choices>
        <name>Invoice</name>
        <choiceText>Invoice</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Invoice</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Purchase_Order</name>
        <choiceText>Purchase Order</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Purchase Order</stringValue>
        </value>
    </choices>
    <decisions>
        <name>compare_input_with_fields_on_credit_issue</name>
        <label>compare input with fields on credit issue</label>
        <locationX>182</locationX>
        <locationY>1670</locationY>
        <defaultConnector>
            <targetReference>Credit_Note_Queue_Member_Notify</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>compare_invoice_and_sales_order</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Invoice_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getCase.InvoiceNumber__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Sales_Order_Number</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getCase.SalesOrderNumber__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_parent_customer_issue</targetReference>
            </connector>
            <label>compare invoice and sales order</label>
        </rules>
    </decisions>
    <decisions>
        <name>creator_is_user</name>
        <label>creator is user</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <defaultConnector>
            <targetReference>compare_input_with_fields_on_credit_issue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_creator_is_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmQueueOwner</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>getUser.CreatedBy.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>xyz</targetReference>
            </connector>
            <label>If creator is user</label>
        </rules>
    </decisions>
    <decisions>
        <name>Invoice_Exist</name>
        <label>Invoice Exist</label>
        <locationX>182</locationX>
        <locationY>878</locationY>
        <defaultConnector>
            <targetReference>Create_Case_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varInvoiceInfoId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Warning</targetReference>
            </connector>
            <label>Exist</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxCriticality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyClaimedAmount__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxInsurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeclarationToInsurance__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxLiability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Potential_Liability__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxTiming</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Timing__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>constantLineBreak</name>
        <dataType>String</dataType>
        <expression>BR()</expression>
    </formulas>
    <formulas>
        <name>frmBusinessArea</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.NewBusinessArea__c})</expression>
    </formulas>
    <formulas>
        <name>frmDateCreated</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Flow.CurrentDate}),
    NULL,
    CASE(
        MONTH({!$Flow.CurrentDate}),
        1, &quot;January&quot;,
        2, &quot;February&quot;,
        3, &quot;March&quot;,
        4, &quot;April&quot;,
        5, &quot;May&quot;,
        6, &quot;June&quot;,
        7, &quot;July&quot;,
        8, &quot;August&quot;,
        9, &quot;September&quot;,
        10, &quot;October&quot;,
        11, &quot;November&quot;,
        12, &quot;December&quot;,
        &quot;None&quot;
    ) &amp; &quot; &quot; &amp; TEXT(DAY({!$Flow.CurrentDate})) &amp; &quot;, &quot; &amp; TEXT(YEAR({!$Flow.CurrentDate}))
)</expression>
    </formulas>
    <formulas>
        <name>frmPostToChatter</name>
        <dataType>String</dataType>
        <expression>&quot;Created Date : &quot;&amp; {!frmDateCreated}&amp;{!constantLineBreak}&amp;{!constantLineBreak}&amp;
&quot;Type : &quot;&amp;{!getTypeAndSubType.Master__c}&amp;{!constantLineBreak}&amp;
&quot;Sub-Type : &quot;&amp;{!getTypeAndSubType.Slave__c}&amp;{!constantLineBreak}&amp;
&quot;Requested Credit Amount :  &quot;&amp; TEXT({!Requested_Credit_Amount})&amp;{!constantLineBreak}&amp;
&quot;Description :  &quot;&amp; {!Description}&amp;{!constantLineBreak}</expression>
    </formulas>
    <formulas>
        <name>frmQueueOwner</name>
        <dataType>String</dataType>
        <expression>CASE(TEXT({!getCase.BusinessArea__c}),
&quot;HTS&quot;,{!$Setup.QueueIds__c.HTS_BO_QueueId__c},
&quot;PM AMERICAS&quot;,{!$Setup.QueueIds__c.PMA_BO_QueueId__c},
&quot;PM APAC&quot;,{!$Setup.QueueIds__c.PMAPAC_BO_QueueId__c},
&quot;PM EMEA&quot;,{!$Setup.QueueIds__c.PMEMEA_BO_QueueId__c},
&quot;RAC&quot;,{!$Setup.QueueIds__c.RAC_BO_QueueId__c},
&quot;&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmRichTextValue</name>
        <dataType>String</dataType>
        <expression>LEFT(TRIM({!Description}),4000)</expression>
    </formulas>
    <formulas>
        <name>frmUserOrAccountManagerId</name>
        <dataType>String</dataType>
        <expression>If(ISBLANK({!getAccountManager.AccountManager__c}),{!$User.Id},{!getAccountManager.AccountManager__c})</expression>
    </formulas>
    <interviewLabel>Flow - Create Credit Note {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Credit Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Credit_Note_Queue_Member_Notify</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>getCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getCase.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>getCase.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CSAccountManager__c</field>
            <value>
                <elementReference>frmUserOrAccountManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimedAmount__c</field>
            <value>
                <elementReference>Requested_Credit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getCase.ContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Criticality_Assessment__c</field>
            <value>
                <elementReference>getCase.Criticality_Assessment__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DeclarationToInsurance__c</field>
            <value>
                <elementReference>getCase.DeclarationToInsurance__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frmRichTextValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>frmRichTextValue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InformContact__c</field>
            <value>
                <elementReference>Inform_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Liability_Amount__c</field>
            <value>
                <elementReference>getCase.Liability_Amount__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_1__c</field>
            <value>
                <elementReference>getUser.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>N_2__c</field>
            <value>
                <elementReference>getUser.Manager.ManagerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>getCase.Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>frmQueueOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Parent_Request__c</field>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Potential_Liability__c</field>
            <value>
                <elementReference>getCase.Potential_Liability__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>getCase.Priority</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>getCase.ProductName__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_Credit__c</field>
            <value>
                <elementReference>getCase.Reason_for_Credit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebill_Amount__c</field>
            <value>
                <elementReference>Rebill_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rebill_Needed__c</field>
            <value>
                <elementReference>Is_Rebill</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Case_Credit_Note__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Requested_Credit_amount__c</field>
            <value>
                <elementReference>Requested_Credit_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrderNumber__c</field>
            <value>
                <elementReference>Sales_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubType.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>getCase.Tech_RelationshipInformation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubType.Master__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>getAccountManager</name>
        <label>getAccountManager</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getUser</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.AccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.BusinessArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCase</name>
        <label>getCase</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrRequest</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getInvoiceInfo</name>
        <label>getInvoiceInfo</label>
        <locationX>182</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoice_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>InvoiceNumber__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.InvoiceNumber__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>frmRecordType__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Credit_Note</stringValue>
            </value>
        </filters>
        <filters>
            <field>InvoiceNumber__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <outputAssignments>
            <assignToReference>varInvoiceInfoId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubType</name>
        <label>getTypeAndSubType</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountManager</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varTypeSelected</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getUser</name>
        <label>getUser</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getInvoiceInfo</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>frmUserOrAccountManagerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_parent_customer_issue</name>
        <label>update parent customer issue</label>
        <locationX>50</locationX>
        <locationY>1790</locationY>
        <connector>
            <targetReference>Credit_Note_Queue_Member_Notify</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCase.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>InvoiceNumber__c</field>
            <value>
                <elementReference>Invoice_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrderNumber__c</field>
            <value>
                <elementReference>Sales_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrRequest</name>
        <label>scrRequest</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubType</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01_0_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Let&apos;s get this done {!$User.FirstName} !</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>qlType</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Credit_Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:custom41</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varTypeSelected</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varTypeSelected</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Requested_Credit_Amount</name>
            <dataType>Currency</dataType>
            <fieldText>Requested Credit Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>scrRequest_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrRequest_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Is_Rebill</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>false</booleanValue>
                    </defaultValue>
                    <fieldText>Is Rebill ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>Rebill_Amount</name>
                    <dataType>Currency</dataType>
                    <defaultValue>
                        <numberValue>0.0</numberValue>
                    </defaultValue>
                    <fieldText>Rebill Amount</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Is_Rebill</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <booleanValue>true</booleanValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrRequest_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Inform_Customer</name>
                    <dataType>Boolean</dataType>
                    <defaultValue>
                        <booleanValue>true</booleanValue>
                    </defaultValue>
                    <fieldText>Inform Customer ?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Description</name>
            <defaultValue>
                <stringValue>{!getCase.Description__c}</stringValue>
            </defaultValue>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <validationRule>
                <errorMessage>&lt;p&gt;Description is too long (max 4000 characters)&lt;/p&gt;</errorMessage>
                <formulaExpression>IF(LEN({!Description})&lt;=4000,TRUE,FALSE)</formulaExpression>
            </validationRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Warning</name>
        <label>Warning</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
        <fields>
            <name>WarningText</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(244, 13, 13);&quot;&gt;Invoice Number has been used for other Credit note!&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>xyz</name>
        <label>xyz</label>
        <locationX>50</locationX>
        <locationY>1454</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>compare_input_with_fields_on_credit_issue</targetReference>
        </connector>
        <fields>
            <name>messagetouser</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255);&quot;&gt;Thank you for the effort. Your request is being processed 😊&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <nextOrFinishButtonLabel>Done</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCase</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>colTextDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>&quot;10&quot;</description>
        <name>frmBannerHeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recSelectedInvoice</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>recSelectedInvoicePurchaseOrder</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Invoice__c</objectType>
    </variables>
    <variables>
        <name>varAccountManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCriticalityAssessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varInvoiceInfoId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedInvoice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedReceivedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varTypeSelected</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
