force-app/main/default/flows/Flow_New_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign_collections_0_0</name>
        <label>assign collections</label>
        <locationX>974</locationX>
        <locationY>650</locationY>
        <assignmentItems>
            <assignToReference>colTextIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:incident</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:survey</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIconsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom82</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIconsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom5</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIconsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_update</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIconsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>custom:custom9</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextIcons</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>standard:record_update</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_collections_descriptions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_collections_descriptions</name>
        <label>assign collections descriptions</label>
        <locationX>974</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>colTextDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Report a complaint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Raise a remark</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a request (Document,New Order,etc...)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptionsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Raise a customer issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptionsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Respond to a sustainability inquiry</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Raise a shipping log issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptionsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a Document Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptionsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a Back-Office case</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextDescriptions</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Create a customer onboarding case</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_If_Account</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_collections_labels</name>
        <label>assign collections labels</label>
        <locationX>974</locationX>
        <locationY>542</locationY>
        <assignmentItems>
            <assignToReference>colTextLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Complaint</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Remark</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabelsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer Issue</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabelsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Sustainability</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Shipping Log</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabelsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Document Request</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabelsRight</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Back-Office Cases</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colTextLabels</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>Customer Onboarding</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_collections_0_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Closed</stringValue>
        </value>
    </choices>
    <choices>
        <name>Documents</name>
        <choiceText>Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Email</name>
        <choiceText>Email</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Email</stringValue>
        </value>
    </choices>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>Ongoing</name>
        <choiceText>Ongoing</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Ongoing</stringValue>
        </value>
    </choices>
    <choices>
        <name>Phone</name>
        <choiceText>Phone</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Phone</stringValue>
        </value>
    </choices>
    <choices>
        <name>Questionnaire</name>
        <choiceText>Questionnaire</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questionnaire</stringValue>
        </value>
    </choices>
    <choices>
        <name>Questions</name>
        <choiceText>Questions &amp;amp; Documents</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Questions &amp; Documents</stringValue>
        </value>
    </choices>
    <choices>
        <name>Visit</name>
        <choiceText>Visit</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Visit</stringValue>
        </value>
    </choices>
    <choices>
        <name>Web</name>
        <choiceText>Web</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Web</stringValue>
        </value>
    </choices>
    <decisions>
        <name>check_If_Account</name>
        <label>check If Account</label>
        <locationX>974</locationX>
        <locationY>866</locationY>
        <defaultConnector>
            <targetReference>getCurrentAccount</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrNewSustainabilityCase_0_0_0_0</targetReference>
            </connector>
            <label>No Account</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_is_assigned_to_logistic_permission_set</name>
        <label>Check if user is assigned to logistic permission set</label>
        <locationX>974</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>assign_collections_labels</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Assigned</defaultConnectorLabel>
        <rules>
            <name>Assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_permission_set_assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_collections_labels</targetReference>
            </connector>
            <label>Assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Request_Type</name>
        <label>check Request Type</label>
        <locationX>974</locationX>
        <locationY>1382</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsSustainability</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sustainability</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Sustainability</targetReference>
            </connector>
            <label>IsSustainability</label>
        </rules>
        <rules>
            <name>IsComplaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Complaint</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Create_Complaint</targetReference>
            </connector>
            <label>IsComplaint</label>
        </rules>
        <rules>
            <name>IsRequest</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Request</targetReference>
            </connector>
            <label>IsRequest</label>
        </rules>
        <rules>
            <name>IsCustomerIssue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Issue</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Create_Customer_Issuex</targetReference>
            </connector>
            <label>IsCustomerIssue</label>
        </rules>
        <rules>
            <name>IsLogistic</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Shipping Log</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_permission_set_assignment.PermissionSet.Label</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Logistic</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Log</targetReference>
            </connector>
            <label>IsLogistic</label>
        </rules>
        <rules>
            <name>IsEmailtoCase</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Back-Office Cases</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_to_case</targetReference>
            </connector>
            <label>IsEmailtoCase</label>
        </rules>
        <rules>
            <name>IsCustomerOnboarding</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>frmSelectedCaseType</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Customer Onboarding</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Customer_Onboarding_Case</targetReference>
            </connector>
            <label>IsCustomerOnboarding</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>chxBusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxPriority</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxSustainabilityRequestTypes</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sustainability_request__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmClosingDate</name>
        <dataType>Date</dataType>
        <expression>{!$Flow.CurrentDate}+7</expression>
    </formulas>
    <formulas>
        <name>frmHooverText</name>
        <dataType>String</dataType>
        <expression>&quot;Please upload necessary files for the handling of your request&quot;</expression>
    </formulas>
    <formulas>
        <name>frmKeyAccount</name>
        <dataType>String</dataType>
        <expression>IF({!getCurrentAccount.Key_Account_at_Group_level__c},&quot;Yes&quot;,&quot;No&quot;)</expression>
    </formulas>
    <formulas>
        <name>frmSelectedCaseType</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!varSelectedRequestType}), {!varSelectedRequestType2},{!varSelectedRequestType})</expression>
    </formulas>
    <formulas>
        <name>frmSubject</name>
        <dataType>String</dataType>
        <expression>{!getCurrentAccount.Name}&amp;&quot; - Sustainability Request&quot;</expression>
    </formulas>
    <formulas>
        <name>frmUserBusinessArea</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.NewBusinessArea__c})</expression>
    </formulas>
    <interviewLabel>Flow - New Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - New Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>get_permission_set</name>
        <label>get permission set</label>
        <locationX>974</locationX>
        <locationY>134</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_permission_set_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Label</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Logistic</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_permission_set_assignment</name>
        <label>Get permission set assignment</label>
        <locationX>974</locationX>
        <locationY>242</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_user_is_assigned_to_logistic_permission_set</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_permission_set.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentAccount</name>
        <label>getCurrentAccount</label>
        <locationX>974</locationX>
        <locationY>1166</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrNewSustainabilityCase_0_0_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>scrNewSustainabilityCase_0_0_0</name>
        <label>scrNewSustainabilityCase</label>
        <locationX>974</locationX>
        <locationY>1274</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Request_Type</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Hi {!$User.FirstName} ! How can I help you today?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrNewSustainabilityCase_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>qChoice_0</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>colTextIcons</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>colTextLabels</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>colTextDescriptions</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>style_width</name>
                        <value>
                            <numberValue>75.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>        </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedRequestType</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>quick_choice_Logistic</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>ColTextIconLogistic</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>ColTextVariableLogistic</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>ColTextDescriptionLogistic</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>style_width</name>
                        <value>
                            <numberValue>75.0</numberValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedRequestType</assignToReference>
                        <name>value</name>
                    </outputParameters>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Get_permission_set_assignment.Id</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>0</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>xfdsfsdf</name>
                    <extensionName>c:fsc_quickChoiceFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>displayMode</name>
                        <value>
                            <stringValue>Visual</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>numberOfColumns</name>
                        <value>
                            <stringValue>1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>includeIcons</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>navOnSelect</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>isResponsive</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>iconSize</name>
                        <value>
                            <stringValue>medium</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>inputMode</name>
                        <value>
                            <stringValue>Dual String Collections</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceIcons</name>
                        <value>
                            <elementReference>colTextIconsRight</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceLabels</name>
                        <value>
                            <elementReference>colTextLabelsRight</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>choiceValues</name>
                        <value>
                            <elementReference>colTextDescriptionsRight</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>masterLabel</name>
                        <value>
                            <stringValue>                             </stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedRequestType2</assignToReference>
                        <name>value</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;You are now using the process to create sustainability requests&lt;/p&gt;</helpText>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrNewSustainabilityCase_0_0_0_0</name>
        <label>scrNewSustainabilityCase</label>
        <locationX>842</locationX>
        <locationY>974</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getCurrentAccount</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>First let&apos;s select an Account !</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>cmpAccount</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>scrNewSustainabilityCase_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scrNewSustainabilityCase_0_0_0_0_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>scrNewSustainabilityCase_0_0_0_0_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrNewSustainabilityCase_0_0_0_0_Section3_Column3</name>
                <fieldType>Region</fieldType>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>4</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <helpText>&lt;p&gt;You are now using the process to create sustainability requests&lt;/p&gt;</helpText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>848</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_permission_set</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Request</name>
        <label>Create Request</label>
        <locationX>578</locationX>
        <locationY>1490</locationY>
        <flowName>Flow_Create_Request</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Customer_Onboarding_Case</name>
        <label>Customer Onboarding Case</label>
        <locationX>1634</locationX>
        <locationY>1490</locationY>
        <flowName>Customer_Onboarding_Case</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Email_to_case</name>
        <label>Email to case</label>
        <locationX>1370</locationX>
        <locationY>1490</locationY>
        <flowName>Flow_Email_to_Case</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Create_Complaint</name>
        <label>Flow - Create Complaint</label>
        <locationX>314</locationX>
        <locationY>1490</locationY>
        <flowName>Flow_Create_Complaint</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Create_Customer_Issuex</name>
        <label>Flow - Create Customer Issue</label>
        <locationX>842</locationX>
        <locationY>1490</locationY>
        <flowName>Flow_Create_Customer_Issue</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Shipping_Log</name>
        <label>Shipping Log</label>
        <locationX>1106</locationX>
        <locationY>1490</locationY>
        <flowName>New_Shipping_Log_Case</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Sustainability</name>
        <label>Sustainability</label>
        <locationX>50</locationX>
        <locationY>1490</locationY>
        <flowName>Flow_Sustainability_Create</flowName>
        <inputAssignments>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>ColTextDescriptionLogistic</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextDescriptionsRight</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextDocumentIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextDocumentNames</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextEndChoiceDescriptions</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextEndChoiceIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextEndChoiceLabel</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColTextIconLogistic</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextIcons</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextIconsRight</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextLabels</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextLabelsRight</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colTextNull</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ColTextVariableLogistic</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>colTextVersionIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>collection variable for web2case</description>
        <name>colTextWeb2case</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRequestType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRequestType2</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
