force-app/main/default/flows/Flow_Create_Customer_Issue.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>sdqdqsd</name>
        <label>sdqd</label>
        <locationX>993</locationX>
        <locationY>1771</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>412</locationX>
        <locationY>247</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrCustomerIssueSecond</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Contact</name>
        <label>assign Contact</label>
        <locationX>1365</locationX>
        <locationY>819</locationY>
        <assignmentItems>
            <assignToReference>varSelectedContactId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrCustomerIssueSecondforContact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Default_RelationShip</name>
        <label>assign Default RelationShip</label>
        <locationX>610</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>recRealtionShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flagBusinessArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRelationShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recRealtionShip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Default_RelationShip_0</name>
        <label>assign Default RelationShip</label>
        <locationX>1809</locationX>
        <locationY>414</locationY>
        <assignmentItems>
            <assignToReference>recRealtionShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flagBusinessAreaforCustomerIssue</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRelationShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recRealtionShip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrVRCustomerIssueSecond</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Default_RelationShip_for_Contact</name>
        <label>assign Default RelationShip for Contact</label>
        <locationX>1407</locationX>
        <locationY>651</locationY>
        <assignmentItems>
            <assignToReference>recRealtionShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flagBusinessAreaforContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRelationShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recRealtionShip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner</name>
        <label>assign owner</label>
        <locationX>50</locationX>
        <locationY>1085</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_0</name>
        <label>assign owner</label>
        <locationX>304</locationX>
        <locationY>955</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_Contact</name>
        <label>assign owner for Contact</label>
        <locationX>826</locationX>
        <locationY>1302</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_Contact_2</name>
        <label>assign owner for Contact 2</label>
        <locationX>1258</locationX>
        <locationY>1198</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_VR_Contact</name>
        <label>assign owner for VR Contact</label>
        <locationX>1629</locationX>
        <locationY>1406</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_VR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_VR_Contact2</name>
        <label>assign owner for VR Contact2</label>
        <locationX>1959</locationX>
        <locationY>1337</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_VR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Contact_VR</name>
        <label>Account/Contact/VR</label>
        <locationX>1109</locationX>
        <locationY>262</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>If Account</label>
        </rules>
        <rules>
            <name>If_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>If Contact</label>
        </rules>
        <rules>
            <name>If_VR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getVR</targetReference>
            </connector>
            <label>If VR</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Queue</name>
        <label>check Queue</label>
        <locationX>217</locationX>
        <locationY>859</locationY>
        <defaultConnector>
            <targetReference>assign_owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueueAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Queue_for_Contact</name>
        <label>check Queue for Contact</label>
        <locationX>1050</locationX>
        <locationY>1111</locationY>
        <defaultConnector>
            <targetReference>assign_owner_for_Contact_2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ExistforContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueueAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue_Id_for_Contact</targetReference>
            </connector>
            <label>Exist for Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Queue_VR</name>
        <label>check Queue VR</label>
        <locationX>1794</locationX>
        <locationY>1228</locationY>
        <defaultConnector>
            <targetReference>assign_owner_for_VR_Contact2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>VR_Queue_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueueAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue_Id_VR</targetReference>
            </connector>
            <label>VR Queue Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complaint_Decision</name>
        <label>Complaint Decision</label>
        <locationX>1529</locationX>
        <locationY>50</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case_VR_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Customer_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount_CustomerIssue</targetReference>
            </connector>
            <label>New Customer Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>loopRelationships</name>
        <label>loopRelationships</label>
        <locationX>707</locationX>
        <locationY>447</locationY>
        <defaultConnector>
            <targetReference>flagBusinessArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEqual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagBusinessArea.BusinessArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBusinessArea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Default_RelationShip</targetReference>
            </connector>
            <label>IsEqual</label>
        </rules>
    </decisions>
    <decisions>
        <name>loopRelationshipsforContact</name>
        <label>loopRelationshipsforContact</label>
        <locationX>1402</locationX>
        <locationY>434</locationY>
        <defaultConnector>
            <targetReference>flagBusinessAreaforContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEqualforContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagBusinessAreaforContact.BusinessArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBusinessArea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Default_RelationShip_for_Contact</targetReference>
            </connector>
            <label>IsEqualforContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>loopRelationshipsforCustomerIssue</name>
        <label>loopRelationshipsforCustomerIssue</label>
        <locationX>1736</locationX>
        <locationY>127</locationY>
        <defaultConnector>
            <targetReference>flagBusinessAreaforCustomerIssue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEqual_for_Customer_Issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagBusinessAreaforCustomerIssue.Business_Area__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBusinessArea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Default_RelationShip_0</targetReference>
            </connector>
            <label>IsEqual for Customer Issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>VRContact_Exist</name>
        <label>VRContact Exist</label>
        <locationX>1799</locationX>
        <locationY>765</locationY>
        <defaultConnector>
            <targetReference>scrCustomerissue_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact_VR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Case_Create_Contact_0</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>wxvxxv</name>
        <label>wxvxxv</label>
        <locationX>222</locationX>
        <locationY>396</locationY>
        <defaultConnector>
            <targetReference>scrCustomerissue</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Flow_Case_Create_Contact</targetReference>
            </connector>
            <label>No contact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyClaimedAmount__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxInsurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeclarationToInsurance__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxTiming</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Timing__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmBackGroundColor</name>
        <dataType>String</dataType>
        <expression>&quot;rgb(243, 242, 242)&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner1</name>
        <dataType>String</dataType>
        <expression>&quot; General and Status Information&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBusinessArea</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.NewBusinessArea__c})</expression>
    </formulas>
    <formulas>
        <name>frmDescription</name>
        <dataType>String</dataType>
        <expression>{!Subject}&amp;BR()&amp;
{!Description}</expression>
    </formulas>
    <formulas>
        <name>frmIconMargin</name>
        <dataType>String</dataType>
        <expression>&quot;0px 0px 0px 0px&quot;</expression>
    </formulas>
    <formulas>
        <name>frmIconSize</name>
        <dataType>String</dataType>
        <expression>&quot;medium&quot;</expression>
    </formulas>
    <formulas>
        <name>frmImageName</name>
        <dataType>String</dataType>
        <expression>&quot;utility:add&quot;</expression>
    </formulas>
    <interviewLabel>Flow - Create Customer Issue {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Create Customer Issue</label>
    <loops>
        <name>flagBusinessArea</name>
        <label>flagBusinessArea</label>
        <locationX>839</locationX>
        <locationY>677</locationY>
        <collectionReference>getRelationShips</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRelationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Default_RelationShip</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>flagBusinessAreaforContact</name>
        <label>flagBusinessAreaforContact</label>
        <locationX>1089</locationX>
        <locationY>657</locationY>
        <collectionReference>getRelationShipsforContact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRelationshipsforContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Default_RelationShip_for_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>flagBusinessAreaforCustomerIssue</name>
        <label>flagBusinessAreaforCustomerIssue</label>
        <locationX>1620</locationX>
        <locationY>413</locationY>
        <collectionReference>getRelationShipsforCustomerIssue</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRelationshipsforCustomerIssue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Default_RelationShip_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>161</locationX>
        <locationY>1239</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varSelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>varSelectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Customer_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer Issue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Contact</name>
        <label>Create Case for Contact</label>
        <locationX>994</locationX>
        <locationY>1491</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionforContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionforContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin_forContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>varSelectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Customer_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectforContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer Issue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_VR</name>
        <label>Create Case for VR</label>
        <locationX>1772</locationX>
        <locationY>1466</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varSelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description_VR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>Description_VR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin_VR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>varSelectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Customer_Issue__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <stringValue>Other</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_VR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <stringValue>Customer Issue</stringValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case_VR_Relation</name>
        <label>Create_New_Case_VR_Relation</label>
        <locationX>1540</locationX>
        <locationY>1603</locationY>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ComplaintReference__c</field>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoofVisitReport__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseVisitReportRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>1692</locationX>
        <locationY>1597</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Case_VR_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Id</name>
        <label>get Queue Id</label>
        <locationX>54</locationX>
        <locationY>978</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueAssignement.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Id_for_Contact</name>
        <label>get Queue Id for Contact</label>
        <locationX>854</locationX>
        <locationY>1187</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueAssignement.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Id_VR</name>
        <label>get Queue Id VR</label>
        <locationX>1629</locationX>
        <locationY>1282</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner_for_VR_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueAssignement.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>860</locationX>
        <locationY>271</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationShips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount_CustomerIssue</name>
        <label>getAccount_CustomerIssue</label>
        <locationX>1626</locationX>
        <locationY>162</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationShipsforCustomerIssue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getVR.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>1083</locationX>
        <locationY>397</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationShipsforContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAssignement</name>
        <label>getQueueAssignement</label>
        <locationX>225</locationX>
        <locationY>703</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_L1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.NewMarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAssignement_0</name>
        <label>getQueueAssignement</label>
        <locationX>1058</locationX>
        <locationY>955</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Queue_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_L1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.NewMarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAssignementVR</name>
        <label>getQueueAssignementVR</label>
        <locationX>1802</locationX>
        <locationY>1072</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Queue_VR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_L1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.NewMarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationShips</name>
        <label>getRelationShips</label>
        <locationX>855</locationX>
        <locationY>461</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flagBusinessArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationShipsforContact</name>
        <label>getRelationShipsforContact</label>
        <locationX>1090</locationX>
        <locationY>513</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flagBusinessAreaforContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationShipsforCustomerIssue</name>
        <label>getRelationShipsforCustomerIssue</label>
        <locationX>1491</locationX>
        <locationY>324</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flagBusinessAreaforCustomerIssue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount_CustomerIssue.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVR</name>
        <label>getVR</label>
        <locationX>1271</locationX>
        <locationY>300</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrVRCustomerIssue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VisitReport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrComplaint_0_0</name>
        <label>scrComplaint</label>
        <locationX>994</locationX>
        <locationY>1645</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>sdqdqsd</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Any files to attach to help in closing the case efficiently?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sdqsdsq</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableDelete</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewCaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCustomerissue</name>
        <label>scrCustomerissue</label>
        <locationX>226</locationX>
        <locationY>578</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getQueueAssignement</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Can you help me understand?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrCustomerissue_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCustomerissue_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCustomerissue_0</name>
        <label>scrCustomerissue</label>
        <locationX>1806</locationX>
        <locationY>947</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getQueueAssignementVR</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Can you help me understand?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>Subject_VR</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrCustomerissue_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCustomerissue_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Description_VR</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCustomerissueforContact</name>
        <label>scrCustomerissueforContact</label>
        <locationX>1059</locationX>
        <locationY>830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getQueueAssignement_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Can you help me understand?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SubjectforContact</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrCustomerissueforContact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCustomerissueforContact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionforContact</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCustomerIssueSecond</name>
        <label>scrCustomerIssueSecond</label>
        <locationX>230</locationX>
        <locationY>247</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>wxvxxv</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName}. Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrCustomerIssueSecond_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCustomerIssueSecond_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getAccount.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getVR.Main_External_Attendee__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getVR.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dTblRelationShips</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,AccountName__c,BusinessArea__c,KeyAccountManager__c,Divisions__c,Type__c,AccountManager2__c,AccountManager3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:192, AccountName__c:160, BusinessArea__c:184, KeyAccountManager__c:159, Divisions__c:52, Type__c:52, AccountManager2__c:52, AccountManager3__c:52</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getRelationShips</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>KeyAccountManager__c:Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, AccountName__c:true, BusinessArea__c:true, KeyAccountManager__c:true, Divisions__c:true, Type__c:false, AccountManager2__c:false, AccountManager3__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>colRelationShip</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrCustomerIssueSecondforContact</name>
        <label>scrCustomerIssueSecondforContact</label>
        <locationX>1183</locationX>
        <locationY>819</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrCustomerissueforContact</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName}. Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrCustomerIssueSecondforContact_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrCustomerIssueSecondforContact_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookupforContact</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varSelectedAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getContact.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId_0</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getContact.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>recordId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin_forContact</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dTblRelationShips_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,AccountName__c,BusinessArea__c,KeyAccountManager__c,Divisions__c,Type__c,AccountManager2__c,AccountManager3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:192, AccountName__c:160, BusinessArea__c:184, KeyAccountManager__c:159, Divisions__c:52, Type__c:52, AccountManager2__c:52, AccountManager3__c:52</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>KeyAccountManager__c:Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, AccountName__c:true, BusinessArea__c:true, KeyAccountManager__c:true, Divisions__c:true, Type__c:false, AccountManager2__c:false, AccountManager3__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>colRelationShip</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getRelationShipsforContact</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrVRCustomerIssue</name>
        <label>scrVRCustomerIssue</label>
        <locationX>1450</locationX>
        <locationY>141</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complaint_Decision</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03_0_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName}. Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrVRCustomerIssue_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrVRCustomerIssue_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerCaseReference</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Complaint Reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varNewCaseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>CaseNumber</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varNewCaseId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrVRCustomerIssue_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CustomerCaseVisitReport</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>VisitReport__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>No. of Visit Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>custom:VisitReport__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrVRCustomerIssueSecond</name>
        <label>scrVRCustomerIssueSecond</label>
        <locationX>1807</locationX>
        <locationY>561</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>VRContact_Exist</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName}. Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrVRCustomerIssueSecond_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrVRCustomerIssueSecond_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookupVR</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getVR.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getAccount_CustomerIssue.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactIdforVR</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getVR.Main_External_Attendee__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getVR.Main_External_Attendee__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin_VR</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>dTblRelationShips_0_0</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>Name,AccountName__c,BusinessArea__c,KeyAccountManager__c,Divisions__c,Type__c,AccountManager2__c,AccountManager3__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>Name:192, AccountName__c:160, BusinessArea__c:184, KeyAccountManager__c:159, Divisions__c:52, Type__c:52, AccountManager2__c:52, AccountManager3__c:52</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>KeyAccountManager__c:Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, AccountName__c:true, BusinessArea__c:true, KeyAccountManager__c:true, Divisions__c:true, Type__c:false, AccountManager2__c:false, AccountManager3__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>isRequired</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>colRelationShip</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getRelationShipsforCustomerIssue</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>990</locationX>
        <locationY>140</locationY>
        <connector>
            <targetReference>Account_Contact_VR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Flow_Case_Create_Contact</name>
        <label>Flow - Case - Create Contact</label>
        <locationX>443</locationX>
        <locationY>514</locationY>
        <connector>
            <targetReference>scrCustomerissue</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Flow_Case_Create_Contact_0</name>
        <label>Flow - Case - Create Contact</label>
        <locationX>1638</locationX>
        <locationY>875</locationY>
        <connector>
            <targetReference>scrCustomerissue_0</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>getAccount_CustomerIssue.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colRelationShip</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <description>&quot;10&quot;</description>
        <name>frmBannerHeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recRealtionShip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>varDefaultRelationShip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSearchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedReceivedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
