force-app/main/default/flows/Flow_Create_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>sdqdqsd</name>
        <label>sdqd</label>
        <locationX>813</locationX>
        <locationY>1416</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <nameSegment>c:navigateEverywhereLFA</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>53.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>476</locationX>
        <locationY>556</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrComplaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_0</name>
        <label>assign</label>
        <locationX>802</locationX>
        <locationY>543</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrComplaint_0</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <choices>
        <name>sub</name>
        <choiceText>sub</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>sub</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Contact_VR</name>
        <label>Account/Contact/VR</label>
        <locationX>795</locationX>
        <locationY>188</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>If Account</label>
        </rules>
        <rules>
            <name>If_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>If Contact</label>
        </rules>
        <rules>
            <name>If_VR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getVR</targetReference>
            </connector>
            <label>If VR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Create_New_Request</name>
        <label>Create New Request</label>
        <locationX>1412</locationX>
        <locationY>542</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case_VR_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>scrComplaint_0_0_0_0_0</targetReference>
            </connector>
            <label>New Request</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxCriticality</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyClaimedAmount__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxInsurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeclarationToInsurance__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxLiability</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Potential_Liability__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxTiming</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Timing__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SubTypeText</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Sub_Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>YourMarketSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Your_market__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmBackGroundColor</name>
        <dataType>String</dataType>
        <expression>&quot;rgb(243, 242, 242)&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner1</name>
        <dataType>String</dataType>
        <expression>&quot; General and Status Information&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner2</name>
        <dataType>String</dataType>
        <expression>&quot; Complaint Information&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner3</name>
        <dataType>String</dataType>
        <expression>&quot; Complaint Description&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner4</name>
        <dataType>String</dataType>
        <expression>&quot;Upload file(s)&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerBorderColor</name>
        <dataType>String</dataType>
        <expression>&quot;1px Solid White&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFirstScreen1</name>
        <dataType>String</dataType>
        <expression>&quot;Type Of Complaint&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFirstScreen2</name>
        <dataType>String</dataType>
        <expression>&quot;Subject And Description&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFontSize</name>
        <dataType>String</dataType>
        <expression>&quot;medium&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFontType</name>
        <dataType>String</dataType>
        <expression>&quot;Arial&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerPadding</name>
        <dataType>String</dataType>
        <expression>&quot;0px 0px 0px 0px&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerRadius</name>
        <dataType>String</dataType>
        <expression>&quot;6&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerTextAlignment</name>
        <dataType>String</dataType>
        <expression>&quot;left&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerTextColor</name>
        <dataType>String</dataType>
        <expression>&quot;Black&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerThirdScreen1</name>
        <dataType>String</dataType>
        <expression>&quot;Additional Informations&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBusinessArea</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.NewBusinessArea__c})</expression>
    </formulas>
    <formulas>
        <name>frmIconMargin</name>
        <dataType>String</dataType>
        <expression>&quot;0px 0px 0px 0px&quot;</expression>
    </formulas>
    <formulas>
        <name>frmIconSize</name>
        <dataType>String</dataType>
        <expression>&quot;medium&quot;</expression>
    </formulas>
    <formulas>
        <name>frmImageName</name>
        <dataType>String</dataType>
        <expression>&quot;utility:add&quot;</expression>
    </formulas>
    <interviewLabel>Flow - Create Complaint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Create Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>457</locationX>
        <locationY>1081</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Internal_Comments</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varSelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFirstScreen.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionFirstScreen.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Grade__c</field>
            <value>
                <elementReference>Product_Grade</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121i0000000LW8AAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubtype.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFirstScreen</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>varSelectedRelationshipId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubtype.Master__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_market__c</field>
            <value>
                <elementReference>Your_Market</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>805</locationX>
        <locationY>1037</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getContact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Internal_Comments_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFirstScreen_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionFirstScreen_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Grade__c</field>
            <value>
                <elementReference>Product_Grade_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121i0000000LW8AAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubtype.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFirstScreen_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>varSelectedRelationshipId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubtype.Master__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_market__c</field>
            <value>
                <elementReference>Your_Market_0</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_in_VR</name>
        <label>Create Case in VR</label>
        <locationX>1256</locationX>
        <locationY>977</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Get_a_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>getVR.Account__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comments</field>
            <value>
                <elementReference>Internal_Comments_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>getVR.Main_External_Attendee__r.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionFirstScreen_0_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionFirstScreen_0_0.value</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Product_Grade__c</field>
            <value>
                <elementReference>Product_Grade_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0121i0000000LW8AAM</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>New</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubtype.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFirstScreen_0_0</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>varSelectedRelationshipId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubtype.Master__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Your_market__c</field>
            <value>
                <elementReference>Your_Market_0_0</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case_VR_Relation</name>
        <label>Create New Case VR Relation</label>
        <locationX>951</locationX>
        <locationY>1189</locationY>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ComplaintReference__c</field>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoofVisitReport__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseVisitReportRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_a_Case</name>
        <label>Get a Case</label>
        <locationX>1073</locationX>
        <locationY>1086</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Case_VR_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>468</locationX>
        <locationY>413</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>801</locationX>
        <locationY>407</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubtype</name>
        <label>getTypeAndSubtype</label>
        <locationX>469</locationX>
        <locationY>920</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSearchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master__c</queriedFields>
        <queriedFields>Slave__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubtype_0</name>
        <label>getTypeAndSubtype</label>
        <locationX>805</locationX>
        <locationY>914</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSearchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master__c</queriedFields>
        <queriedFields>Slave__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubtype_0_0</name>
        <label>getTypeAndSubtype</label>
        <locationX>1082</locationX>
        <locationY>931</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Case_in_VR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSearchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master__c</queriedFields>
        <queriedFields>Slave__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getVR</name>
        <label>getVR</label>
        <locationX>1083</locationX>
        <locationY>405</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrVRSelection</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VisitReport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>scrComplaint</name>
        <label>scrIdentification</label>
        <locationX>477</locationX>
        <locationY>685</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrComplaint_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great! Can you give me a bit more information?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getAccount.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varSelectedContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0</name>
        <label>scrIdentification</label>
        <locationX>809</locationX>
        <locationY>673</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrComplaint_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great! Can you give me a bit more information?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup_0</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getContact.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getContact.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId_0</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin_0</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0</name>
        <label>scrComplaint</label>
        <locationX>805</locationX>
        <locationY>1226</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>sdqdqsd</targetReference>
        </connector>
        <fields>
            <name>sdqsdsq</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableDelete</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Any files to attach?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>helpText</name>
                <value>
                    <stringValue>You can attach any file you feel will help in closing the complaint quicker</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewCaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0</name>
        <label>scrBasic_Details</label>
        <locationX>475</locationX>
        <locationY>793</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubtype</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>{!$User.FirstName} ! How can I help you?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What do you need?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varSearchId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubjectFirstScreen</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DescriptionFirstScreen</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Internal_Comments</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sub_Type</name>
                    <choiceReferences>SubTypeText</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Your_Market</name>
                    <choiceReferences>YourMarketSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Your Market</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product_Grade</name>
                    <dataType>String</dataType>
                    <fieldText>Product Grade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0_0</name>
        <label>scrBasic_Details</label>
        <locationX>808</locationX>
        <locationY>792</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubtype_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>{!$User.FirstName} ! How can I help you?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchLookup_0</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What do you need?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varSearchId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubjectFirstScreen_0</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DescriptionFirstScreen_0</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Internal_Comments_0</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sub_Type_0</name>
                    <choiceReferences>SubTypeText</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Your_Market_0</name>
                    <choiceReferences>YourMarketSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Your Market</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Product_Grade_0</name>
                    <dataType>String</dataType>
                    <fieldText>Product Grade</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0_0_0</name>
        <label>scrIdentification</label>
        <locationX>1086</locationX>
        <locationY>690</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrComplaint_0_0_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great! Can you give me a bit more information?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup_0_0</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getContact.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getVR.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId_0_0</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getVR.Main_External_Attendee__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin_0_0</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0_0_0_0</name>
        <label>scrBasic_Details</label>
        <locationX>1085</locationX>
        <locationY>809</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubtype_0_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>{!$User.FirstName} ! How can I help you?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchLookup_0_0</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What do you need?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Request</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varSearchId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SubjectFirstScreen_0_0</name>
                    <dataType>String</dataType>
                    <fieldText>Subject</fieldText>
                    <fieldType>InputField</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>DescriptionFirstScreen_0_0</name>
                    <extensionName>c:inputRichTextFSC</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Description</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <fields>
                    <name>Internal_Comments_0_0</name>
                    <fieldText>Internal Comments</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Sub_Type_0_0</name>
                    <choiceReferences>SubTypeText</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Sub Type</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin_0_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <fields>
                    <name>Your_Market_0_0</name>
                    <choiceReferences>YourMarketSet</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Your Market</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>Origin_0_0</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>Imerys Website</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Product_Grade_0_0</name>
            <dataType>String</dataType>
            <fieldText>Product Grade</fieldText>
            <fieldType>InputField</fieldType>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Origin_0_0</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Imerys Website</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrVRSelection</name>
        <label>scrVRSelection</label>
        <locationX>1083</locationX>
        <locationY>534</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_New_Request</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Great! Can you give me a bit more information?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrVRSelection_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrVRSelection_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseReference</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Case Reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>CaseNumber</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varNewCaseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varNewCaseId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrVRSelection_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>CaseVisitReport</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>VisitReport__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>No. of Visit Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>647</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Contact_VR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>&quot;10&quot;</description>
        <name>frmBannerHeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varCriticalityAssessment</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSearchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedReceivedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
