force-app/main/default/flows/Flow_Create_Complaint.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>sdqdqsd</name>
        <label>sdqd</label>
        <locationX>825</locationX>
        <locationY>2249</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>263</locationX>
        <locationY>921</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrComplaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Account_for_Complaint</name>
        <label>assign Account for Complaint</label>
        <locationX>1403</locationX>
        <locationY>870</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getAccount_forComplaint.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrComplaint_0_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Default_RelationShip</name>
        <label>assign Default RelationShip</label>
        <locationX>263</locationX>
        <locationY>801</locationY>
        <assignmentItems>
            <assignToReference>recRealtionShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flagBusinessArea</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRelationShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recRealtionShip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Default_RelationShip_for_Complaint</name>
        <label>assign Default RelationShip for Complaint</label>
        <locationX>1403</locationX>
        <locationY>733</locationY>
        <assignmentItems>
            <assignToReference>recRealtionShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flagBusinessAreaforContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRelationShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recRealtionShip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_Account_for_Complaint</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Default_RelationShip_for_Contact</name>
        <label>assign Default RelationShip for Contact</label>
        <locationX>903</locationX>
        <locationY>757</locationY>
        <assignmentItems>
            <assignToReference>recRealtionShip</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>flagBusinessAreaforContact</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>colRelationShip</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>recRealtionShip</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_for_Contact</name>
        <label>assign for Contact</label>
        <locationX>903</locationX>
        <locationY>877</locationY>
        <assignmentItems>
            <assignToReference>varSelectedAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>getContact.Account.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>scrComplaint_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner</name>
        <label>assign owner</label>
        <locationX>117</locationX>
        <locationY>1740</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_0</name>
        <label>assign owner</label>
        <locationX>381</locationX>
        <locationY>1620</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_Contact</name>
        <label>assign owner for Contact</label>
        <locationX>763</locationX>
        <locationY>1756</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_Contact2</name>
        <label>assign owner for Contact2</label>
        <locationX>1027</locationX>
        <locationY>1636</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_Contact</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_VR</name>
        <label>assign owner for VR</label>
        <locationX>1274</locationX>
        <locationY>1742</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Queue_Id.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_VR</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_owner_for_Vr2</name>
        <label>assign owner for Vr2</label>
        <locationX>1538</locationX>
        <locationY>1622</locationY>
        <assignmentItems>
            <assignToReference>varOwner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_for_VR</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>New</name>
        <choiceText>New</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>New</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Account_Contact_VR</name>
        <label>Account/Contact/VR</label>
        <locationX>896</locationX>
        <locationY>169</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Account</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount</targetReference>
            </connector>
            <label>If Account</label>
        </rules>
        <rules>
            <name>If_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getContact</targetReference>
            </connector>
            <label>If Contact</label>
        </rules>
        <rules>
            <name>If_VR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>a08</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_VR</targetReference>
            </connector>
            <label>If VR</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Contact</name>
        <label>check Contact</label>
        <locationX>476</locationX>
        <locationY>1029</locationY>
        <defaultConnector>
            <targetReference>scrComplaint_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact</targetReference>
            </connector>
            <label>No Contact</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Contact_for_VR</name>
        <label>check Contact for VR</label>
        <locationX>1086</locationX>
        <locationY>953</locationY>
        <defaultConnector>
            <targetReference>scrComplaint_0_0_0_0_0_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No_Contact_for_VR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Contact_0</targetReference>
            </connector>
            <label>No Contact for VR</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Queue</name>
        <label>check Queue</label>
        <locationX>243</locationX>
        <locationY>1505</locationY>
        <defaultConnector>
            <targetReference>assign_owner_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueueAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue_Id</targetReference>
            </connector>
            <label>Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Queue_for_Contact</name>
        <label>check Queue for Contact</label>
        <locationX>889</locationX>
        <locationY>1521</locationY>
        <defaultConnector>
            <targetReference>assign_owner_for_Contact2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfExistforContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueueAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue_Id_for_Contact</targetReference>
            </connector>
            <label>IfExistforContact</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Queue_for_VR</name>
        <label>check Queue for VR</label>
        <locationX>1400</locationX>
        <locationY>1507</locationY>
        <defaultConnector>
            <targetReference>assign_owner_for_Vr2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IfExistforVR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getQueueAssignement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Queue_Id_for_VR</targetReference>
            </connector>
            <label>IfExistforVR</label>
        </rules>
    </decisions>
    <decisions>
        <name>Complaint_Decision</name>
        <label>Complaint_Decision</label>
        <locationX>1276</locationX>
        <locationY>116</locationY>
        <defaultConnector>
            <targetReference>Create_New_Case_VR_Relation</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>New_Complaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varNewCaseId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getAccount_forComplaint</targetReference>
            </connector>
            <label>New Complaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>loopRelationships</name>
        <label>loopRelationships</label>
        <locationX>399</locationX>
        <locationY>682</locationY>
        <defaultConnector>
            <targetReference>flagBusinessArea</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEqual</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagBusinessArea.BusinessArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBusinessArea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Default_RelationShip</targetReference>
            </connector>
            <label>IsEqual</label>
        </rules>
    </decisions>
    <decisions>
        <name>loopRelationshipsforComplaint</name>
        <label>loopRelationshipsforComplaint</label>
        <locationX>1604</locationX>
        <locationY>622</locationY>
        <defaultConnector>
            <targetReference>flagBusinessAreaforComplaint</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEqualforComplaint</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagBusinessAreaforContact.BusinessArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBusinessArea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Default_RelationShip_for_Complaint</targetReference>
            </connector>
            <label>IsEqualforComplaint</label>
        </rules>
    </decisions>
    <decisions>
        <name>loopRelationshipsforContact</name>
        <label>loopRelationshipsforContact</label>
        <locationX>1214</locationX>
        <locationY>667</locationY>
        <defaultConnector>
            <targetReference>flagBusinessAreaforContact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsEqualforContact</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>flagBusinessAreaforContact.BusinessArea__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>frmBusinessArea</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Default_RelationShip_for_Contact</targetReference>
            </connector>
            <label>IsEqualforContact</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>BusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxCurrency</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CurrencyClaimedAmount__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxInsurance</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>DeclarationToInsurance__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxOrigin</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Origin</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxTiming</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Complaint_Timing__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>chxType</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Criticality_Picklist</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Priority</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>frmBackGroundColor</name>
        <dataType>String</dataType>
        <expression>&quot;rgb(243, 242, 242)&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner1</name>
        <dataType>String</dataType>
        <expression>&quot; General and Status Information&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner2</name>
        <dataType>String</dataType>
        <expression>&quot; Complaint Information&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner3</name>
        <dataType>String</dataType>
        <expression>&quot; Complaint Description&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBanner4</name>
        <dataType>String</dataType>
        <expression>&quot;Upload file(s)&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerBorderColor</name>
        <dataType>String</dataType>
        <expression>&quot;1px Solid White&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFirstScreen1</name>
        <dataType>String</dataType>
        <expression>&quot;Type Of Complaint&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFirstScreen2</name>
        <dataType>String</dataType>
        <expression>&quot;Subject And Description&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFontSize</name>
        <dataType>String</dataType>
        <expression>&quot;medium&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerFontType</name>
        <dataType>String</dataType>
        <expression>&quot;Arial&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerPadding</name>
        <dataType>String</dataType>
        <expression>&quot;0px 0px 0px 0px&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerRadius</name>
        <dataType>String</dataType>
        <expression>&quot;6&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerTextAlignment</name>
        <dataType>String</dataType>
        <expression>&quot;left&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerTextColor</name>
        <dataType>String</dataType>
        <expression>&quot;Black&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBannerThirdScreen1</name>
        <dataType>String</dataType>
        <expression>&quot;Additional Informations&quot;</expression>
    </formulas>
    <formulas>
        <name>frmBusinessArea</name>
        <dataType>String</dataType>
        <expression>TEXT({!$User.NewBusinessArea__c})</expression>
    </formulas>
    <formulas>
        <name>frmDescription</name>
        <dataType>String</dataType>
        <expression>{!getTypeAndSubtype.Description__c}&amp;BR()&amp;
{!DescriptionX}</expression>
    </formulas>
    <formulas>
        <name>frmIconMargin</name>
        <dataType>String</dataType>
        <expression>&quot;0px 0px 0px 0px&quot;</expression>
    </formulas>
    <formulas>
        <name>frmIconSize</name>
        <dataType>String</dataType>
        <expression>&quot;medium&quot;</expression>
    </formulas>
    <formulas>
        <name>frmImageName</name>
        <dataType>String</dataType>
        <expression>&quot;utility:add&quot;</expression>
    </formulas>
    <formulas>
        <name>frmSubject</name>
        <dataType>String</dataType>
        <expression>{!getTypeAndSubtype.Master__c}&amp;&quot; - &quot;&amp;{!getTypeAndSubtype.Slave__c}</expression>
    </formulas>
    <interviewLabel>Flow - Create Complaint {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Flow - Create Complaint</label>
    <loops>
        <name>flagBusinessArea</name>
        <label>flagBusinessArea</label>
        <locationX>566</locationX>
        <locationY>502</locationY>
        <collectionReference>getRelationShips</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRelationships</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Default_RelationShip</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>flagBusinessAreaforComplaint</name>
        <label>flagBusinessAreaforComplaint</label>
        <locationX>1394</locationX>
        <locationY>525</locationY>
        <collectionReference>getRelationShipsforComplaint</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRelationshipsforComplaint</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Default_RelationShip_for_Complaint</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>flagBusinessAreaforContact</name>
        <label>flagBusinessAreaforContact</label>
        <locationX>895</locationX>
        <locationY>566</locationY>
        <collectionReference>getRelationShips_Contact</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>loopRelationshipsforContact</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>assign_Default_RelationShip_for_Contact</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>249</locationX>
        <locationY>1956</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomaticAcknowledgmentMailtoContact__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimedAmount__c</field>
            <value>
                <elementReference>Claimed_Amount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Timing__c</field>
            <value>
                <elementReference>Complaint_Timing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varSelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>frmDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Picklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>varSelectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Case_Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubtype.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubtype.Master__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_Contact</name>
        <label>Create Case for Contact</label>
        <locationX>895</locationX>
        <locationY>1972</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomaticAcknowledgmentMailtoContact__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimedAmount__c</field>
            <value>
                <elementReference>Claimed_Amount_For_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Timing__c</field>
            <value>
                <elementReference>Complaint_Timing_for_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varSelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionX_forContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionX_forContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin_forContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Picklist_forContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>varSelectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Case_Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubtypeforContact.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_forContact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubtypeforContact.Master__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_for_VR</name>
        <label>Create Case for VR</label>
        <locationX>1406</locationX>
        <locationY>1958</locationY>
        <assignRecordIdToReference>varNewCaseId</assignRecordIdToReference>
        <connector>
            <targetReference>get_Case</targetReference>
        </connector>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>varSelectedAccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomaticAcknowledgmentMailtoContact__c</field>
            <value>
                <stringValue>No</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ClaimedAmount__c</field>
            <value>
                <elementReference>Claimed_Amount_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Complaint_Timing__c</field>
            <value>
                <elementReference>Complaint_Timing_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>varSelectedContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>DescriptionX_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description__c</field>
            <value>
                <elementReference>DescriptionX_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <elementReference>Origin_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>varOwner</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <elementReference>Priority_Picklist_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>varSelectedProductId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Receiver__c</field>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>$Setup.RecordTypeIds__c.Case_Complaint__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Draft Creation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sub_Type__c</field>
            <value>
                <elementReference>getTypeAndSubtypeforVR.Slave__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject_forVR</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type</field>
            <value>
                <elementReference>getTypeAndSubtypeforVR.Master__c</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_New_Case_VR_Relation</name>
        <label>Create_New_Case_VR_Relation</label>
        <locationX>1139</locationX>
        <locationY>2084</locationY>
        <connector>
            <targetReference>scrComplaint_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>ComplaintReference__c</field>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NoofVisitReport__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <object>CaseVisitReportRelationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>1276</locationX>
        <locationY>2050</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_New_Case_VR_Relation</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varNewCaseId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Id</name>
        <label>get Queue Id</label>
        <locationX>117</locationX>
        <locationY>1620</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueAssignement.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Id_for_Contact</name>
        <label>get Queue Id for Contact</label>
        <locationX>763</locationX>
        <locationY>1636</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueAssignement.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Queue_Id_for_VR</name>
        <label>get Queue Id for VR</label>
        <locationX>1274</locationX>
        <locationY>1622</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner_for_VR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getQueueAssignement.Queue_Name__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_VR</name>
        <label>get VR</label>
        <locationX>1066</locationX>
        <locationY>216</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>scrComplaint_forVR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>VisitReport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount</name>
        <label>getAccount</label>
        <locationX>566</locationX>
        <locationY>262</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationShips</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getAccount_forComplaint</name>
        <label>getAccount_forComplaint</label>
        <locationX>1392</locationX>
        <locationY>260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationShipsforComplaint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_VR.Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getContact</name>
        <label>getContact</label>
        <locationX>896</locationX>
        <locationY>321</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationShips_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAssignement</name>
        <label>getQueueAssignement</label>
        <locationX>249</locationX>
        <locationY>1380</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Queue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_L1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.NewMarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAssignementforContact</name>
        <label>getQueueAssignementforContact</label>
        <locationX>899</locationX>
        <locationY>1385</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Queue_for_Contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_L1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.NewMarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getQueueAssignementforVR</name>
        <label>getQueueAssignementforVR</label>
        <locationX>1408</locationX>
        <locationY>1363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Queue_for_VR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Business_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.BusinessArea__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Market_L1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>dTblRelationShips.outputSelectedRow.NewMarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Queue_Assignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationShips</name>
        <label>getRelationShips</label>
        <locationX>566</locationX>
        <locationY>382</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flagBusinessArea</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationShips_Contact</name>
        <label>getRelationShips_Contact</label>
        <locationX>896</locationX>
        <locationY>441</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flagBusinessAreaforContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getContact.Account.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationShipsforComplaint</name>
        <label>getRelationShipsforComplaint</label>
        <locationX>1391</locationX>
        <locationY>404</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>flagBusinessAreaforComplaint</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccount_forComplaint.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubtype</name>
        <label>getTypeAndSubtype</label>
        <locationX>249</locationX>
        <locationY>1260</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueAssignement</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSearchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master__c</queriedFields>
        <queriedFields>Slave__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubtypeforContact</name>
        <label>getTypeAndSubtypeforContact</label>
        <locationX>899</locationX>
        <locationY>1245</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueAssignementforContact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSearchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master__c</queriedFields>
        <queriedFields>Slave__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getTypeAndSubtypeforVR</name>
        <label>getTypeAndSubtypeforVR</label>
        <locationX>1408</locationX>
        <locationY>1243</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getQueueAssignementforVR</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varSearchId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Search_Utility__c</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Master__c</queriedFields>
        <queriedFields>Slave__c</queriedFields>
        <queriedFields>Description__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>scrComplaint</name>
        <label>Basic_Information</label>
        <locationX>249</locationX>
        <locationY>1020</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Contact</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName} ! Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookup</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getAccount.Name</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varSelectedContactId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getAccount.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Claimed_Amount</name>
                    <dataType>Currency</dataType>
                    <fieldText>What is the estimated claimed amount?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>frmBackGroundColor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>sdsdqdq</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Complaint_Timing</name>
            <choiceReferences>chxTiming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint Timing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>frmBackGroundColor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>dfdsf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dTblRelationShips</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>BusinessArea__c,AccountManager__c,NewMarketL1__c,Market_Segment_L2_Secondary__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>BusinessArea__c:184, AccountManager__c:364, NewMarketL1__c:364, Market_Segment_L2_Secondary__c:364</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getRelationShips</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>KeyAccountManager__c:Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, AccountName__c:true, BusinessArea__c:true, KeyAccountManager__c:true, Divisions__c:true, Type__c:false, AccountManager2__c:false, AccountManager3__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>colRelationShip</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0</name>
        <label>Basic_Information</label>
        <locationX>899</locationX>
        <locationY>1005</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>scrComplaint_0_0_0_0</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName} ! Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookupforContact</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>varSelectedAccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>getContact.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getContact.Account.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactId_0</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getContact.AccountId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin_forContact</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Claimed_Amount_For_Contact</name>
                    <dataType>Currency</dataType>
                    <fieldText>What is the estimated claimed amount?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>frmBackGroundColor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>sdsdqdq</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Complaint_Timing_for_Contact</name>
            <choiceReferences>chxTiming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint Timing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>frmBackGroundColor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>dfdsf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dTblRelationShips_forContact</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>BusinessArea__c,AccountManager__c,NewMarketL1__c,Market_Segment_L2_Secondary__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>BusinessArea__c:184, AccountManager__c:364, NewMarketL1__c:364, Market_Segment_L2_Secondary__c:364</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>KeyAccountManager__c:Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, AccountName__c:true, BusinessArea__c:true, KeyAccountManager__c:true, Divisions__c:true, Type__c:false, AccountManager2__c:false, AccountManager3__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>colRelationShip</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getRelationShips_Contact</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0</name>
        <label>scrComplaint</label>
        <locationX>823</locationX>
        <locationY>2127</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>sdqdqsd</targetReference>
        </connector>
        <fields>
            <name>CallScript_v01</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Any files to attach to help in closing the case efficiently?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>sdqsdsq</name>
            <extensionName>c:fileUploadImproved</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>sessionKey</name>
                <value>
                    <elementReference>$Flow.InterviewGuid</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>allowMultiple</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>disableDelete</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>embedExternally</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>icon</name>
                <value>
                    <stringValue>standard:file</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>varNewCaseId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>visibleToAllUsers</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderFilesBelow</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>renderExistingFiles</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Save</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0</name>
        <label>Complaint_Details</label>
        <locationX>249</locationX>
        <locationY>1140</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubtype</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Can you help me understand ?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What occured ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Complaint_After_Creation_New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varSearchId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSearchId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Priority_Picklist</name>
            <choiceReferences>Criticality_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionX</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>fldProduct</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which product is it on?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varSelectedProductId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>frmProduct2Search__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedProductId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0_0</name>
        <label>Complaint_Details</label>
        <locationX>899</locationX>
        <locationY>1125</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubtypeforContact</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Can you help me understand ?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchLookup_forContact</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What occured ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Complaint_After_Creation_New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varSearchId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSearchId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Priority_Picklist_forContact</name>
            <choiceReferences>Criticality_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_forContact</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionX_forContact</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>fldProduct_forContact</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which product is it on?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varSelectedProductId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>frmProduct2Search__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedProductId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0_0_0</name>
        <label>Basic_Information</label>
        <locationX>1405</locationX>
        <locationY>982</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_Contact_for_VR</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03_0_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName} ! Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>AccountLookupforVR</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>defaultValue</name>
                        <value>
                            <elementReference>getAccount_forComplaint.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which account does this relate to?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:account</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>get_VR.Account__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>cmpid</name>
                        <value>
                            <stringValue>Parent1</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>parentChild</name>
                        <value>
                            <stringValue>Parent</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>getAccount_forComplaint.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedAccountId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>ContactIdforVR</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>get_VR.Main_External_Attendee__r.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:contact</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldName</name>
                        <value>
                            <stringValue>AccountId</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>filterFieldValue</name>
                        <value>
                            <elementReference>get_VR.Main_External_Attendee__c</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedContactId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <fields>
                    <name>Origin_forVR</name>
                    <choiceReferences>chxOrigin</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Email</stringValue>
                    </defaultValue>
                    <fieldText>How did this come about?</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <fields>
                    <name>Claimed_Amount_forVR</name>
                    <dataType>Currency</dataType>
                    <fieldText>What is the estimated claimed amount?</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                    <scale>0</scale>
                    <visibilityRule>
                        <conditionLogic>and</conditionLogic>
                        <conditions>
                            <leftValueReference>frmBackGroundColor</leftValueReference>
                            <operator>EqualTo</operator>
                            <rightValue>
                                <stringValue>sdsdqdq</stringValue>
                            </rightValue>
                        </conditions>
                    </visibilityRule>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>Complaint_Timing_forVR</name>
            <choiceReferences>chxTiming</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Complaint Timing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>frmBackGroundColor</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>dfdsf</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>dTblRelationShips_forVR</name>
            <dataTypeMappings>
                <typeName>T</typeName>
                <typeValue>Relationship__c</typeValue>
            </dataTypeMappings>
            <extensionName>c:datatable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Relationship__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_suppressBottomBar</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_navigateNextOnSave</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnFields</name>
                <value>
                    <stringValue>BusinessArea__c,AccountManager__c,NewMarketL1__c,Market_Segment_L2_Secondary__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_matchCaseOnFilters</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWidths</name>
                <value>
                    <stringValue>BusinessArea__c:184, AccountManager__c:364, NewMarketL1__c:364, Market_Segment_L2_Secondary__c:364</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnLabels</name>
                <value>
                    <stringValue>KeyAccountManager__c:Sales Manager</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>columnWraps</name>
                <value>
                    <stringValue>Name:true, AccountName__c:true, BusinessArea__c:true, KeyAccountManager__c:true, Divisions__c:true, Type__c:false, AccountManager2__c:false, AccountManager3__c:false</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_isRequired</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideCheckboxColumn</name>
                <value>
                    <stringValue>CB_FALSE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>singleRowSelection</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_singleRowSelection</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>hideHeaderActions</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_hideHeaderActions</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRecordCount</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRecordCount</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>showRowNumbers</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>cb_showRowNumbers</name>
                <value>
                    <stringValue>CB_TRUE</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>preSelectedRows</name>
                <value>
                    <elementReference>colRelationShip</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>tableData</name>
                <value>
                    <elementReference>getRelationShipsforComplaint</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_0_0_0_0_0_0</name>
        <label>Complaint_Details</label>
        <locationX>1408</locationX>
        <locationY>1123</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>getTypeAndSubtypeforVR</targetReference>
        </connector>
        <fields>
            <name>CallScript_v02_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Can you help me understand ?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>SearchLookup_forVR</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Search_Utility__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>displayFieldName</name>
                <value>
                    <stringValue>Description__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>What occured ?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>RecordType_Name__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <stringValue>Complaint_After_Creation_New</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:utility</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>varSearchId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varSearchId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Priority_Picklist_forVR</name>
            <choiceReferences>Criticality_Picklist</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Priority</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Subject_forVR</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>scrComplaint_0_0_0_0_0_0_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_0_0_0_0_0_0_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DescriptionX_forVR</name>
                    <fieldText>Description</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <fields>
                    <name>fldProduct_forVR</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Product2</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Which product is it on?</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varSelectedProductId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:product</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>frmProduct2Search__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varSelectedProductId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>scrComplaint_forVR</name>
        <label>Basic_Information</label>
        <locationX>1211</locationX>
        <locationY>225</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Complaint_Decision</targetReference>
        </connector>
        <fields>
            <name>CallScript_v03_0_0</name>
            <extensionName>lbpm:flowScript</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>script</name>
                <value>
                    <stringValue>Sorry to hear that {!$User.FirstName} ! Who are we helping?</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <fields>
            <name>scrComplaint_forVR_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>scrComplaint_forVR_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComplaintCaseReference</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>Case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Complaint Reference</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>svg</name>
                        <value>
                            <stringValue>standard:case</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>varNewCaseId</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>false</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>displayFieldName</name>
                        <value>
                            <stringValue>CaseNumber</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <outputParameters>
                        <assignToReference>varNewCaseId</assignToReference>
                        <name>selectedValue</name>
                    </outputParameters>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>scrComplaint_forVR_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ComplaintCaseVisitReport</name>
                    <extensionName>c:quickLookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>objectName</name>
                        <value>
                            <stringValue>VisitReport__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>No. of Visit Report</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>selectedValue</name>
                        <value>
                            <elementReference>recordId</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Next</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>779</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Account_Contact_VR</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Create_Contact</name>
        <label>Create Contact</label>
        <locationX>490</locationX>
        <locationY>1212</locationY>
        <connector>
            <targetReference>scrComplaint_0_0_0</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>getAccount.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Create_Contact_0</name>
        <label>Create Contact</label>
        <locationX>1097</locationX>
        <locationY>1222</locationY>
        <connector>
            <targetReference>scrComplaint_0_0_0_0_0_0</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>getAccount_forComplaint.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varSelectedContactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>colRelationShip</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <description>&quot;10&quot;</description>
        <name>frmBannerHeight</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recRealtionShip</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Relationship__c</objectType>
    </variables>
    <variables>
        <name>varDefaultRelationShip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varNewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varOwner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSearchId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedProductId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedReceivedById</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varSelectedRelationshipId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
