force-app/main/default/flows/Lead_UpdateBusinessArea.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <decisions>
        <name>check_BA_field</name>
        <label>check BA field</label>
        <locationX>176</locationX>
        <locationY>287</locationY>
        <defaultConnector>
            <targetReference>check_market_segment_field_on_lead</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>BA null</defaultConnectorLabel>
        <rules>
            <name>BA_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Business_Area__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>BA not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_market_segment_field_on_lead</name>
        <label>check market segment field on lead</label>
        <locationX>473</locationX>
        <locationY>395</locationY>
        <defaultConnector>
            <targetReference>Update_Business_Area</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>market segment l1 is not empty</defaultConnectorLabel>
        <rules>
            <name>market_segment_l1_is_empty</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.MarketL1__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Market_Segmentation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_GK_record</targetReference>
            </connector>
            <label>market segment l1 is  empty</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_gk</name>
        <label>null check gk</label>
        <locationX>275</locationX>
        <locationY>611</locationY>
        <defaultConnectorLabel>gk rec not found</defaultConnectorLabel>
        <rules>
            <name>gk_rec_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_GK_record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Lead</targetReference>
            </connector>
            <label>gk rec found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Lead_UpdateBusinessArea {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead_UpdateBusinessArea and Market Segment</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_GK_record</name>
        <label>Get GK record</label>
        <locationX>275</locationX>
        <locationY>503</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_gk</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web-to-Lead</stringValue>
            </value>
        </filters>
        <filters>
            <field>MarketSegmentL1__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MarketL1__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GatekeeperAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Business_Area</name>
        <label>Update Business Area</label>
        <locationX>671</locationX>
        <locationY>503</locationY>
        <inputAssignments>
            <field>Business_Area__c</field>
            <value>
                <elementReference>$Record.Owner:User.NewBusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Lead</name>
        <label>Update Lead</label>
        <locationX>143</locationX>
        <locationY>719</locationY>
        <inputAssignments>
            <field>Business_Area__c</field>
            <value>
                <elementReference>$Record.Owner:User.NewBusinessArea__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Market_Segmentation__c</field>
            <value>
                <elementReference>Get_GK_record.MarketSegmentation__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_BA_field</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>LeadSource</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Website</stringValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
