force-app/main/default/flows/LEAD_Create_Visit_and_Call_report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>If_record_found</name>
        <label>If record found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>true</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_all_log_a_call_tasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_Visit_and_call_report_record</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <description>23-00002695</description>
    <environments>Default</environments>
    <interviewLabel>LEAD_Create Visit and Call report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>LEAD_Create Visit and Call report</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_Visit_and_call_report_record</name>
        <label>create Visit and call report record</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>get_converted_contact.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrentDiscussion__c</field>
            <value>
                <elementReference>get_all_log_a_call_tasks.Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DateofVisit__c</field>
            <value>
                <elementReference>get_all_log_a_call_tasks.CreatedDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Event_Name__c</field>
            <value>
                <elementReference>$Record.Event_Name__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MainObjectivesoftheMeeting__c</field>
            <value>
                <stringValue>Lead follow up</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Main_External_Attendee__c</field>
            <value>
                <elementReference>get_converted_contact.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MarketSegmentation__c</field>
            <value>
                <elementReference>$Record.Market_Segmentation__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>NewMarketL1__c</field>
            <value>
                <elementReference>$Record.MarketL1__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </inputAssignments>
        <object>VisitReport__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>get_all_log_a_call_tasks</name>
        <label>get all log a call tasks</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>If_record_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhoId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Call</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_converted_contact</name>
        <label>get converted contact</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_all_log_a_call_tasks</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_converted_contact</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Lead_Closed_Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Converted</stringValue>
            </value>
        </filters>
        <filters>
            <field>Lead_Closed_Status__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>closed</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
