force-app/main/default/flows/New_Shipping_Log_Case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <actionCalls>
        <name>create_record</name>
        <label>create record</label>
        <locationX>182</locationX>
        <locationY>1334</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>varnewcaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>Assign_Subject_attributes</name>
        <label>Assign Subject attributes</label>
        <locationX>50</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TypeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Id.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Subject_attributes</name>
        <label>Copy 1 of Assign Subject attributes</label>
        <locationX>314</locationX>
        <locationY>878</locationY>
        <assignmentItems>
            <assignToReference>TypeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>AccountText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Account_Id.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SalesOrderText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Sales_Order_Number</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_Case_0</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_checkbox_value</name>
        <label>check checkbox value</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>not null</defaultConnectorLabel>
        <rules>
            <name>null_value</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Has_the_equipment_number_been_updated_in_AX</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Record_Type</targetReference>
            </connector>
            <label>null value</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_Account</name>
        <label>Check if Account</label>
        <locationX>611</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>No Account Id</defaultConnectorLabel>
        <rules>
            <name>Account_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>recordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_Id</targetReference>
            </connector>
            <label>Account Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_account</name>
        <label>null check account</label>
        <locationX>380</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>account id not found</defaultConnectorLabel>
        <rules>
            <name>account_id_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Account_Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Shipping_Log_Case</targetReference>
            </connector>
            <label>account id found</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>CarrierSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Carrier__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CreditTimingSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Credit_Timing__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ModeTransportSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Mode_of_Transport__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TypeSet</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Type__c</picklistField>
        <picklistObject>Case</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!TypeText}&amp;&apos;-&apos;&amp;{!AccountText}&amp;&apos;-&apos;&amp;{!SalesOrderText}</expression>
    </formulas>
    <interviewLabel>New Shipping Log Case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Shipping Log Case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Case</name>
        <label>Create Case</label>
        <locationX>50</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>varnewcaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Final_screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Car_Truck_Number__c</field>
            <value>
                <elementReference>Correct_Car_Truck_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Timing__c</field>
            <value>
                <elementReference>Credit_Timing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_the_equipment_number_been_updated_in__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorrect_Car_Truck_Number__c</field>
            <value>
                <elementReference>Incorrect_Car_Truck_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_of_Transport__c</field>
            <value>
                <elementReference>Mode_Of_Transport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_bags_cut_on_load__c</field>
            <value>
                <elementReference>No_of_bags_cut_on_load</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_pallets_cut_on_load__c</field>
            <value>
                <elementReference>No_of_pallets_cut_on_load</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Railcar_Number__c</field>
            <value>
                <elementReference>Railcar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrderNumber__c</field>
            <value>
                <elementReference>Sales_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tons_to_cancel_credit__c</field>
            <value>
                <elementReference>Tons_to_cancel_credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Gross__c</field>
            <value>
                <elementReference>Updated_Gross</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Net__c</field>
            <value>
                <elementReference>Updated_Net</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Tare__c</field>
            <value>
                <elementReference>Updated_Tare</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Case_0</name>
        <label>Create Case</label>
        <locationX>314</locationX>
        <locationY>998</locationY>
        <assignRecordIdToReference>varnewcaseId</assignRecordIdToReference>
        <connector>
            <targetReference>Final_screen_0</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Get_Account_Id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Carrier__c</field>
            <value>
                <elementReference>Carrier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ContactId</field>
            <value>
                <elementReference>ContactIdVar</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Correct_Car_Truck_Number__c</field>
            <value>
                <elementReference>Correct_Car_Truck_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Credit_Timing__c</field>
            <value>
                <elementReference>Credit_Timing</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Has_the_equipment_number_been_updated_in__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incorrect_Car_Truck_Number__c</field>
            <value>
                <elementReference>Incorrect_Car_Truck_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Mode_of_Transport__c</field>
            <value>
                <elementReference>Mode_Of_Transport</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_bags_cut_on_load__c</field>
            <value>
                <elementReference>No_of_bags_cut_on_load</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>No_of_pallets_cut_on_load__c</field>
            <value>
                <elementReference>No_of_pallets_cut_on_load</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Railcar_Number__c</field>
            <value>
                <elementReference>Railcar_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type_0.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrderNumber__c</field>
            <value>
                <elementReference>Sales_Order_Number</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tons_to_cancel_credit__c</field>
            <value>
                <elementReference>Tons_to_cancel_credit</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <elementReference>Type</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Gross__c</field>
            <value>
                <elementReference>Updated_Gross</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Net__c</field>
            <value>
                <elementReference>Updated_Net</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Updated_Tare__c</field>
            <value>
                <elementReference>Updated_Tare</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordCreates>
    <recordLookups>
        <name>Get_Account_Id</name>
        <label>Get Account Id</label>
        <locationX>380</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_Subject_attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping_Log</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type_0</name>
        <label>Get Record Type</label>
        <locationX>314</locationX>
        <locationY>758</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Assign_Subject_attributes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Shipping_Log</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Final_screen</name>
        <label>Final screen</label>
        <locationX>50</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_record</targetReference>
        </connector>
        <fields>
            <name>success</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Shipping Case created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Final_screen_0</name>
        <label>Final screen</label>
        <locationX>314</locationX>
        <locationY>1118</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>create_record</targetReference>
        </connector>
        <fields>
            <name>success_0</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Shipping Case created successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Shipping_Log_Case</name>
        <label>Shipping Log Case</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>check_checkbox_value</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>recordId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>recordId</assignToReference>
                <name>recordName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contact</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>ContactId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Case</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>ContactIdVar</assignToReference>
                <name>recordId</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Carrier</name>
            <choiceReferences>CarrierSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Carrier</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Sales_Order_Number</name>
            <dataType>String</dataType>
            <fieldText>Sales Order Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Mode_Of_Transport</name>
            <choiceReferences>ModeTransportSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Mode Of Transport</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>TypeSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>No_of_pallets_cut_on_load</name>
            <dataType>Number</dataType>
            <fieldText>No.of pallets cut on load</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cut pallets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>No_of_bags_cut_on_load</name>
            <dataType>Number</dataType>
            <fieldText>No.of bags cut on load</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cut pallets</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Updated_Gross</name>
            <dataType>Number</dataType>
            <fieldText>Updated Gross</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Weight Discrepancies</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Updated_Tare</name>
            <dataType>Number</dataType>
            <fieldText>Updated Tare</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Weight Discrepancies</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Updated_Net</name>
            <dataType>Number</dataType>
            <fieldText>Updated Net</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Weight Discrepancies</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Car_Trailer_Number</name>
            <dataType>String</dataType>
            <fieldText>Car/Trailer Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Weight Discrepancies</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Incorrect_Car_Truck_Number</name>
            <dataType>String</dataType>
            <fieldText>Incorrect Car/Truck Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Incorrect Car Number</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Correct_Car_Truck_Number</name>
            <dataType>String</dataType>
            <fieldText>Correct Car/Truck Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Incorrect Car Number</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Has_the_equipment_number_been_updated_in_AX</name>
            <dataType>Boolean</dataType>
            <fieldText>Has the equipment number been updated in AX</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Incorrect Car Number</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Credit_Timing</name>
            <choiceReferences>CreditTimingSet</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Credit Timing</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancel Rail billing - Credit instruction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Railcar_Number</name>
            <dataType>String</dataType>
            <fieldText>Railcar Number</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancel Rail billing - Credit instruction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Tons_to_cancel_credit</name>
            <dataType>Number</dataType>
            <fieldText>Tons to cancel/credit</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>Type</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <stringValue>Cancel Rail billing - Credit instruction</stringValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Account</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactIdVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesOrderText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TypeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varnewcaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
