force-app/main/default/flows/NewSampleOnOpportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>56.0</apiVersion>
    <choices>
        <name>IncotermCollected</name>
        <choiceText>Collected</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>IncotermDelivered</name>
        <choiceText>Delivered</choiceText>
        <dataType>String</dataType>
    </choices>
    <dynamicChoiceSets>
        <name>ApprovalRequirement</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ApprovalRequirement__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>AutomaticAcknowledgmentMailtoContact</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>AutomaticAcknowledgmentMailtoContact__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>BusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>BusinessArea__c</picklistField>
        <picklistObject>Opportunity</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>CostChargedtoCustomer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>CostChargedToCustomer__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>EmailLanguage</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Language__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>IncotermMandatory</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Incoterm__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Originoftherequest</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Originoftherequest__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Packaging</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Packaging__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProcessStepatCustomer</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProcessStepAtCustomer__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductForm</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductForm__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>ProductionBusinessArea</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>ProductionBusinessArea__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>RequiredDocumentation</name>
        <dataType>Multipicklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>RequiredDocumentation__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>SampleReason</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>SampleReason__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Unit</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unit__c</picklistField>
        <picklistObject>Sample__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>NewSampleOnOpp {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NewSampleOnOpportunity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_OppSampleRelationship</name>
        <label>Create OppSampleRelationship</label>
        <locationX>176</locationX>
        <locationY>878</locationY>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>getCurrentOppRecord.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sample__c</field>
            <value>
                <elementReference>Create_Sample_Record</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity_Sample_Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sample_Record</name>
        <label>Create Sample Record</label>
        <locationX>176</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Create_OppSampleRelationship</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountName__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AddtheOwnerincopyoftheMail__c</field>
            <value>
                <elementReference>Add_the_Owner_in_copy_of_the_Mail</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ApprovalRequirement__c</field>
            <value>
                <elementReference>Approval_Requirement</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>AutomaticAcknowledgmentMailtoContact__c</field>
            <value>
                <elementReference>Automatic_Acknowledgment_Mail_to_Contact</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BusinessArea__c</field>
            <value>
                <elementReference>Business_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CostChargedToCustomer__c</field>
            <value>
                <elementReference>Cost_Charged_to_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>DispatchSiteLookup__c</field>
            <value>
                <elementReference>DispatchSite.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedDeliveryDate__c</field>
            <value>
                <elementReference>Expected_Delivery_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Gatekeeper__c</field>
            <value>
                <elementReference>SampleAdministrator.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Incoterm__c</field>
            <value>
                <elementReference>Incoterm</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Language__c</field>
            <value>
                <elementReference>Email_Language</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Originoftherequest__c</field>
            <value>
                <elementReference>Origin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Packaging__c</field>
            <value>
                <elementReference>Packagings</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProcessStepAtCustomer__c</field>
            <value>
                <elementReference>Process_Step_at_Customer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductDetailsAndRequirements__c</field>
            <value>
                <elementReference>Product_Details_Requirements</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductForm__c</field>
            <value>
                <elementReference>Product_Form</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductName__c</field>
            <value>
                <elementReference>Product.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ProductionBusinessArea__c</field>
            <value>
                <elementReference>Production_Business_Area</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecipientName__c</field>
            <value>
                <elementReference>Recipients.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RequiredDocumentation__c</field>
            <value>
                <elementReference>Required_Documentation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SampleReason__c</field>
            <value>
                <elementReference>Sample_Reason</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>StatusofSample</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TargetedPerformance__c</field>
            <value>
                <elementReference>Targeted_Performance</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Tech_RelationshipInformation__c</field>
            <value>
                <elementReference>Relationship.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>Units</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume__c</field>
            <value>
                <elementReference>Volume</elementReference>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>getAccountRecord</name>
        <label>getAccountRecord</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getRelationshipRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentOppRecord.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getCurrentOppRecord</name>
        <label>getCurrentOppRecord</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getAccountRecord</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getProduct</name>
        <label>getProduct</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>New_Sample</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentOppRecord.Imerys_Solution__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getRelationshipRecord</name>
        <label>getRelationshipRecord</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>getProduct</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getAccountRecord.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>BusinessArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>getCurrentOppRecord.BusinessArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>New_Sample</name>
        <label>New Sample: Sample Creation</label>
        <locationX>176</locationX>
        <locationY>638</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Sample_Record</targetReference>
        </connector>
        <fields>
            <name>New_Sample_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>NewSample</name>
                    <fieldText>&lt;p style=&quot;text-align: center;&quot;&gt;&lt;strong style=&quot;font-size: 18px;&quot;&gt;Create New Sample&lt;/strong&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>General</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;General and Status Information&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>New_Sample_Section2</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section2_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Account</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>AccountName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Account Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getAccountRecord.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section2_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Business_Area</name>
                    <choiceReferences>BusinessArea</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <elementReference>getCurrentOppRecord.BusinessArea__c</elementReference>
                    </defaultValue>
                    <fieldText>Business Area</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section3</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section3_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Origin</name>
                    <choiceReferences>Originoftherequest</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Origin of the Request</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section3_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>StatusofSample</name>
                    <choiceReferences>Status</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Draft Creation</stringValue>
                    </defaultValue>
                    <fieldText>Status</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section4</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section4_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Expected_Delivery_Date</name>
                    <dataType>Date</dataType>
                    <fieldText>Expected Delivery Date</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section4_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Relationship</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Tech_RelationshipInformation__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Relationship Information</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getRelationshipRecord.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section5</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section5_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Recipients</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>RecipientName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Recipient Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section5_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Process_Step_at_Customer</name>
                    <choiceReferences>ProcessStepatCustomer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Process Step at Customer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section6</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section6_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>ProductInfo</name>
                    <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 16px;&quot;&gt;Creation - Product Information&lt;/span&gt;&lt;/p&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section7</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section7_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>ProductName__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Product Name</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>recordId</name>
                        <value>
                            <elementReference>getProduct.Id</elementReference>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>required</name>
                        <value>
                            <booleanValue>true</booleanValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section7_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Form</name>
                    <choiceReferences>ProductForm</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Product Form</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section8</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section8_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Units</name>
                    <choiceReferences>Unit</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Unit</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section8_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Volume</name>
                    <dataType>Number</dataType>
                    <fieldText>Volume</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                    <scale>0</scale>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section9</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section9_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Production_Business_Area</name>
                    <choiceReferences>ProductionBusinessArea</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Production Business Area</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section9_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Product_Details_Requirements</name>
                    <fieldText>Product Details &amp; Requirements</fieldText>
                    <fieldType>LargeTextArea</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section10</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section10_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Packagings</name>
                    <choiceReferences>Packaging</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Packaging</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section10_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Targeted_Performance</name>
                    <dataType>String</dataType>
                    <fieldText>Targeted Performance</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section11</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section11_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>FieldsToMove</name>
                    <fieldText>&lt;h3&gt;Fields to move to Preparation/Shipment (if no approval required)&lt;/h3&gt;</fieldText>
                    <fieldType>DisplayText</fieldType>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>12</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section12</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section12_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Approval_Requirement</name>
                    <choiceReferences>ApprovalRequirement</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Approval Requirement</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section12_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Sample_Reason</name>
                    <choiceReferences>SampleReason</choiceReferences>
                    <dataType>String</dataType>
                    <defaultValue>
                        <stringValue>Opportunity</stringValue>
                    </defaultValue>
                    <fieldText>Sample Reason</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section13</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section13_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Incoterm</name>
                    <choiceReferences>IncotermCollected</choiceReferences>
                    <choiceReferences>IncotermDelivered</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Incoterm</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section13_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Cost_Charged_to_Customer</name>
                    <choiceReferences>CostChargedtoCustomer</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Cost Charged to Customer</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section14</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section14_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>DispatchSite</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>DispatchSiteLookup__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Dispatch Site</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section14_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Required_Documentation</name>
                    <choiceReferences>RequiredDocumentation</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Required Documentation</fieldText>
                    <fieldType>MultiSelectCheckboxes</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section15</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section15_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>SampleAdministrator</name>
                    <extensionName>flowruntime:lookup</extensionName>
                    <fieldType>ComponentInstance</fieldType>
                    <inputParameters>
                        <name>fieldApiName</name>
                        <value>
                            <stringValue>Gatekeeper__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>label</name>
                        <value>
                            <stringValue>Sample Administrator</stringValue>
                        </value>
                    </inputParameters>
                    <inputParameters>
                        <name>objectApiName</name>
                        <value>
                            <stringValue>Sample__c</stringValue>
                        </value>
                    </inputParameters>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>true</isRequired>
                    <storeOutputAutomatically>true</storeOutputAutomatically>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section15_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Automatic_Acknowledgment_Mail_to_Contact</name>
                    <choiceReferences>AutomaticAcknowledgmentMailtoContact</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Automatic Acknowledgment Mail to Contact</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <fields>
            <name>New_Sample_Section16</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>New_Sample_Section16_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Email_Language</name>
                    <choiceReferences>EmailLanguage</choiceReferences>
                    <dataType>String</dataType>
                    <fieldText>Email Language</fieldText>
                    <fieldType>DropdownBox</fieldType>
                    <isRequired>false</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>New_Sample_Section16_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <name>Add_the_Owner_in_copy_of_the_Mail</name>
                    <dataType>Boolean</dataType>
                    <fieldText>Add the Owner in copy of the Mail</fieldText>
                    <fieldType>InputField</fieldType>
                    <isRequired>true</isRequired>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>getCurrentOppRecord</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
