force-app/main/default/flows/Notification_to_Logistic_Users.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Duvall_Carrier_Email_Alert</name>
        <label>Duvall Carrier Email Alert</label>
        <locationX>314</locationX>
        <locationY>815</locationY>
        <actionName>Case.Duvall_Logistic_Carrier_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Mode_of_Transport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>J_M_Carrier_Email_Alert</name>
        <label>J&amp;M Carrier Email Alert</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <actionName>Case.J_M_Logistic_Carrier_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Mode_of_Transport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Rail_Email_Alert</name>
        <label>Rail Email Alert</label>
        <locationX>314</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Rail_Logistic_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Seasons_Carrier_Email_Alert</name>
        <label>Seasons Carrier Email Alert</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <actionName>Case.Seasons_Logistic_Carrier_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Check_Mode_of_Transport</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Send_chatter_Post_to_logistic_users</name>
        <label>Send chatter Post to logistic users</label>
        <locationX>578</locationX>
        <locationY>1391</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ChatterPost</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Truck_Email_Alert</name>
        <label>Truck Email Alert</label>
        <locationX>578</locationX>
        <locationY>1271</locationY>
        <actionName>Case.Truck_Logistic_Email_Alert</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Send_chatter_Post_to_logistic_users</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_owner_name</name>
        <label>assign owner name</label>
        <locationX>446</locationX>
        <locationY>455</locationY>
        <assignmentItems>
            <assignToReference>owner</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_User_record.Name</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Carrier_field</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>GroupemailId</name>
        <dataType>String</dataType>
        <value>
            <stringValue>@syltruckturnaway@imerys.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_Carrier_field</name>
        <label>Check Carrier field</label>
        <locationX>446</locationX>
        <locationY>575</locationY>
        <defaultConnector>
            <targetReference>Check_Mode_of_Transport</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>Seasons</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Seasons</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Season_Email</targetReference>
            </connector>
            <label>Seasons</label>
        </rules>
        <rules>
            <name>Duvall</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Duvall</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Duvall_Email</targetReference>
            </connector>
            <label>Duvall</label>
        </rules>
        <rules>
            <name>J_M</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Carrier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>J&amp;M</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>J_M_Email</targetReference>
            </connector>
            <label>J&amp;M</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Mode_of_Transport</name>
        <label>Check Mode of Transport</label>
        <locationX>446</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Truck_Email</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Truck</defaultConnectorLabel>
        <rules>
            <name>Rail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mode_of_Transport__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mode_of_Transport__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mode_of_Transport__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rail</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Rail_Email</targetReference>
            </connector>
            <label>Rail</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notification to Logistic Users {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notification to Logistic Users</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_User_record</name>
        <label>Get User record</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_owner_name</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Duvall_Email</name>
        <label>Duvall Email</label>
        <locationX>314</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Duvall_Carrier_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Duvall_Email_1__c</field>
            <value>
                <elementReference>$Label.Duvall_Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>J_M_Email</name>
        <label>J&amp;M Email</label>
        <locationX>578</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>J_M_Carrier_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>J_M_Email_1__c</field>
            <value>
                <elementReference>$Label.J_M_Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>J_M_Email_2__c</field>
            <value>
                <elementReference>$Label.J_M_Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Rail_Email</name>
        <label>Rail Email</label>
        <locationX>314</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Rail_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Rail_Email_1__c</field>
            <value>
                <elementReference>$Label.Rail_Email_1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rail_Email_2__c</field>
            <value>
                <elementReference>$Label.Rail_Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rail_Email_3__c</field>
            <value>
                <elementReference>$Label.Rail_Email_3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Rail_Email_4__c</field>
            <value>
                <elementReference>$Label.Rail_Email_4</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Truck_Email</name>
        <label>Truck Email</label>
        <locationX>578</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Truck_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Truck_Email__c</field>
            <value>
                <elementReference>$Label.Truck_Email</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Season_Email</name>
        <label>Update Season Email</label>
        <locationX>50</locationX>
        <locationY>695</locationY>
        <connector>
            <targetReference>Seasons_Carrier_Email_Alert</targetReference>
        </connector>
        <inputAssignments>
            <field>Season_Email_1__c</field>
            <value>
                <elementReference>$Label.Season_Email1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Season_Email_2__c</field>
            <value>
                <elementReference>$Label.Season_Email_2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_User_record</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Carrier__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Mode_of_Transport__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>ChatterPost</name>
        <isViewedAsPlainText>true</isViewedAsPlainText>
        <text>Hi {!GroupemailId}
A new entry was made to the {!$Record.Account.Name} Shipping Log:
Customer Name :  {!$Record.Account.Name}
Carrier Name : {!$Record.Carrier__c}
Type : {!$Record.Type__c}
Date and Time : {!$Record.CreatedDate}
Creator : {!owner}
Thank you!</text>
    </textTemplates>
    <variables>
        <name>collcetionvar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>CollVar</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>listGrpVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>GroupMember</objectType>
    </variables>
    <variables>
        <name>owner</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varlist</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
