force-app/main/default/flows/Notify_Credit_Note_Product_Managers.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Notify_Morgan_Frederick</name>
        <label>Notify_Morgan_Frederick</label>
        <locationX>842</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notify_Morgan_Frederick</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Morgan_Renato</name>
        <label>Notify Morgan &amp; Renato</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notify_Morgan_Renato</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Niki_Ginel</name>
        <label>Notify Niki Ginel</label>
        <locationX>1106</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notify_Niki_Ginel</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Renato_Gianotti</name>
        <label>Notify Renato Gianotti</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notify_Renato_Gianotti</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Robin_McCann</name>
        <label>Notify Robin McCann</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notify_Robin_McCann</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>Notify_Tyler_Levis</name>
        <label>Notify Tyler Levis</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Case.Notify_Tyler_Levis</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Imerys_Manufacturing_Plant__r.Name</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Imerys_Manufacturing_Plant</name>
        <label>Check Imerys Manufacturing Plant</label>
        <locationX>842</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>For_Renato_Gianotti</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16) AND 17</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR - Capitan Bermudez</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR - Tucuman</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Bras Cubas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Cachoeiro 1</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Cachoeiro 2</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Cachoeiro 3</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Campinas</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Capim</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - ICB - Rio Claro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Limeira</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Mogi das Cruzes</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Paulinia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Pirai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>BR - Suzano</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CL - Arica</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CL - Santiago</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Renato_Gianotti</targetReference>
            </connector>
            <label>For Renato Gianotti</label>
        </rules>
        <rules>
            <name>For_Robin_McCann</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12) AND 13</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Antonito</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Escondido</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Green River</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Klamath Falls</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - La Porte</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lake Wales</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lakeview</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lompoc Resale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Quincy FL</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Superior</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Vicksburg</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Youngsville</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Robin_McCann</targetReference>
            </connector>
            <label>For Robin McCann</label>
        </rules>
        <rules>
            <name>For_Tyler_Levis</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15 OR 16 OR 17) AND 18</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CA - Suzorite</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>GB - Lostock</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - Cuautitlan</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - Hermosillo</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Baltimore</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Bennettsville</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Canton</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Canton Fiberlean</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Kings Mountain</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Marble Hill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Polycor</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Sahuarita</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Service First Warehouse</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Somerset</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Sylacauga</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Whitestone</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Willsboro</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Tyler_Levis</targetReference>
            </connector>
            <label>For Tyler Levis</label>
        </rules>
        <rules>
            <name>For_Morgan_Frederick</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8) AND 9</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - Zacoalco</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Fernley</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lompoc Celpure</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lompoc Powder Mill</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lompoc Silicates</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Lompoc Specialties</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Quincy WA</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Urbana Fiber Cel</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Morgan_Frederick</targetReference>
            </connector>
            <label>For Morgan Frederick</label>
        </rules>
        <rules>
            <name>For_Niki_Ginel</name>
            <conditionLogic>(1 OR 2 OR 3 OR 4 OR 5 OR 6 OR 7 OR 8 OR 9 OR 10 OR 11 OR 12 OR 13 OR 14 OR 15) AND 16</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - KTM - Dolores</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - KTM - Dolores TP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - KTM - Monterrey</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>MX - KTM - Monterrey TP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - Dry Branch Kaolin</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - KTC - CRN</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - KTC - GLS</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - KTC - LNG</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - KTC - SND</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - MGK - DRP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - MGK - PP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - MGK - Resale</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - MGK - SCP</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - MGK - Tech</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>US - TQC - Spruce Pine</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Niki_Ginel</targetReference>
            </connector>
            <label>For Niki Ginel</label>
        </rules>
        <rules>
            <name>For_Morgan_Renato</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Imerys_Manufacturing_Plant__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>AR - Ledesma</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.RecordType.DeveloperName</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Credit_Note</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Notify_Morgan_Renato</targetReference>
            </connector>
            <label>For Morgan &amp; Renato</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Notify Credit Note Product Managers {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Notify Credit Note Product Managers</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>716</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Imerys_Manufacturing_Plant</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Approval_Step__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Product Manager</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
