force-app/main/default/flows/Offer_AddDefaultTeamMember.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>Check_Condition_to_Add_Member</name>
        <label>Check Condition to Add Member</label>
        <locationX>336</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_condition_true</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Country</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Germany</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MarketSegmentationNew__r.Name</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>Foundry</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.MarketSegmentationNew__r.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>NF - Other Non-Ferrous Metals - Others</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Toggle_true</targetReference>
            </connector>
            <label>If condition true</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_user_already_Exist</name>
        <label>Check if user already Exist</label>
        <locationX>182</locationX>
        <locationY>815</locationY>
        <defaultConnector>
            <targetReference>Set_Toggle_false</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Check_User_in_Team.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_Offer_Team_Record</targetReference>
            </connector>
            <label>If not</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Offer_AddDefaultTeamMember {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Offer_AddDefaultTeamMember</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Offer_Team_Record</name>
        <label>Create Offer Team Record</label>
        <locationX>50</locationX>
        <locationY>935</locationY>
        <connector>
            <targetReference>Set_Toggle_false</targetReference>
        </connector>
        <inputAssignments>
            <field>Access_Level__c</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Offer__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </inputAssignments>
        <object>OfferTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Check_User_in_Team</name>
        <label>Check User in Team</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_if_user_already_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Offer__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_User.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Access_Level__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>OfferTeam__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User</name>
        <label>Get User</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_User_in_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Christian Frauhammer</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>User</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Set_Toggle_false</name>
        <label>Set Toggle false</label>
        <locationX>182</locationX>
        <locationY>1151</locationY>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Toggle_true</name>
        <label>Set Toggle true</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Get_User</targetReference>
        </connector>
        <inputAssignments>
            <field>Toggle__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Condition_to_Add_Member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tech_RelationshipInformation__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Offer__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
