force-app/main/default/flows/Opportunity_Scoring_RecurrentSales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>B0</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;0 - no budget discussed or unrealistic budget&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>B1</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;1 - realistic budget discussion engaged at customer side&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>B2</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;2 - realistic and (close to) committed budget&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Bgt0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;0 - No existing budget&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Bgt1</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;1 - Unclear budget/ budget in progress&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Bgt2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;2- Clear allocated budget&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CP0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;0 - Weak positioning vs. competition&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CP1</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; background-color: transparent;&quot;&gt;1 - No specific advantage or disadvantage&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>CP2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;2 - Yes, we have clear competitive edge/ no competitors &lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>D0</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;0 - no decision process defined or discussed&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>D1</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;1 - first view on decision makers and decision criteria&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>D2</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;2 - defined decision process with clear stakeholders and decision criteria&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>DC0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;0 - Unclear decision process&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>DC1</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; background-color: transparent;&quot;&gt;1 - First view on criteria and stakeholders&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>DC2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;2 - Clear process with criteria and identified stakeholders&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>FP0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;0 - No strategic interest/ potential&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>FP1</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; background-color: transparent;&quot;&gt;1 - Unclear strategic interest/ potential&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>FP2</name>
        <choiceText>&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 16px; color: rgb(62, 62, 60);&quot;&gt;2 - Very high strategic interest/ strong potential&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>KH0</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; background-color: transparent;&quot;&gt;0 - No, lack of know-how&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>KH1</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;1 - Potential known solution could be investigated&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>KH2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;2 - Yes, known solutions meet the needs&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>MJ0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;0 - High risks&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>MJ1</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;1 - Potential risks&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>MJ2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;2 - No risk&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>MoreOrLess</name>
        <choiceText>More or less</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>RN0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;0 - No demonstrated need&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>RN1</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; background-color: transparent;&quot;&gt;1 - Potential need/ compelling reason identified&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>RN2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; font-size: 12pt;&quot;&gt;2 - Clear need/ compelling reason expressed by the customer&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VS0</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 75, 79); font-size: 12pt;&quot;&gt;0 - Little value&lt;/span&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VS1</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; color: rgb(0, 75, 79); background-color: transparent;&quot;&gt;1 - Average value&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>VS2</name>
        <choiceText>&lt;span style=&quot;background-color: transparent; color: rgb(0, 75, 79); font-size: 12pt;&quot;&gt;2 - High value&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>firstchoice</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <description>Record type :  Recurrent Sales
New version</description>
    <formulas>
        <name>SumAccessibility</name>
        <dataType>Number</dataType>
        <expression>{!Competitive_positioning} + {!KnowHow1}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumAttractiveness</name>
        <dataType>Number</dataType>
        <expression>{!Further_potential} + {!Major_risk} + {!Value_at_Stake}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumRealNeed</name>
        <dataType>Number</dataType>
        <expression>{!Budget1} + {!Decision_process} + {!Real_need}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TotalScore</name>
        <dataType>Number</dataType>
        <expression>( ( ( ( {!Real_need}/2 + {!Budget1} / 2 +  {!Decision_process} /2) / 3 ) +
( ( {!Further_potential} / 2  + {!Major_risk} / 2 + {!Value_at_Stake} / 2 ) /3 ) +
 ( ( {!KnowHow1} / 2 + {!Competitive_positioning} / 2 ) / 2 ) ) / 3) * 100</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Opportunity Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_ID</name>
        <label>Get Opportunity ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reality</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SpotSales_OppoScore</name>
        <label>Update SpotSales OppoScore</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CommentOnRecommendation__c</field>
            <value>
                <elementReference>Comment_on_Recommendation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CommentReality__c</field>
            <value>
                <elementReference>Comment_Reality</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment_Accessibility__c</field>
            <value>
                <elementReference>Comment_Accessibility</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Comment_Attractiveness__c</field>
            <value>
                <elementReference>Comment_Attractiveness</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_Budget__c</field>
            <value>
                <elementReference>Budget1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_DecisionProcess__c</field>
            <value>
                <elementReference>Decision_process</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_Knowledge__c</field>
            <value>
                <elementReference>KnowHow1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_Location__c</field>
            <value>
                <elementReference>Competitive_positioning</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_Margin__c</field>
            <value>
                <elementReference>Further_potential</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_RealNeed__c</field>
            <value>
                <elementReference>Real_need</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_Risks__c</field>
            <value>
                <elementReference>Major_risk</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SCR_ValueAtStake__c</field>
            <value>
                <elementReference>Value_at_Stake</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Reality</name>
        <label>Opportunity Scoring</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recomendation</targetReference>
        </connector>
        <fields>
            <name>Reality1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Reality&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace2</name>
            <fieldText>&lt;p&gt;{!BlankSpace}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>RealNeed</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;1. Is there a real need / compelling reason to act on the customer side?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Real_need</name>
            <choiceReferences>RN0</choiceReferences>
            <choiceReferences>RN1</choiceReferences>
            <choiceReferences>RN2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Real need</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Budget</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;2. Is there a realistic and committed budget defined by the customer?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Budget1</name>
            <choiceReferences>Bgt0</choiceReferences>
            <choiceReferences>Bgt1</choiceReferences>
            <choiceReferences>Bgt2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Budget</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Decisionprocess</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;3. Is the decision process clear? (e.g. selection criteria, stakeholder…)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Decision_process</name>
            <choiceReferences>DC0</choiceReferences>
            <choiceReferences>DC1</choiceReferences>
            <choiceReferences>DC2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Decision process</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comment_Reality</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankSpace_1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!BlankSpace}&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Attractiveness</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;&lt;u&gt;Attractiveness&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace_R</name>
            <fieldText>&lt;p&gt;{!BlankSpace}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValueAtStake</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;4. Is there an interesting value at stake? (e.g. strong revenue, volume, margin)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Value_at_Stake</name>
            <choiceReferences>VS0</choiceReferences>
            <choiceReferences>VS1</choiceReferences>
            <choiceReferences>VS2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Value at Stake</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Is it a real need?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>FurtherPotential1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;5. &lt;/span&gt;&lt;span style=&quot;font-size: 12px; color: rgb(0, 0, 0); background-color: transparent;&quot;&gt;Does this business or customer have further potential or is of strategic interest to Imerys? (e.g. the customer is key or strategic for Imerys; the business can lead to substantial new business in the future…) &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Further_potential</name>
            <choiceReferences>FP0</choiceReferences>
            <choiceReferences>FP1</choiceReferences>
            <choiceReferences>FP2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Further potential</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>MajorRisk</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;6. &lt;/span&gt;&lt;span style=&quot;color: rgb(0, 0, 0); font-size: 12px; background-color: transparent;&quot;&gt;Is the opportunity free of major risk (especially financial or reputational risks)?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Major_risk</name>
            <choiceReferences>MJ0</choiceReferences>
            <choiceReferences>MJ1</choiceReferences>
            <choiceReferences>MJ2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Major risk</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comment_Attractiveness</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>BlankSpace3</name>
            <fieldText>&lt;p&gt;{!BlankSpace}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Accessibility1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;&lt;u&gt;Accessibility&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BlankSpace4</name>
            <fieldText>&lt;p&gt;{!BlankSpace}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Know_Label1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;7. Do we have the required know-how? (adequate solutions that match the customer needs)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>KnowHow1</name>
            <choiceReferences>KH0</choiceReferences>
            <choiceReferences>KH1</choiceReferences>
            <choiceReferences>KH2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Know - how</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>CompetitivePositioning1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;8. Do we have a good competitive positioning? (e.g. no obstacles, right geography, clear points of value proposition…)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Competitive_positioning</name>
            <choiceReferences>CP0</choiceReferences>
            <choiceReferences>CP1</choiceReferences>
            <choiceReferences>CP2</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Competitive positioning</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Comment_Accessibility</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recomendation</name>
        <label>Recomendation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_SpotSales_OppoScore</targetReference>
        </connector>
        <fields>
            <name>ScorePercent</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px;&quot;&gt;Score: {!TotalScore} %&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Recomendation1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Reality&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoRecommendation1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; background-color: rgb(255, 255, 255); color: rgb(67, 67, 67);&quot;&gt;Strong Opportunity, please proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SumRealNeed</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Reality_Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 18px; color: rgb(67, 67, 67);&quot;&gt;Recommendation - Engage further discussions with the customer to get a better understanding of its needs &amp;amp; context&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SumRealNeed</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attractiveness1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Attractiveness&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoRecommendation2</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(67, 67, 67);&quot;&gt;Strong Opportunity, please proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SumAttractiveness</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attractivity_Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(67, 67, 67);&quot;&gt;Recommendation&lt;/span&gt;&lt;span style=&quot;font-size: 18px; color: rgb(67, 67, 67);&quot;&gt; - Is there a way to increase Imerys solutions attractivity?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SumAttractiveness</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>3.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Accessibility2</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(62, 62, 60);&quot;&gt;&lt;u&gt;Accessibility&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NoRecommendation3</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(255, 255, 255); font-size: 18px; color: rgb(67, 67, 67);&quot;&gt;Strong Opportunity, please proceed&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SumAccessibility</leftValueReference>
                    <operator>GreaterThan</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Accessibility_Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;Recommendation&lt;/span&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 18px;&quot;&gt; - Is there a way to improve our ability to win?&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>SumAccessibility</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>2.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Comment_on_Recommendation</name>
            <fieldText>Comments</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_ID</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>BlankSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SUM_RealNeed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
