force-app/main/default/flows/Opportunity_Scoring_SpotSales.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>50.0</apiVersion>
    <choices>
        <name>AltSolution</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Alternative solutions assessment to consider working with new suppliers (replacement or diversification)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Alternative solutions assessment to consider working with new suppliers (replacement or diversification)</stringValue>
        </value>
    </choices>
    <choices>
        <name>B0</name>
        <choiceText>&lt;span style=&quot;color: black; font-family: &amp;quot;Open Sans&amp;quot;; font-size: 12pt;&quot;&gt;0 - no budget discussed or unrealistic budget&lt;/span&gt;</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>HighPricevolatility</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;High-price volatility business or spot-oriented business&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>High-price volatility business or spot-oriented business</stringValue>
        </value>
    </choices>
    <choices>
        <name>MoreOrLess</name>
        <choiceText>More or less</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Other</name>
        <choiceText>&lt;span style=&quot;color: rgb(67, 67, 67); font-family: Arial; font-size: 12pt;&quot;&gt;Other (please specify)&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Other (please specify) </stringValue>
        </value>
    </choices>
    <choices>
        <name>Supplydisruption</name>
        <choiceText>&lt;span style=&quot;color: rgb(67, 67, 67); font-family: Arial; font-size: 12pt;&quot;&gt;Supply disruption or inability to supply an unanticipated need from usual supplier&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Supply disruption or inability to supply an unanticipated need from usual supplier </stringValue>
        </value>
    </choices>
    <choices>
        <name>TimeBound</name>
        <choiceText>&lt;span style=&quot;font-size: 12pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;One-off and/or Time-bound need&lt;/span&gt;</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>One-off and/or Time-bound need</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <constants>
        <name>firstchoice</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <formulas>
        <name>R1</name>
        <dataType>Number</dataType>
        <expression>{!Value_at_Stake} + {!CustomerRelationship} + {!FurtherPotential2} + {!Improve_Operations}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>R3</name>
        <dataType>Number</dataType>
        <expression>{!FurtherPotential2}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>R4</name>
        <dataType>Number</dataType>
        <expression>{!Identified_Risks}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>R5</name>
        <dataType>Number</dataType>
        <expression>{!Right_Information}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>R6</name>
        <dataType>Number</dataType>
        <expression>{!Know_how}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>R7</name>
        <dataType>Number</dataType>
        <expression>{!Chance_to_win} + {!CustomerRelationship}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>R8</name>
        <dataType>Number</dataType>
        <expression>{!Lead_Time}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumAccessibility</name>
        <dataType>Number</dataType>
        <expression>{!Know_how} + {!Right_Information} +{!Chance_to_win} + {!Lead_Time}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>SumAttractiveness</name>
        <dataType>Number</dataType>
        <expression>{!CustomerRelationship} + {!FurtherPotential2} + {!Value_at_Stake} + {!Improve_Operations} + {!Identified_Risks}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>Opportunity Scoring {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Perform Opportunity Scoring</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>Get_Opportunity_ID</name>
        <label>Get Opportunity ID</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Reality</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Oppo_Spot_sales_scoring</name>
        <label>Update Oppo Spot sales scoring</label>
        <locationX>176</locationX>
        <locationY>518</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>BusinessCause_Spot__c</field>
            <value>
                <elementReference>BusinessCause</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ChanceToWin_Spot__c</field>
            <value>
                <elementReference>Chance_to_win</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CustomerRelationship_Spot__c</field>
            <value>
                <elementReference>CustomerRelationship</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ExpectedLeadTime_Spot__c</field>
            <value>
                <elementReference>Lead_Time</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FurtherPotential_Spot__c</field>
            <value>
                <elementReference>FurtherPotential2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IdentifiedRisk_Spot__c</field>
            <value>
                <elementReference>Identified_Risks</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ImproveOperations_Spot__c</field>
            <value>
                <elementReference>Improve_Operations</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>KnowHow_Spot__c</field>
            <value>
                <elementReference>Know_how</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RightInformation_Spot__c</field>
            <value>
                <elementReference>Right_Information</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ValueAtStake_Spot__c</field>
            <value>
                <elementReference>Value_at_Stake</elementReference>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <runInMode>DefaultMode</runInMode>
    <screens>
        <name>Reality</name>
        <label>Opportunity Scoring</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Recomendation</targetReference>
        </connector>
        <fields>
            <name>BusinessCase</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;&lt;u&gt;Business Cause&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Businesscause1</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px; background-color: rgb(255, 255, 255);&quot;&gt;﻿1. What do you think is the business cause?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>BusinessCause</name>
            <choiceReferences>HighPricevolatility</choiceReferences>
            <choiceReferences>AltSolution</choiceReferences>
            <choiceReferences>Supplydisruption</choiceReferences>
            <choiceReferences>TimeBound</choiceReferences>
            <choiceReferences>Other</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Business Cause</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Other1</name>
            <fieldText>Other (Please Specify)</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessCause</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Attractiveness</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;background-color: rgb(255, 255, 255); font-size: 18px;&quot;&gt;&lt;u&gt;Attractiveness&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ValueAtStake</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;﻿2. Is there an interesting value at stake? (strong revenue, volume and/or margin)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Value_at_Stake</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Value at Stake</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>&lt;p&gt;Is it a real need?&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>FurtherPotential1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;3. Does this deal need to be fulfilled to secure our relationship with this customer? (key account, prove our reliability…)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>CustomerRelationship</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Customer Relationship</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>FurtherPotential</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;4. Does this customer have further potential for Imerys? (revenue growth…)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>FurtherPotential2</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Further Potential</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Improvement</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;5. Can this deal enable us to improve our operations context? (factory capacity, stock…)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Improve_Operations</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Improve Operations</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Risks</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;6. Are there identified risks, in particular regarding financial stability of the customer?&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Identified_Risks</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Identified Risks</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Accessibility1</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;b style=&quot;font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Accessibility&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Information</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;7. Do we have the right information to answer? (clear needs, volume, lead-time…)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Right_Information</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Right Information</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Knowhow</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 12px; color: rgb(67, 67, 67);&quot;&gt;8. Do we have the required know-how? (adequate solutions that match the customer needs)&amp;nbsp;&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Know_how</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Know-how</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Chance</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;9. Are you confident in our chances to win this opportunity?&lt;/span&gt;&lt;span style=&quot;color: rgb(0, 176, 80); font-size: 12px;&quot;&gt; &lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Chance_to_win</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Chance to win</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>LeadTime</name>
            <fieldText>&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-size: 12px;&quot;&gt;10. Are we able to secure the expected lead-time? (for sending the quote, for delivering the solutions…)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Lead_Time</name>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>MoreOrLess</choiceReferences>
            <choiceReferences>Yes</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Secure expected Lead-Time</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Recomendation</name>
        <label>Recomendation</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Update_Oppo_Spot_sales_scoring</targetReference>
        </connector>
        <fields>
            <name>Recomendation1</name>
            <fieldText>&lt;p&gt;&lt;b style=&quot;color: rgb(62, 62, 60); font-size: 18px; background-color: rgb(255, 255, 255);&quot;&gt;&lt;u&gt;Recommendation&lt;/u&gt;&lt;/b&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>AvoidAnswer</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Avoid answering to this opportunity&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Capitalize</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;color: rgb(67, 67, 67); font-family: Arial; font-size: 14pt;&quot;&gt;Capitalize on the fact that we are helping the customer in getting supplied with the expected materials to avoid any disruption in his production&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>BusinessCause</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Supplydisruption</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Accessibility_Result</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Initiate discussion on eventual opportunities following this deal&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>1 AND ( 2 OR 3 OR 4) AND 5</conditionLogic>
                <conditions>
                    <leftValueReference>R3</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Yes</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BusinessCause</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>AltSolution</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BusinessCause</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Supplydisruption</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>BusinessCause</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <elementReference>Other</elementReference>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>AssessConsider</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Assess the will to respond (depending on other criteria)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Consider requesting a proactive credit-check during early stages&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>R4</leftValueReference>
                    <operator>GreaterThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Clarify</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Clarify missing information with the customer before engaging further effort&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>R5</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>Review</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Review solution characteristics with the customer and ensure that all of them are essential&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Onboard technical team to identify possibility of having a suitable solution (other existing products, incremental changes…)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Decide on go / no-go depending on this analysis&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>R6</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>detrimental</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Avoid answering to this opportunity except if it may be detrimental to your relationship with the customer (see Question 3)&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>R7</leftValueReference>
                    <operator>LessThanOrEqualTo</operator>
                    <rightValue>
                        <numberValue>1.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <fields>
            <name>delivery</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Review with Production what delivery schedule could be possible&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Propose adjustments to the customer (e.g. 50% of the delivery on expected date and the 50% remaining later)&lt;/span&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;br&gt;&lt;/p&gt;&lt;p&gt;&lt;span style=&quot;font-size: 14pt; font-family: Arial; color: rgb(67, 67, 67);&quot;&gt;Move on with the opportunity only if you found an agreement with customer&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
            <visibilityRule>
                <conditionLogic>and</conditionLogic>
                <conditions>
                    <leftValueReference>R8</leftValueReference>
                    <operator>EqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
                <conditions>
                    <leftValueReference>R1</leftValueReference>
                    <operator>NotEqualTo</operator>
                    <rightValue>
                        <numberValue>0.0</numberValue>
                    </rightValue>
                </conditions>
            </visibilityRule>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Opportunity_ID</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>BlankSpace</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SUM_RealNeed</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
