force-app/main/default/flows/PB98_SAM_MissingFieldsForApproval.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>All Fields</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision10</name>
        <label>myDecision10</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision12</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_11</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_11</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_11_A1</targetReference>
            </connector>
            <label>Dispatch Site &amp; Incoterm</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision12</name>
        <label>myDecision12</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision14</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_13</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_13</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_13_A1</targetReference>
            </connector>
            <label>Dispatch Site &amp; Required Documentation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision14</name>
        <label>myDecision14</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_15</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_15</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_15_A1</targetReference>
            </connector>
            <label>Dispatch Site &amp; Sample Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Cost Charge &amp; Incoterm</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision20</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Cost Charge &amp; Required Documentation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision2</name>
        <label>myDecision2</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_3</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_3_A1</targetReference>
            </connector>
            <label>Dispatch Site</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision20</name>
        <label>myDecision20</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision22</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_21</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_21</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_21_A1</targetReference>
            </connector>
            <label>Incoterm &amp; Required Documentation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>11.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision22</name>
        <label>myDecision22</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision24</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_23</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_23</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_23_A1</targetReference>
            </connector>
            <label>Incoterm &amp; Sample Administration</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>12.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision24</name>
        <label>myDecision24</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision26</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_25</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_25</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_25_A1</targetReference>
            </connector>
            <label>Required Documentation &amp; Sample Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>13.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision26</name>
        <label>myDecision26</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision28</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_27</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_27</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_27_A1</targetReference>
            </connector>
            <label>Sample Admin,incoterm, cost charge,required documentation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>14.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision28</name>
        <label>myDecision28</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision30</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_29</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_29</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_29_A1</targetReference>
            </connector>
            <label>Sample administrator, incoterm, Required Documentation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>15.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision30</name>
        <label>myDecision30</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision32</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_31</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_31</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_31_A1</targetReference>
            </connector>
            <label>Sample Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>16.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision32</name>
        <label>myDecision32</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision34</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_33</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_33</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_33_A1</targetReference>
            </connector>
            <label>Incoterm, Cost charge &amp; required doc</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>17.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision34</name>
        <label>myDecision34</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision36</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_35</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_35</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_35_A1</targetReference>
            </connector>
            <label>Required Documentation</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>18.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision36</name>
        <label>myDecision36</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision38</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_37</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_37</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_37_A1</targetReference>
            </connector>
            <label>No blanks</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>19.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision38</name>
        <label>myDecision38</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision40</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_39</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_39</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_39_A1</targetReference>
            </connector>
            <label>Incoterm</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision4</name>
        <label>myDecision4</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision6</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_5</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_5_A1</targetReference>
            </connector>
            <label>Dispatch Site &amp; Cost Charge</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>20.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision40</name>
        <label>myDecision40</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision42</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_41</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_41</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_41_A1</targetReference>
            </connector>
            <label>Cost Charge</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>21.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision42</name>
        <label>myDecision42</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision44</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_43</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_43</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_43_A1</targetReference>
            </connector>
            <label>Sample Administrator , Incoterm, Cost Charge</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>22.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision44</name>
        <label>myDecision44</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision46</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_45</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_45</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_45_A1</targetReference>
            </connector>
            <label>Sample Administrator , Required Documentation, Cost Charge</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>23.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision46</name>
        <label>myDecision46</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_47</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_47</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_47_A1</targetReference>
            </connector>
            <label>Cost charge, Sample Administrator</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision6</name>
        <label>myDecision6</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision8</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_7</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_7_A1</targetReference>
            </connector>
            <label>Dispatch Site, Cost Charge, Incoterm</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision8</name>
        <label>myDecision8</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision10</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_9</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_9</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_9_A1</targetReference>
            </connector>
            <label>Dispatch Site, Cost Charge, Incoterm,Required Document</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;

[Sample__c].ByPassPB98__c = FALSE &amp;&amp;

[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;

{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;

{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)))&amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c)))&amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c))&amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_11</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})))&amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c})))&amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c}))&amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK([Sample__c].DispatchSiteLookup__c )&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_13</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK({!myVariable_current.DispatchSiteLookup__c} )&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c ))) &amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE 	</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_15</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))) &amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;
NOT(ISBLANK([Sample__c].RequiredDocumentation__c))&amp;&amp;
NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;
NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))&amp;&amp;
NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;
(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;
(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)))&amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

ISBLANK([Sample__c].RequiredDocumentation__c)&amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c))&amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_21</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})))&amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

ISBLANK({!myVariable_current.RequiredDocumentation__c})&amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c}))&amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c ))) &amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

NOT(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_23</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))) &amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_25</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_27</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))&amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_29</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))&amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp;
NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;

[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_3</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp;
NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;

{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp;
ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_31</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp;
ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;
NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE
</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_33</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)))&amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_35</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})))&amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;
NOT(ISBLANK([Sample__c].RequiredDocumentation__c))&amp;&amp;
NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;

[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_37</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;
NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))&amp;&amp;
NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;

{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
NOT(ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c))) &amp;&amp;
NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;

[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_39</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
NOT(ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c}))) &amp;&amp;
NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;

{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp;
NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

NOT(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_41</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp;
NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_43</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_45</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOT(ISBLANK(([Sample__c].DispatchSiteLookup__c )))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c)))&amp;&amp;

ISBLANK([Sample__c].Gatekeeper__c) &amp;&amp;
NOT(ISPICKVAL([Sample__c].Status__c, &quot;Preparation/Shipment&quot;))  &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE	</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_47</name>
        <dataType>Boolean</dataType>
        <expression>NOT(ISBLANK(({!myVariable_current.DispatchSiteLookup__c} )))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c})))&amp;&amp;

ISBLANK({!myVariable_current.Gatekeeper__c}) &amp;&amp;
NOT(ISPICKVAL({!myVariable_current.Status__c}, &quot;Preparation/Shipment&quot;))  &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
NOT(ISBLANK(TEXT([Sample__c].Incoterm__c )))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c))&amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_5</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
NOT(ISBLANK(TEXT({!myVariable_current.Incoterm__c} )))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c}))&amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(NOT(ISBLANK([Sample__c].RequiredDocumentation__c))) &amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c))&amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_7</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(NOT(ISBLANK({!myVariable_current.RequiredDocumentation__c}))) &amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c}))&amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>ISBLANK(([Sample__c].DispatchSiteLookup__c ))&amp;&amp;
ISBLANK(TEXT([Sample__c].CostChargedToCustomer__c)) &amp;&amp; 
ISBLANK(TEXT([Sample__c].Incoterm__c ))&amp;&amp;

(ISBLANK([Sample__c].RequiredDocumentation__c)) &amp;&amp;

NOT(ISBLANK([Sample__c].Gatekeeper__c)) &amp;&amp;
[Sample__c].ByPassPB98__c = FALSE &amp;&amp;
[Sample__c].RecordType.DeveloperName = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
$User.ByPassProcessBuilders__c = FALSE</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_9</name>
        <dataType>Boolean</dataType>
        <expression>ISBLANK(({!myVariable_current.DispatchSiteLookup__c} ))&amp;&amp;
ISBLANK(TEXT({!myVariable_current.CostChargedToCustomer__c})) &amp;&amp; 
ISBLANK(TEXT({!myVariable_current.Incoterm__c} ))&amp;&amp;

(ISBLANK({!myVariable_current.RequiredDocumentation__c})) &amp;&amp;

NOT(ISBLANK({!myVariable_current.Gatekeeper__c})) &amp;&amp;
{!myVariable_current.ByPassPB98__c} = FALSE &amp;&amp;
{!myVariable_current.RecordType.DeveloperName} = &quot;SAM_SampleWithOpportunity&quot; &amp;&amp;
{!$User.ByPassProcessBuilders__c} = FALSE</expression>
    </formulas>
    <interviewLabel>PB98_SAM_MissingFieldsForApproval-11_InterviewLabel</interviewLabel>
    <label>PB98_SAM_MissingFieldsForApproval</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Sample__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>RecursiveCountVariable</name>
        <value>
            <elementReference>RecursiveCountVariable</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_11_A1</name>
        <label>Update missing field</label>
        <locationX>1100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Incoterm</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_13_A1</name>
        <label>Update missing field</label>
        <locationX>1300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_15_A1</name>
        <label>Update missing fields</label>
        <locationX>1500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Sample Administrator</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>Update missing field</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Cost Charge, Incoterm</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>Update missing field</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Cost Charge, Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>Update missing field</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Cost Charge, Incoterm, Required Documentation and Sample Administrator</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_21_A1</name>
        <label>Update missing field</label>
        <locationX>2100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Incoterm, Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_23_A1</name>
        <label>Update missing field</label>
        <locationX>2300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Incoterm, Sample Administrator</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_25_A1</name>
        <label>update missing field</label>
        <locationX>2500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Required Documentation, Sample Admnistrator</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_27_A1</name>
        <label>Update missing fields</label>
        <locationX>2700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Sample Administrator, Incoterm,Cost of charge, Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_29_A1</name>
        <label>Update missing fields</label>
        <locationX>2900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Sample administrator, incoterm, Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_31_A1</name>
        <label>Update missing field</label>
        <locationX>3100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Sample Administrator</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_33_A1</name>
        <label>Missing field</label>
        <locationX>3300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Cost Charge, Incoterm,Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_35_A1</name>
        <label>update missing fields</label>
        <locationX>3500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_37_A1</name>
        <label>Missing fields</label>
        <locationX>3700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>GlobalConstant</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_39_A1</name>
        <label>Update Missing fields</label>
        <locationX>3900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Incoterm</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_3_A1</name>
        <label>Update Missing Fields</label>
        <locationX>300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_41_A1</name>
        <label>Update missing fields</label>
        <locationX>4100</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Cost Charge</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_43_A1</name>
        <label>Update Missing Field</label>
        <locationX>4300</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Sample Administrator,Incoterm, Cost Charge</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_45_A1</name>
        <label>Update Missing Fields</label>
        <locationX>4500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Sample Administration, Cost Charge, Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_47_A1</name>
        <label>Update Missing Fields</label>
        <locationX>4700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Cost Charge, Sample Administrator</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_5_A1</name>
        <label>Update missing fields</label>
        <locationX>500</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Cost Charge</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_7_A1</name>
        <label>Update missing field</label>
        <locationX>700</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Cost Charge, Incoterm</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Sample__c]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_9_A1</name>
        <label>Update missing fields</label>
        <locationX>900</locationX>
        <locationY>200</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>Missing Information for Approval process</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <field>MissingInformationForApprovalprocess__c</field>
            <value>
                <stringValue>Dispatch Site, Cost Charge, Incoterm,Required Documentation</stringValue>
            </value>
        </inputAssignments>
        <object>Sample__c</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sample__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Sample__c</objectType>
    </variables>
    <variables>
        <name>RecursiveCountVariable</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
</Flow>
