force-app/main/default/flows/ProductpriceMapping.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>assign_SAPP_values_to_SAP</name>
        <label>assign SAPP values to SAP</label>
        <locationX>264</locationX>
        <locationY>684</locationY>
        <assignmentItems>
            <assignToReference>Loop_SAP.Customer_Ex_works_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Customer_ex_works_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Price_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Energy_Surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Energy_Surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.FreightSurcharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Freight_Surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Full_delivered_Price_exc_surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Full_delivered_Price_exc_surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Full_delivered_Price_inc_surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Full_delivered_Price_inc_surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Negotiated_Quantity__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Negtd_Qty__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.OtherSurcharges__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.OtheCharges__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Packaging_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Packaging_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Product_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.ProductUnitPrice__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Price_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Surcharges__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Transport_Price_per_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.TransportPricePerUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Transportpricelumpsum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Trasport_price_lumpsum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Transportpricemanual__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Transport_price_manual__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Transportpriceunitbase__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Transport_price_unit_base__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Cust_Ex_works_price_Target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Customer_ex_works_price_target_c__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.PackagingPriceTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Packaging_Price_Target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.TransportpriceunitbaseTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Transport_price_unit_base_target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.TransportpricelumpsumTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Transport_Price_Per_Container_Target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Transport_Price_per_unit_target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Transport_price_Target_per_unit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Full_Delivered_Price_Target_exc_surchg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Total_Price_exc_surcharge_Target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Full_Delivered_Price_Target_inc_surchg__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Total_Price_inc_surcharge_Target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.EnergySurchargeTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Energy_surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.FreightSurchargesTarget__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Freight_surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Steric_Acid_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Steric_Acid_Surcharge_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Export_Container_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Export_Container_Surcharge_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Drayage_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Drayage_Surcharge_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Inflation_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Inflation_Surcharge_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Fuel_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Fuel_Surcharge_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.ICMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.ICMS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.PIS_COFINS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.PIS_COFINS__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Steric_Acid_Surcharge_Target_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Steric_Acid_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Export_Container_Surcharge_tgt_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Export_Container_Surcharge_Target_pe__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Drayage_Surcharge_Target_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Drayage_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Inflation_Surcharge_Target_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Inflation_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.Fuel_Surcharge_Target_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.Fuel_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.ICMS_target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.ICMS_target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_SAP.PIS_COFINS_target__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>PP_of_SAP.PIS_COFINS_target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_multi_collection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_multi_collection</name>
        <label>assign to multi-collection</label>
        <locationX>264</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>storeSAP</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_SAP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SAP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Null_check</name>
        <label>Null check</label>
        <locationX>396</locationX>
        <locationY>576</locationY>
        <defaultConnector>
            <targetReference>Loop_SAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>If No</defaultConnectorLabel>
        <rules>
            <name>If_Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>PP_of_SAP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_SAPP_values_to_SAP</targetReference>
            </connector>
            <label>If Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>ProductpriceMapping {!$Flow.CurrentDateTime}</interviewLabel>
    <label>P2Q Update SAP current prices</label>
    <loops>
        <name>Loop_SAP</name>
        <label>Loop SAP</label>
        <locationX>176</locationX>
        <locationY>360</locationY>
        <collectionReference>listofSAP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>PP_of_SAP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_SAP</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>listofSAP</name>
        <label>listofSAP</label>
        <locationX>176</locationX>
        <locationY>252</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SAP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAgreementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAgreementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>PP_of_SAP</name>
        <label>PP of SAP</label>
        <locationX>396</locationX>
        <locationY>468</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement_Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_SAP.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_From__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_To__c</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement_Product_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SAP</name>
        <label>Update SAP</label>
        <locationX>176</locationX>
        <locationY>1068</locationY>
        <inputReference>storeSAP</inputReference>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>listofSAP</targetReference>
        </connector>
        <object>SalesAgreementProduct</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-16</startDate>
            <startTime>12:15:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>storeSAP</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
</Flow>
