force-app/main/default/flows/QLI_UpdateForIncoterm.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>Check_Incoterm_Value</name>
        <label>Check Incoterm Value</label>
        <locationX>314</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_EXW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoterm__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Ex Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_location</targetReference>
            </connector>
            <label>If EXW</label>
        </rules>
        <rules>
            <name>If_Not_EXW</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Incoterm__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Ex Works</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Location1</targetReference>
            </connector>
            <label>If Not EXW</label>
        </rules>
    </decisions>
    <description>22-00000573</description>
    <environments>Default</environments>
    <interviewLabel>QLI_UpdateForIncoterm {!$Flow.CurrentDateTime}</interviewLabel>
    <label>QLI_UpdateForIncoterm</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_location</name>
        <label>Update location</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>CommentsOnFreight__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>DateOfFirstSale__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTransportationLeadtimeTime__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>EstimatedTransportationLeadtimeUnit__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Estimated_number_of_shipment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FreightUnitOfMeasure__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>FreightUnitPrice__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>IncotermLocation__c</field>
            <value>
                <elementReference>$Record.Product2.ImerysManufacturingPlant__r.City__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ModeOfShipment__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>ValidityDate__c</field>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Location1</name>
        <label>Update Location</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <inputAssignments>
            <field>IncotermLocation__c</field>
            <value>
                <elementReference>$Record.Quote.ShipTo__r.BillingCity</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>188</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Incoterm_Value</targetReference>
        </connector>
        <object>QuoteLineItem</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
