force-app/main/default/flows/Sales_Agreement_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>429</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>record_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Relationship_Record</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>null_check_SA_Team_mem</targetReference>
            </connector>
            <label>record available</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_KAM</name>
        <label>null check KAM</label>
        <locationX>347</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rec_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Related_Relationship_Record.AccountManager__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Related_Relationship_Record.KeyAccountManager__r.IsActive</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>null_check_owner_id</targetReference>
            </connector>
            <label>rec found</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_owner_id</name>
        <label>null check owner id</label>
        <locationX>149</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Sales_Agreement_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>new member</defaultConnectorLabel>
        <rules>
            <name>owner_equals_current_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.OwnerId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Related_Relationship_Record.KeyAccountManager__r.IsActive</elementReference>
                </rightValue>
            </conditions>
            <label>owner equals current user</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_SA_Team_mem</name>
        <label>null check SA Team mem</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>null_check_KAM</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>new SA Team mem</defaultConnectorLabel>
        <rules>
            <name>SA_Team_mem_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_Team</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>SA Team mem found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Agreement Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Agreement Team KAM</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_SA_share</name>
        <label>Create SA share</label>
        <locationX>281</locationX>
        <locationY>1079</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>Get_Related_Relationship_Record.KeyAccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAgreementShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Sales_Agreement_Team</name>
        <label>Sales Agreement Team</label>
        <locationX>281</locationX>
        <locationY>971</locationY>
        <connector>
            <targetReference>Create_SA_share</targetReference>
        </connector>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Member__c</field>
            <value>
                <elementReference>Get_Related_Relationship_Record.KeyAccountManager__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>KeyAccountManager</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Sales_Agreement__c</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Sales_Agreement_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Get_Related_Relationship_Record</name>
        <label>Get Related Relationship Record</label>
        <locationX>429</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Relationship_Information__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_Team</name>
        <label>Get SA Team</label>
        <locationX>429</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Access__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </filters>
        <filters>
            <field>Member__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Related_Relationship_Record.KeyAccountManager__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>303</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Related_Relationship_Record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Relationship_Information__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SalesAgreement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1200</triggerOrder>
</Flow>
