force-app/main/default/flows/Sales_Agreement_Product_Price.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Add_to_Collection_Variable</name>
        <label>Add to Collection Variable</label>
        <locationX>402</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>singleListVar</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Var</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_sales_price</name>
        <label>assign sales price</label>
        <locationX>138</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Loop_Var.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Var.Target_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Price_Target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Var.Bypass_flow_update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_sales_price_0</name>
        <label>assign sales price</label>
        <locationX>402</locationX>
        <locationY>2063</locationY>
        <assignmentItems>
            <assignToReference>Loop_Var.ProposedSalesPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Var.Target_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sales_Price_Target__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Loop_Var.Bypass_flow_update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Add_to_Collection_Variable</name>
        <label>Copy 1 of Add to Collection Variable</label>
        <locationX>402</locationX>
        <locationY>1247</locationY>
        <assignmentItems>
            <assignToReference>priorScheduleCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>prior_schedule_list</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>prior_schedule_list</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_sales_price</name>
        <label>Copy 1 of assign sales price</label>
        <locationX>138</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>prior_schedule_list.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prior_schedule_list.Target_Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prior_schedule_list.Bypass_flow_update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_sales_price</name>
        <label>Copy 2 of assign sales price</label>
        <locationX>402</locationX>
        <locationY>1055</locationY>
        <assignmentItems>
            <assignToReference>prior_schedule_list.ProposedSalesPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prior_schedule_list.Target_Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>prior_schedule_list.Bypass_flow_update__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Add_to_Collection_Variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>bypass_erp_integration</name>
        <label>bypass erp integration</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>bypass</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.bypass_ERP_Integration_update__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>dateTime</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>query_only_if_update</targetReference>
            </connector>
            <label>bypass</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_PricesFound</name>
        <label>Copy 1 of PricesFound</label>
        <locationX>182</locationX>
        <locationY>731</locationY>
        <defaultConnector>
            <targetReference>GetSchedules</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetPriorSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>prior_schedule_list</targetReference>
            </connector>
            <label>Copy 1 of Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_SAStatus</name>
        <label>Copy 1 of SAStatus</label>
        <locationX>402</locationX>
        <locationY>947</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Add_to_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_SalesPrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.SalesAgreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_sales_price</targetReference>
            </connector>
            <label>Copy 1 of SalesPrice</label>
        </rules>
        <rules>
            <name>Copy_1_of_ProposedSalesPrice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.SalesAgreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.SalesAgreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnderRevision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_assign_sales_price</targetReference>
            </connector>
            <label>Copy 1 of ProposedSalesPrice</label>
        </rules>
    </decisions>
    <decisions>
        <name>PricesFound</name>
        <label>PricesFound</label>
        <locationX>182</locationX>
        <locationY>1739</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GetSchedules</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Var</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>
    <decisions>
        <description>Only when an existing SAPP is edited. Not for new</description>
        <name>query_only_if_update</name>
        <label>query only if update</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_PricesFound</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_new</name>
            <conditionLogic>1 AND 2 AND (3 OR 4)</conditionLogic>
            <conditions>
                <leftValueReference>$Record__Prior.Price_From__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Price_To__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_From__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Price_To__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>GetPriorSchedules</targetReference>
            </connector>
            <label>not new</label>
        </rules>
    </decisions>
    <decisions>
        <name>SAStatus</name>
        <label>SAStatus</label>
        <locationX>402</locationX>
        <locationY>1955</locationY>
        <defaultConnector>
            <targetReference>Add_to_Collection_Variable</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SalesPrice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.SalesAgreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_sales_price</targetReference>
            </connector>
            <label>SalesPrice</label>
        </rules>
        <rules>
            <name>ProposedSalesPrice</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.SalesAgreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Activated</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.SalesAgreement.Status</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UnderRevision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_sales_price_0</targetReference>
            </connector>
            <label>ProposedSalesPrice</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>dateTime</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - (2/1440)</expression>
    </formulas>
    <interviewLabel>Sales Agreement Product Price {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Agreement Product Price</label>
    <loops>
        <name>Loop_Var</name>
        <label>Loop Var</label>
        <locationX>50</locationX>
        <locationY>1847</locationY>
        <collectionReference>ListVar</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>SAStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_prod_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>prior_schedule_list</name>
        <label>prior schedule list</label>
        <locationX>50</locationX>
        <locationY>839</locationY>
        <collectionReference>priorSchedulesList</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Copy_1_of_SAStatus</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Copy_1_of_Update_prod_Schedule</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetPriorSchedules</name>
        <label>GetPriorSchedules</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_PricesFound</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (1 AND 4 AND 5)</filterLogic>
        <filters>
            <field>SalesAgreementProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Price_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record__Prior.Price_To__c</elementReference>
            </value>
        </filters>
        <object>SalesAgreementProductSchedule</object>
        <outputReference>priorSchedulesList</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>SalesAgreementProductId</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetSchedules</name>
        <label>GetSchedules</label>
        <locationX>182</locationX>
        <locationY>1631</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>PricesFound</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3) OR (1 AND 4 AND 5)</filterLogic>
        <filters>
            <field>SalesAgreementProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_To__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_To__c</elementReference>
            </value>
        </filters>
        <object>SalesAgreementProductSchedule</object>
        <outputReference>ListVar</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
        <queriedFields>SalesAgreementProductId</queriedFields>
        <queriedFields>Sales_Price__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_prod_Schedule</name>
        <label>Copy 1 of Update prod Schedule</label>
        <locationX>50</locationX>
        <locationY>1439</locationY>
        <connector>
            <targetReference>GetSchedules</targetReference>
        </connector>
        <inputReference>priorScheduleCollection</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_prod_Schedule</name>
        <label>Update prod Schedule</label>
        <locationX>50</locationX>
        <locationY>2447</locationY>
        <inputReference>singleListVar</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>bypass_erp_integration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sent_to_CS__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>bypass_ERP_Integration_update__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
    <variables>
        <name>ListVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
    <variables>
        <name>priorScheduleCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
    <variables>
        <name>priorSchedulesList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
    <variables>
        <name>ScheduleList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
    <variables>
        <name>singleListVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
</Flow>
