force-app/main/default/flows/Sales_agreement_team_Delete_Condition.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_value</name>
        <label>assign value</label>
        <locationX>270</locationX>
        <locationY>1043</locationY>
        <assignmentItems>
            <assignToReference>SAPPDeleteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Get_SAPP_share_record</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_SAPP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_the_member_and_SA_matches</name>
        <label>Check if the member and SA matches</label>
        <locationX>402</locationX>
        <locationY>935</locationY>
        <defaultConnector>
            <targetReference>Loop_SAPP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_SAPP.Tech_SA__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Sales_Agreement__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SAPP_share_record.ParentId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_SAPP.Id</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_SAPP_share_record.UserOrGroupId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>$Record.Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_value</targetReference>
            </connector>
            <label>match</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_SA_share_record</name>
        <label>check SA share record</label>
        <locationX>336</locationX>
        <locationY>395</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rec_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_share</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_the_SA_share</targetReference>
            </connector>
            <label>rec found</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_SAPP_share</name>
        <label>null check SAPP share</label>
        <locationX>182</locationX>
        <locationY>1319</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAPP_share_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SAPPDeleteList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_SAPP_share</targetReference>
            </connector>
            <label>SAPP share found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales agreement team - Delete Condition {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales agreement team - Delete Condition</label>
    <loops>
        <name>Loop_SAPP</name>
        <label>Loop SAPP</label>
        <locationX>182</locationX>
        <locationY>827</locationY>
        <collectionReference>Get_SAPP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_the_member_and_SA_matches</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>null_check_SAPP_share</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordDeletes>
        <name>Delete_SAPP_share</name>
        <label>Delete SAPP share</label>
        <locationX>50</locationX>
        <locationY>1427</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <object>Sales_Agreement_Product_Price__Share</object>
    </recordDeletes>
    <recordDeletes>
        <name>Delete_the_SA_share</name>
        <label>Delete the SA share</label>
        <locationX>182</locationX>
        <locationY>503</locationY>
        <connector>
            <targetReference>Get_SAPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <object>SalesAgreementShare</object>
    </recordDeletes>
    <recordLookups>
        <name>Get_SA_share</name>
        <label>Get SA share</label>
        <locationX>336</locationX>
        <locationY>287</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_SA_share_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ParentId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreementShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAPP</name>
        <label>Get SAPP</label>
        <locationX>182</locationX>
        <locationY>611</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SAPP_share_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Tech_SA__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Agreement_Product_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SAPP_share_record</name>
        <label>Get SAPP share record</label>
        <locationX>182</locationX>
        <locationY>719</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_SAPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement_Product_Price__Share</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SA_share</targetReference>
        </connector>
        <object>Sales_Agreement_Team__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SAPPDeleteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Product_Price__Share</objectType>
    </variables>
</Flow>
