force-app/main/default/flows/Sales_Agreement_Share_to_all_SA_team_members.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>check_owner_Id</name>
        <label>check owner Id</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Create_Sales_agreement_Team_share</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>new member</defaultConnectorLabel>
        <rules>
            <name>owner_equals_current_user</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_Sales_Agreement.OwnerId</elementReference>
                </rightValue>
            </conditions>
            <label>owner equals current user</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_permission_set_assignment_for_the_user</name>
        <label>check permission set assignment for the user</label>
        <locationX>798</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_Permission_set_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>perm_assg_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Permission_set_assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Permission_set_SAPP</targetReference>
            </connector>
            <label>perm assg available</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>248</locationX>
        <locationY>384</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SA_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Sales_Agreement</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_owner_Id</targetReference>
            </connector>
            <label>SA available</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_perm_set_SAPP</name>
        <label>null check perm set SAPP</label>
        <locationX>798</locationX>
        <locationY>1008</locationY>
        <defaultConnector>
            <targetReference>Create_Permission_set_assignment</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAPP_Perm_set_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Get_Permission_set_assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>SAPP Perm set found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Sales Agreement Share to all SA team members {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sales Agreement Share to all SA team members</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_Permission_set_assignment</name>
        <label>Copy 1 of Create Permission set assignment</label>
        <locationX>886</locationX>
        <locationY>600</locationY>
        <connector>
            <targetReference>Get_Permission_set_SAPP</targetReference>
        </connector>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Permission_set_assignment</name>
        <label>Create Permission set assignment</label>
        <locationX>886</locationX>
        <locationY>1116</locationY>
        <inputAssignments>
            <field>AssigneeId</field>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PermissionSetId</field>
            <value>
                <elementReference>Get_Permission_set_SAPP.Id</elementReference>
            </value>
        </inputAssignments>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Sales_agreement_Team_share</name>
        <label>Create Sales agreement Team share</label>
        <locationX>182</locationX>
        <locationY>600</locationY>
        <inputAssignments>
            <field>AccessLevel</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentId</field>
            <value>
                <elementReference>Get_Sales_Agreement.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>UserOrGroupId</field>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAgreementShare</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>Copy_1_of_Get_Permission_set_assignment</name>
        <label>Copy 1 of Get Permission set assignment</label>
        <locationX>798</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_perm_set_SAPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_set_SAPP.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_Set</name>
        <label>Get Permission Set</label>
        <locationX>798</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_Permission_set_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>ManufacturingSalesAgreementsPsl</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_assignment</name>
        <label>Get Permission set assignment</label>
        <locationX>798</locationX>
        <locationY>384</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_permission_set_assignment_for_the_user</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>PermissionSetId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_Permission_Set.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>AssigneeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Member__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSetAssignment</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Permission_set_SAPP</name>
        <label>Get Permission set SAPP</label>
        <locationX>798</locationX>
        <locationY>792</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Get_Permission_set_assignment</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sales_agreement_product_price</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>PermissionSet</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Sales_Agreement</name>
        <label>Get Sales Agreement</label>
        <locationX>248</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreement</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>397</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Sales_Agreement</targetReference>
        </connector>
        <object>Sales_Agreement_Team__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X0_Hr_After</name>
            <connector>
                <targetReference>Get_Permission_Set</targetReference>
            </connector>
            <label>0 Hr After</label>
            <offsetNumber>0</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalSAPPshare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Product_Price__Share</objectType>
    </variables>
    <variables>
        <name>SAPPShareSingleList</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Product_Price__Share</objectType>
    </variables>
</Flow>
