force-app/main/default/flows/Sam_UpdateCollectionAddress.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>55.0</apiVersion>
    <assignments>
        <name>Assign_counter</name>
        <label>Assign counter</label>
        <locationX>270</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SiteId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loopvar.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopvar</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_counter_var</name>
        <label>check counter var</label>
        <locationX>182</locationX>
        <locationY>887</locationY>
        <defaultConnectorLabel>Other values</defaultConnectorLabel>
        <rules>
            <name>equal_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCollectionAddress1</targetReference>
            </connector>
            <label>equal to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_product</name>
        <label>check product</label>
        <locationX>336</locationX>
        <locationY>311</locationY>
        <defaultConnectorLabel>product not available</defaultConnectorLabel>
        <rules>
            <name>product_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ProductName__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_manufacturing_plant</targetReference>
            </connector>
            <label>product available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>UpdateCollectionAddress</name>
        <dataType>String</dataType>
        <expression>{!$Record.DispatchSiteLookup__r.Street__c}&amp;&apos; &apos;&amp;{!$Record.DispatchSiteLookup__r.City__c}&amp;&apos; &apos;&amp;{!$Record.DispatchSiteLookup__r.ZipPostalCode__c}&amp;&apos; &apos;&amp;{!$Record.DispatchSiteLookup__r.Country__c}</expression>
    </formulas>
    <interviewLabel>Sam_UpdateCollectionAddress {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Sam_UpdateCollectionAddress</label>
    <loops>
        <name>loopvar</name>
        <label>loopvar</label>
        <locationX>182</locationX>
        <locationY>551</locationY>
        <collectionReference>Get_manufacturing_plant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_counter_var</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_manufacturing_plant</name>
        <label>Get manufacturing plant</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopvar</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Imerys_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Manufacturing_Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCollectionAddress1</name>
        <label>UpdateCollectionAddress &amp; Manufacturing plant</label>
        <locationX>50</locationX>
        <locationY>1007</locationY>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Incoterm__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Collected</stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Manufacturing_Plant__c</field>
            <value>
                <elementReference>SiteId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PickUpAddress__c</field>
            <value>
                <elementReference>UpdateCollectionAddress</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>210</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>check_product</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>PickUpAddress__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <filters>
            <field>ProductName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sample__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>SiteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
