force-app/main/default/flows/SAPP_Update_sales_price_to_null_when_SAPP_deleted.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_null</name>
        <label>assign null</label>
        <locationX>138</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>update_SAPS_Sales_price_to_null.Sales_Price__c</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FinalSAPSCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>update_SAPS_Sales_price_to_null</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_SAPS_Sales_price_to_null</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Prices_found</name>
        <label>Prices found</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>storeSAPS</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_SAPS_Sales_price_to_null</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SAPP_Update sales price to null when SAPP deleted {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAPP_Update sales price to null when SAPP deleted</label>
    <loops>
        <name>update_SAPS_Sales_price_to_null</name>
        <label>update SAPS Sales price to null</label>
        <locationX>50</locationX>
        <locationY>551</locationY>
        <collectionReference>storeSAPS</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_null</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_to_null</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GetSchedules</name>
        <label>GetSchedules</label>
        <locationX>182</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Prices_found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_To__c</elementReference>
            </value>
        </filters>
        <object>SalesAgreementProductSchedule</object>
        <outputReference>storeSAPS</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>StartDate</queriedFields>
        <queriedFields>EndDate</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>update_to_null</name>
        <label>update to null</label>
        <locationX>50</locationX>
        <locationY>887</locationY>
        <inputReference>FinalSAPSCollection</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>GetSchedules</targetReference>
        </connector>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>Delete</recordTriggerType>
        <triggerType>RecordBeforeDelete</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>FinalSAPSCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
    <variables>
        <name>storeSAPS</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProductSchedule</objectType>
    </variables>
    <variables>
        <name>storeschedules</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
