force-app/main/default/flows/SAPP_Fetch_Negotiated_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>622</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Negtd_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Compare_Full_inc_surch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Negotiated_Quantity</name>
        <label>Assign Negotiated Quantity</label>
        <locationX>358</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>$Record.Negtd_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Schedule_Records.Negotiated_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_1_of_Compare_Full_inc_surch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Target_to_Sales</name>
        <label>Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>2639</locationY>
        <assignmentItems>
            <assignToReference>$Record.Customer_ex_works_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Customer_ex_works_price_target_c__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Packaging_Price</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Total_Prices</name>
        <label>Assign Total Prices</label>
        <locationX>50</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>FDPExcSurcharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Customer_ex_works_price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FDPExcSurcharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.TransportPricePerUnit__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FDPExcSurcharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Packaging_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FDPIncSurcharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>FDPExcSurcharge</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FDPIncSurcharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Energy_Surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>FDPIncSurcharge</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>$Record.Freight_Surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_SAPP</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_10_of_Assign_Target_to_Sales</name>
        <label>Copy 10 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>5639</locationY>
        <assignmentItems>
            <assignToReference>$Record.Fuel_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Fuel_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ICMS_tgt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_11_of_Assign_Target_to_Sales</name>
        <label>Copy 11 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>5939</locationY>
        <assignmentItems>
            <assignToReference>$Record.ICMS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.ICMS_target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>PIS_COFINS_tgt</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_12_of_Assign_Target_to_Sales</name>
        <label>Copy 12 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>6239</locationY>
        <assignmentItems>
            <assignToReference>$Record.PIS_COFINS__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.PIS_COFINS_target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Full_inc_sruch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_Target_to_Sales</name>
        <label>Copy 1 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>2939</locationY>
        <assignmentItems>
            <assignToReference>$Record.Packaging_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Packaging_Price_Target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transport_price_unit_base</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_Assign_Target_to_Sales</name>
        <label>Copy 2 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>3239</locationY>
        <assignmentItems>
            <assignToReference>$Record.Transport_price_unit_base__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transport_price_unit_base_target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Transport_price_per_container</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_3_of_Assign_Target_to_Sales</name>
        <label>Copy 3 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>3539</locationY>
        <assignmentItems>
            <assignToReference>$Record.Trasport_price_lumpsum__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Transport_Price_Per_Container_Target__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Energy_Surcharge_target</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_4_of_Assign_Target_to_Sales</name>
        <label>Copy 4 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>3839</locationY>
        <assignmentItems>
            <assignToReference>$Record.Energy_Surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Energy_surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Freight_Surcharge_target_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_5_of_Assign_Target_to_Sales</name>
        <label>Copy 5 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>4139</locationY>
        <assignmentItems>
            <assignToReference>$Record.Freight_Surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Freight_surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Steric_Acid_Surcharge_Target_per_uom_changed</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_6_of_Assign_Target_to_Sales</name>
        <label>Copy 6 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>4439</locationY>
        <assignmentItems>
            <assignToReference>$Record.Steric_Acid_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Steric_Acid_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Export_Container_Surcharge_Target_per_uom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_7_of_Assign_Target_to_Sales</name>
        <label>Copy 7 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>4739</locationY>
        <assignmentItems>
            <assignToReference>$Record.Export_Container_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Export_Container_Surcharge_Target_pe__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Drayage_Surcharge_Target_per_uom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_8_of_Assign_Target_to_Sales</name>
        <label>Copy 8 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>5039</locationY>
        <assignmentItems>
            <assignToReference>$Record.Drayage_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Drayage_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Inflation_Surcharge_Target_per_uom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_9_of_Assign_Target_to_Sales</name>
        <label>Copy 9 of Assign Target to Sales</label>
        <locationX>710</locationX>
        <locationY>5339</locationY>
        <assignmentItems>
            <assignToReference>$Record.Inflation_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Inflation_Surcharge_Target_per_uom__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Fuel_Surcharge_Target_per_uom</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ignore_Energy_Surcharge</name>
        <label>Ignore Energy Surcharge</label>
        <locationX>710</locationX>
        <locationY>7439</locationY>
        <assignmentItems>
            <assignToReference>ignoreEnergySurcharge</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Including_surcharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ignore_Energy_Surcharge_Target</name>
        <label>Ignore Energy Surcharge Target</label>
        <locationX>710</locationX>
        <locationY>2039</locationY>
        <assignmentItems>
            <assignToReference>ignoreEnergySurchargeTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Including_surcharges_Target</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ignore_Transport_Price</name>
        <label>Ignore Transport Price</label>
        <locationX>556</locationX>
        <locationY>6947</locationY>
        <assignmentItems>
            <assignToReference>IgnoreTransportPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_fdp_prices</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ignore_Transport_Price_target</name>
        <label>Ignore Transport Price target</label>
        <locationX>556</locationX>
        <locationY>1547</locationY>
        <assignmentItems>
            <assignToReference>ignoreTransportPriceTarget</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_target_fdp_prices</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>numberone</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Compare_Full_inc_sruch</name>
        <label>Compare Full inc surch</label>
        <locationX>842</locationX>
        <locationY>6431</locationY>
        <defaultConnector>
            <targetReference>Excluding_surcharges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Full_delivered_Price_inc_surcharge__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>blank</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>FullIncAdjust</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exworks</targetReference>
            </connector>
            <label>Prior != current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Compare_Full_inc_surch</name>
        <label>Copy 1 of Compare Full inc surch</label>
        <locationX>842</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Excluding_surcharges_target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Prior_current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Price_inc_surcharge_Target__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.Total_Price_inc_surcharge_Target__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Total_Price_inc_surcharge_Target__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Exworks_target</targetReference>
            </connector>
            <label>Copy 1 of Prior != current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Drayage_Surcharge_Target_per_uom</name>
        <label>Drayage Surcharge  (Target - per uom)</label>
        <locationX>842</locationX>
        <locationY>4931</locationY>
        <defaultConnector>
            <targetReference>Inflation_Surcharge_Target_per_uom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>DS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Drayage_Surcharge_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_8_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>DS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energy_Surcharge_Exclusion_Condition</name>
        <label>Energy Surcharge Exclusion Condition</label>
        <locationX>842</locationX>
        <locationY>7331</locationY>
        <defaultConnector>
            <targetReference>Including_surcharges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.JDE_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP S/4 (Opera)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prices combined into one price excluding transport price, which should be shown separately</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full delivered Price Shown Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Energy_Surcharge</targetReference>
            </connector>
            <label>Copy 1 of Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energy_Surcharge_target</name>
        <label>Energy Surcharge target</label>
        <locationX>842</locationX>
        <locationY>3731</locationY>
        <defaultConnector>
            <targetReference>Freight_Surcharge_target_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>est_changes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Energy_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_4_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>est changes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energy_Surcharge_Target_Exclusion_Condition</name>
        <label>Energy Surcharge Target Exclusion Condition</label>
        <locationX>842</locationX>
        <locationY>1931</locationY>
        <defaultConnector>
            <targetReference>Including_surcharges_Target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.JDE_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP S/4 (Opera)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prices combined into one price excluding transport price, which should be shown separately</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full delivered Price Shown Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Energy_Surcharge_Target</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Excluding_surcharges</name>
        <label>Excluding surcharges</label>
        <locationX>842</locationX>
        <locationY>6731</locationY>
        <defaultConnector>
            <targetReference>Energy_Surcharge_Exclusion_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trasport_price_lumpsum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Price_Exclusion_Condition</targetReference>
            </connector>
            <label>Null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Excluding_surcharges_target</name>
        <label>Excluding surcharges target</label>
        <locationX>842</locationX>
        <locationY>1331</locationY>
        <defaultConnector>
            <targetReference>Energy_Surcharge_Target_Exclusion_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Null_check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price_target_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Price_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base_target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_Price_Per_Container_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Price_Target_Exclusion_Condition</targetReference>
            </connector>
            <label>Copy 2 of Null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Export_Container_Surcharge_Target_per_uom</name>
        <label>Export Container Surcharge  (Target - per uom)</label>
        <locationX>842</locationX>
        <locationY>4631</locationY>
        <defaultConnector>
            <targetReference>Drayage_Surcharge_Target_per_uom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ECS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Export_Container_Surcharge_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_7_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>ECS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>842</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Compare_Full_inc_surch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Negotiated_Quantity_not_Null</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Freight_Surcharge_target_changed</name>
        <label>Freight Surcharge target changed</label>
        <locationX>842</locationX>
        <locationY>4031</locationY>
        <defaultConnector>
            <targetReference>Steric_Acid_Surcharge_Target_per_uom_changed</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>fst_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Freight_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_5_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>fst changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Fuel_Surcharge_Target_per_uom</name>
        <label>Fuel Surcharge (Target - per uom)</label>
        <locationX>842</locationX>
        <locationY>5531</locationY>
        <defaultConnector>
            <targetReference>ICMS_tgt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>FS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Fuel_Surcharge_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_10_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>FS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>ICMS_tgt</name>
        <label>ICMS tgt</label>
        <locationX>842</locationX>
        <locationY>5831</locationY>
        <defaultConnector>
            <targetReference>PIS_COFINS_tgt</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ICMS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ICMS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_11_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>ICMS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Mass_Updated</name>
        <label>If Mass Updated</label>
        <locationX>446</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Get_Schedule_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Action_DateTime__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>NOWMinus5Mins</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Total_Prices</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Negotiated_Quantity_not_Null</name>
        <label>If Negotiated Quantity not Null</label>
        <locationX>622</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Compare_Full_inc_surch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Negotiated_Quantity</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Including_surcharges</name>
        <label>Including surcharges</label>
        <locationX>842</locationX>
        <locationY>7631</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Null_check</name>
            <conditionLogic>(1 OR 2 ) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Energy_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trasport_price_lumpsum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>Copy 1 of Null check</label>
        </rules>
        <rules>
            <name>If_Exc_is_null</name>
            <conditionLogic>1 AND  ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_exc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Energy_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>If Exc is null</label>
        </rules>
        <rules>
            <name>If_not_condition_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Null_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Exc_is_null</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_exc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>If not condition 1&amp;2</label>
        </rules>
        <rules>
            <name>If_not_1_2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Null_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Exc_is_null</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_not_condition_1_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_exc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>If not 1,2&amp;3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Including_surcharges_Target</name>
        <label>Including surcharges Target</label>
        <locationX>842</locationX>
        <locationY>2231</locationY>
        <defaultConnector>
            <targetReference>Product_price_per_unit_target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_1_of_Null_check</name>
            <conditionLogic>(1 OR 2 ) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Energy_surcharge_Target_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_surcharge_Target_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price_target_c__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Price_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_Price_Per_Container_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base_target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fdp_prices_target</targetReference>
            </connector>
            <label>Copy 1 of Copy 1 of Null check</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_Exc_is_null</name>
            <conditionLogic>1 AND  ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Total_Price_exc_surcharge_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Energy_surcharge_Target_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_surcharge_Target_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fdp_prices_tgt</targetReference>
            </connector>
            <label>Copy 1 of If Exc is null</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_not_condition_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Copy_1_of_Null_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_If_Exc_is_null</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Price_exc_surcharge_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Price_inc_surcharge_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fdp_prices_trgt</targetReference>
            </connector>
            <label>Copy 1 of If not condition 1&amp;2</label>
        </rules>
        <rules>
            <name>Copy_1_of_If_not_1_2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Copy_1_of_Null_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_If_Exc_is_null</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_If_not_condition_1_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Price_exc_surcharge_Target__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Total_Price_inc_surcharge_Target__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Total_Price_inc_surcharge_Target__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>blank</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_fdp_prices_targt</targetReference>
            </connector>
            <label>Copy 1 of If not 1,2&amp;3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Inflation_Surcharge_Target_per_uom</name>
        <label>Inflation Surcharge (Target - per uom)</label>
        <locationX>842</locationX>
        <locationY>5231</locationY>
        <defaultConnector>
            <targetReference>Fuel_Surcharge_Target_per_uom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Inflation_Surcharge_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_9_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>IS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Packaging_Price</name>
        <label>Packaging Price</label>
        <locationX>842</locationX>
        <locationY>2831</locationY>
        <defaultConnector>
            <targetReference>Transport_price_unit_base</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Packaging_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>If changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>PIS_COFINS_tgt</name>
        <label>PIS/COFINS tgt</label>
        <locationX>842</locationX>
        <locationY>6131</locationY>
        <defaultConnector>
            <targetReference>Compare_Full_inc_sruch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>PIS_COFINS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.PIS_COFINS__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_12_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>PIS/COFINS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Product_price_per_unit_target</name>
        <label>Product price per unit target</label>
        <locationX>842</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Packaging_Price</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_is_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Target_to_Sales</targetReference>
            </connector>
            <label>If is changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Steric_Acid_Surcharge_Target_per_uom_changed</name>
        <label>Steric Acid Surcharge  (Target - per uom) changed</label>
        <locationX>842</locationX>
        <locationY>4331</locationY>
        <defaultConnector>
            <targetReference>Export_Container_Surcharge_Target_per_uom</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>SAS_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Steric_Acid_Surcharge_per_uom__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_6_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>SAS changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Price_Exclusion_Condition</name>
        <label>Transport Price Exclusion Condition</label>
        <locationX>688</locationX>
        <locationY>6839</locationY>
        <defaultConnector>
            <targetReference>Update_fdp_prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.JDE_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP S/4 (Opera)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price components combined into one price excluding ESC which should be shown separately</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full delivered Price Shown Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Transport_Price</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_price_per_container</name>
        <label>Transport price per container</label>
        <locationX>842</locationX>
        <locationY>3431</locationY>
        <defaultConnector>
            <targetReference>Energy_Surcharge_target</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>tppc_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Trasport_price_lumpsum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_3_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>tppc changed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Price_Target_Exclusion_Condition</name>
        <label>Transport Price Target Exclusion Condition</label>
        <locationX>688</locationX>
        <locationY>1439</locationY>
        <defaultConnector>
            <targetReference>Update_target_fdp_prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.JDE_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP S/4 (Opera)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price components combined into one price excluding ESC which should be shown separately</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full delivered Price Shown Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Transport_Price_target</targetReference>
            </connector>
            <label>Copy 2 of Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_price_unit_base</name>
        <label>Transport price unit base</label>
        <locationX>842</locationX>
        <locationY>3131</locationY>
        <defaultConnector>
            <targetReference>Transport_price_per_container</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_tp_changed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Assign_Target_to_Sales</targetReference>
            </connector>
            <label>If tp changed</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExcSurcharegTargetFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Customer_ex_works_price_target_c__c}), 0, {!$Record.Customer_ex_works_price_target_c__c}) +  IF(ISBLANK({!$Record.Packaging_Price_Target__c} ), 0, {!$Record.Packaging_Price_Target__c} ) + IF({!ignoreTransportPriceTarget}=True,0,IF(ISBLANK({!TransportPriceTargetFormula} ), 0, {!TransportPriceTargetFormula} ))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExcSurchargeFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Customer_ex_works_price__c }), 0, {!$Record.Customer_ex_works_price__c }) +  IF(ISBLANK({!$Record.Packaging_Price__c} ), 0, {!$Record.Packaging_Price__c} ) + IF({!IgnoreTransportPrice}=True,0,IF(ISBLANK({!TransportPriceFormula} ), 0, {!TransportPriceFormula} ))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExcSurchargeFormula2</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Customer_ex_works_price__c }), 0, {!$Record.Customer_ex_works_price__c }) +  IF(ISBLANK({!$Record.Packaging_Price__c} ), 0, {!$Record.Packaging_Price__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullIncAdjTarget</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Total_Price_inc_surcharge_Target__c} - {!$Record__Prior.Total_Price_inc_surcharge_Target__c})+{!$Record.Customer_ex_works_price_target_c__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullIncAdjust</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Full_delivered_Price_inc_surcharge__c} - {!$Record__Prior.Full_delivered_Price_inc_surcharge__c})+{!$Record.Customer_ex_works_price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncSurchargeFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!ExcSurchargeFormula}), 0, {!ExcSurchargeFormula}) +  IF({!ignoreEnergySurcharge}=True,0,IF(ISBLANK({!$Record.Energy_Surcharge__c} ), 0, {!$Record.Energy_Surcharge__c} )) + IF(ISBLANK({!$Record.Freight_Surcharge__c} ), 0, {!$Record.Freight_Surcharge__c} ) + IF(ISBLANK({!$Record.Steric_Acid_Surcharge_per_uom__c} ), 0, {!$Record.Steric_Acid_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Export_Container_Surcharge_per_uom__c} ), 0, {!$Record.Export_Container_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Drayage_Surcharge_per_uom__c} ), 0, {!$Record.Drayage_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Inflation_Surcharge_per_uom__c} ), 0, {!$Record.Inflation_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Fuel_Surcharge_per_uom__c} ), 0, {!$Record.Fuel_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.PIS_COFINS__c} ), 0, {!$Record.PIS_COFINS__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncSurchargeFormula2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Full_delivered_Price_exc_surcharge__c} + IF({!ignoreEnergySurcharge}=True,0,IF(ISBLANK({!$Record.Energy_Surcharge__c} ), 0, {!$Record.Energy_Surcharge__c} )) + IF(ISBLANK({!$Record.Freight_Surcharge__c} ), 0, {!$Record.Freight_Surcharge__c} )+ IF(ISBLANK({!$Record.Steric_Acid_Surcharge_per_uom__c} ), 0, {!$Record.Steric_Acid_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Export_Container_Surcharge_per_uom__c} ), 0, {!$Record.Export_Container_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Drayage_Surcharge_per_uom__c} ), 0, {!$Record.Drayage_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Inflation_Surcharge_per_uom__c} ), 0, {!$Record.Inflation_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.Fuel_Surcharge_per_uom__c} ), 0, {!$Record.Fuel_Surcharge_per_uom__c} )+
IF(ISBLANK({!$Record.PIS_COFINS__c} ), 0, {!$Record.PIS_COFINS__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncSurchargeTargetFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!ExcSurcharegTargetFormula}), 0, {!ExcSurcharegTargetFormula}) +  IF({!ignoreEnergySurchargeTarget}=True,0,IF(ISBLANK({!$Record.Energy_surcharge_Target_per_uom__c} ), 0, {!$Record.Energy_surcharge_Target_per_uom__c} )) + IF(ISBLANK({!$Record.Freight_surcharge_Target_per_uom__c} ), 0, {!$Record.Freight_surcharge_Target_per_uom__c} ) +
IF(ISBLANK({!$Record.Steric_Acid_Surcharge_Target_per_uom__c} ), 0, {!$Record.Steric_Acid_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Export_Container_Surcharge_Target_pe__c} ), 0, {!$Record.Export_Container_Surcharge_Target_pe__c} )+
IF(ISBLANK({!$Record.Drayage_Surcharge_Target_per_uom__c} ), 0, {!$Record.Drayage_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Inflation_Surcharge_Target_per_uom__c} ), 0, {!$Record.Inflation_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Fuel_Surcharge_Target_per_uom__c} ), 0, {!$Record.Fuel_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.ICMS_target__c} ), 0, {!$Record.ICMS_target__c} )+
IF(ISBLANK({!$Record.PIS_COFINS_target__c} ), 0, {!$Record.PIS_COFINS_target__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncSurchargeTargetFormula2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Total_Price_exc_surcharge_Target__c} + IF({!ignoreEnergySurchargeTarget}=True,0,IF(ISBLANK({!$Record.Energy_surcharge_Target_per_uom__c} ), 0, {!$Record.Energy_surcharge_Target_per_uom__c} )) + IF(ISBLANK({!$Record.Freight_surcharge_Target_per_uom__c} ), 0, {!$Record.Freight_surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Steric_Acid_Surcharge_Target_per_uom__c} ), 0, {!$Record.Steric_Acid_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Export_Container_Surcharge_Target_pe__c} ), 0, {!$Record.Export_Container_Surcharge_Target_pe__c} )+
IF(ISBLANK({!$Record.Drayage_Surcharge_Target_per_uom__c} ), 0, {!$Record.Drayage_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Inflation_Surcharge_Target_per_uom__c} ), 0, {!$Record.Inflation_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.Fuel_Surcharge_Target_per_uom__c} ), 0, {!$Record.Fuel_Surcharge_Target_per_uom__c} )+
IF(ISBLANK({!$Record.ICMS_target__c} ), 0, {!$Record.ICMS_target__c} )+
IF(ISBLANK({!$Record.PIS_COFINS_target__c} ), 0, {!$Record.PIS_COFINS_target__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>NOWMinus5Mins</name>
        <dataType>DateTime</dataType>
        <expression>NOW()-(5/1440)</expression>
    </formulas>
    <formulas>
        <name>TransportPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>IF( NOT(ISBLANK( {!$Record.Transport_price_unit_base__c})), {!$Record.Transport_price_unit_base__c}, {!$Record.Trasport_price_lumpsum__c}/ 20)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransportPriceTargetFormula</name>
        <dataType>Currency</dataType>
        <expression>IF( NOT(ISBLANK( {!$Record.Transport_price_unit_base_target__c})), {!$Record.Transport_price_unit_base_target__c}, {!$Record.Transport_Price_Per_Container_Target__c}/ 20)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SAPP_Fetch Negotiated Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAPP_Fetch Negotiated Quantity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Schedule_Records</name>
        <label>Get Schedule Records</label>
        <locationX>842</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreementProductSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_fdp_prices</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Update fdp prices</label>
        <locationX>578</locationX>
        <locationY>7739</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_fdp_prices</name>
        <label>Copy 1 of Copy 1 of Update fdp prices</label>
        <locationX>842</locationX>
        <locationY>7739</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_fdp_prices</name>
        <label>Copy 1 of Update fdp prices</label>
        <locationX>314</locationX>
        <locationY>7739</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Update_fdp_prices</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Update fdp prices</label>
        <locationX>1106</locationX>
        <locationY>7739</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exworks</name>
        <label>Update Exworks</label>
        <locationX>710</locationX>
        <locationY>6539</locationY>
        <connector>
            <targetReference>Excluding_surcharges</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_ex_works_price__c</field>
            <value>
                <elementReference>FullIncAdjust</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exworks_target</name>
        <label>Update Exworks target</label>
        <locationX>710</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Excluding_surcharges_target</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_ex_works_price_target_c__c</field>
            <value>
                <elementReference>FullIncAdjTarget</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fdp_prices</name>
        <label>Update fdp prices</label>
        <locationX>688</locationX>
        <locationY>7139</locationY>
        <connector>
            <targetReference>Energy_Surcharge_Exclusion_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>Full_delivered_Price_exc_surcharge__c</field>
            <value>
                <elementReference>ExcSurchargeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fdp_prices_target</name>
        <label>Update fdp prices target</label>
        <locationX>314</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Product_price_per_unit_target</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Price_inc_surcharge_Target__c</field>
            <value>
                <elementReference>IncSurchargeTargetFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fdp_prices_targt</name>
        <label>Update fdp prices targt</label>
        <locationX>1106</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Product_price_per_unit_target</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Price_inc_surcharge_Target__c</field>
            <value>
                <elementReference>IncSurchargeTargetFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fdp_prices_tgt</name>
        <label>Update fdp prices tgt</label>
        <locationX>578</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Product_price_per_unit_target</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Price_inc_surcharge_Target__c</field>
            <value>
                <elementReference>IncSurchargeTargetFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fdp_prices_trgt</name>
        <label>Update fdp prices trgt</label>
        <locationX>842</locationX>
        <locationY>2339</locationY>
        <connector>
            <targetReference>Product_price_per_unit_target</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Price_inc_surcharge_Target__c</field>
            <value>
                <elementReference>IncSurchargeTargetFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_SAPP</name>
        <label>Update SAPP</label>
        <locationX>50</locationX>
        <locationY>539</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_exc_surcharge__c</field>
            <value>
                <elementReference>FDPExcSurcharge</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>FDPIncSurcharge</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_target_fdp_prices</name>
        <label>Update target fdp prices</label>
        <locationX>688</locationX>
        <locationY>1739</locationY>
        <connector>
            <targetReference>Energy_Surcharge_Target_Exclusion_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>Total_Price_exc_surcharge_Target__c</field>
            <value>
                <elementReference>ExcSurcharegTargetFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>If_Mass_Updated</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sent_to_CS__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1300</triggerOrder>
    <variables>
        <name>blank</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FDPExcSurcharge</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>FDPIncSurcharge</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>idverify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ignoreEnergySurcharge</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ignoreEnergySurchargeTarget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IgnoreTransportPrice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>ignoreTransportPriceTarget</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
