force-app/main/default/flows/SAPP_Fetch_Negotiated_Quantity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>Assign_1</name>
        <label>Assign 1</label>
        <locationX>358</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Negtd_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Full_inc_sruch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Negotiated_Quantity</name>
        <label>Assign Negotiated Quantity</label>
        <locationX>94</locationX>
        <locationY>719</locationY>
        <assignmentItems>
            <assignToReference>$Record.Negtd_Qty__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Schedule_Records.Negotiated_Quantity__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Compare_Full_inc_sruch</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Ignore_Transport_Price</name>
        <label>Copy 1 of Ignore Transport Price</label>
        <locationX>446</locationX>
        <locationY>2159</locationY>
        <assignmentItems>
            <assignToReference>ignoreEnergySurcharge</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Including_surcharges</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Ignore_Transport_Price</name>
        <label>Ignore Transport Price</label>
        <locationX>292</locationX>
        <locationY>1607</locationY>
        <assignmentItems>
            <assignToReference>IgnoreTransportPrice</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_fdp_prices</targetReference>
        </connector>
    </assignments>
    <constants>
        <name>numberone</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Compare_Full_inc_sruch</name>
        <label>Compare Full inc surch</label>
        <locationX>578</locationX>
        <locationY>1031</locationY>
        <defaultConnector>
            <targetReference>Excluding_surcharges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Prior_current</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>$Record__Prior.FulldeliveredPriceIncludeSurcharge__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Full_delivered_Price_inc_surcharge_repor__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Update_Exworks</targetReference>
            </connector>
            <label>Prior != current</label>
        </rules>
    </decisions>
    <decisions>
        <name>Energy_Surcharge_Exclusion_Condition</name>
        <label>Energy Surcharge Exclusion Condition</label>
        <locationX>578</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Including_surcharges</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.JDE_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP S/4 (Opera)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Prices combined into one price excluding transport price, which should be shown separately</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full delivered Price Shown Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Ignore_Transport_Price</targetReference>
            </connector>
            <label>Copy 1 of Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Excluding_surcharges</name>
        <label>Excluding surcharges</label>
        <locationX>578</locationX>
        <locationY>1367</locationY>
        <defaultConnector>
            <targetReference>Energy_Surcharge_Exclusion_Condition</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Null_check</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trasport_price_lumpsum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Transport_Price_Exclusion_Condition</targetReference>
            </connector>
            <label>Null check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Found</name>
        <label>Found?</label>
        <locationX>578</locationX>
        <locationY>479</locationY>
        <defaultConnector>
            <targetReference>Compare_Full_inc_sruch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Records</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_Negotiated_Quantity_not_Null</targetReference>
            </connector>
            <label>If yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_Negotiated_Quantity_not_Null</name>
        <label>If Negotiated Quantity not Null</label>
        <locationX>358</locationX>
        <locationY>599</locationY>
        <defaultConnector>
            <targetReference>Compare_Full_inc_sruch</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Negotiated_Quantity</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_Schedule_Records.Negotiated_Quantity__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_1</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Including_surcharges</name>
        <label>Including surcharges</label>
        <locationX>578</locationX>
        <locationY>2375</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Null_check</name>
            <conditionLogic>(1 OR 2 ) AND (3 OR 4 OR 5 OR 6)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Energy_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Customer_ex_works_price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Packaging_Price__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Trasport_price_lumpsum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Transport_price_unit_base__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>Copy 1 of Null check</label>
        </rules>
        <rules>
            <name>If_Exc_is_null</name>
            <conditionLogic>1 AND  ( 2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_exc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Energy_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Freight_Surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>If Exc is null</label>
        </rules>
        <rules>
            <name>If_not_condition_1_2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Null_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Exc_is_null</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_exc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>If not condition 1&amp;2</label>
        </rules>
        <rules>
            <name>If_not_1_2_3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Copy_1_of_Null_check</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_Exc_is_null</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>If_not_condition_1_2</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_exc_surcharge__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record__Prior.Full_delivered_Price_inc_surcharge__c</leftValueReference>
                <operator>NotEqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_Copy_1_of_Copy_1_of_Update_fdp_prices</targetReference>
            </connector>
            <label>If not 1,2&amp;3</label>
        </rules>
    </decisions>
    <decisions>
        <name>Transport_Price_Exclusion_Condition</name>
        <label>Transport Price Exclusion Condition</label>
        <locationX>424</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Update_fdp_prices</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Match</name>
            <conditionLogic>1 AND (2 OR 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.JDE_picklist__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>SAP S/4 (Opera)</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Price components combined into one price excluding ESC which should be shown separately</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__r.Invoicing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Full delivered Price Shown Only</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Ignore_Transport_Price</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>ExcSurchargeFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Customer_ex_works_price__c }), 0, {!$Record.Customer_ex_works_price__c }) +  IF(ISBLANK({!$Record.Packaging_Price__c} ), 0, {!$Record.Packaging_Price__c} ) + IF({!IgnoreTransportPrice}=True,0,IF(ISBLANK({!TransportPriceFormula} ), 0, {!TransportPriceFormula} ))</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>ExcSurchargeFormula2</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!$Record.Customer_ex_works_price__c }), 0, {!$Record.Customer_ex_works_price__c }) +  IF(ISBLANK({!$Record.Packaging_Price__c} ), 0, {!$Record.Packaging_Price__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>FullIncAdjust</name>
        <dataType>Currency</dataType>
        <expression>({!$Record.Full_delivered_Price_inc_surcharge__c} - {!$Record__Prior.Full_delivered_Price_inc_surcharge__c})+{!$Record.Customer_ex_works_price__c}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncSurchargeFormula</name>
        <dataType>Currency</dataType>
        <expression>IF(ISBLANK({!ExcSurchargeFormula}), 0, {!ExcSurchargeFormula}) +  IF({!ignoreEnergySurcharge}=True,0,IF(ISBLANK({!$Record.Energy_Surcharge__c} ), 0, {!$Record.Energy_Surcharge__c} )) + IF(ISBLANK({!$Record.Freight_Surcharge__c} ), 0, {!$Record.Freight_Surcharge__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>IncSurchargeFormula2</name>
        <dataType>Currency</dataType>
        <expression>{!$Record.Full_delivered_Price_exc_surcharge__c} + IF({!ignoreEnergySurcharge}=True,0,IF(ISBLANK({!$Record.Energy_Surcharge__c} ), 0, {!$Record.Energy_Surcharge__c} )) + IF(ISBLANK({!$Record.Freight_Surcharge__c} ), 0, {!$Record.Freight_Surcharge__c} )</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>TransportPriceFormula</name>
        <dataType>Currency</dataType>
        <expression>IF( NOT(ISBLANK( {!$Record.Transport_price_unit_base__c})), {!$Record.Transport_price_unit_base__c}, {!$Record.Trasport_price_lumpsum__c}/ 20)</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>SAPP_Fetch Negotiated Quantity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAPP_Fetch Negotiated Quantity</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Schedule_Records</name>
        <label>Get Schedule Records</label>
        <locationX>578</locationX>
        <locationY>359</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Found</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementProductId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__r.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>StartDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_From__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>EndDate</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Record.Price_To__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreementProductSchedule</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Update_fdp_prices</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Update fdp prices</label>
        <locationX>314</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Copy_1_of_Update_fdp_prices</name>
        <label>Copy 1 of Copy 1 of Update fdp prices</label>
        <locationX>578</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_1_of_Update_fdp_prices</name>
        <label>Copy 1 of Update fdp prices</label>
        <locationX>50</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Copy_2_of_Copy_1_of_Copy_1_of_Update_fdp_prices</name>
        <label>Copy 2 of Copy 1 of Copy 1 of Update fdp prices</label>
        <locationX>842</locationX>
        <locationY>2495</locationY>
        <inputAssignments>
            <field>Full_delivered_Price_inc_surcharge__c</field>
            <value>
                <elementReference>IncSurchargeFormula2</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Exworks</name>
        <label>Update Exworks</label>
        <locationX>446</locationX>
        <locationY>1151</locationY>
        <connector>
            <targetReference>Excluding_surcharges</targetReference>
        </connector>
        <inputAssignments>
            <field>Customer_ex_works_price__c</field>
            <value>
                <elementReference>FullIncAdjust</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_fdp_prices</name>
        <label>Update fdp prices</label>
        <locationX>424</locationX>
        <locationY>1823</locationY>
        <connector>
            <targetReference>Energy_Surcharge_Exclusion_Condition</targetReference>
        </connector>
        <inputAssignments>
            <field>Full_delivered_Price_exc_surcharge__c</field>
            <value>
                <elementReference>ExcSurchargeFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>452</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Get_Schedule_Records</targetReference>
        </connector>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1400</triggerOrder>
    <variables>
        <name>idverify</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ignoreEnergySurcharge</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>IgnoreTransportPrice</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>
    <variables>
        <name>One</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
</Flow>
