force-app/main/default/flows/SAPP_Update_sap_id.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <decisions>
        <name>If_SAP_Id_lookup_not_null</name>
        <label>If SAP Id lookup not null</label>
        <locationX>616</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_update_ID</targetReference>
            </connector>
            <label>Not null</label>
        </rules>
        <rules>
            <name>Is_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Sales_Agreement_Product__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_ID</targetReference>
            </connector>
            <label>Is Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>SAPP_Update sap id {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SAPP_Update sap id</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_SAP_Id</name>
        <label>Get SAP Id</label>
        <locationX>294</locationX>
        <locationY>277</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Update_Negosiation_Status_SAPP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_update_ID</name>
        <label>Copy 1 of update ID</label>
        <locationX>352</locationX>
        <locationY>443</locationY>
        <connector>
            <targetReference>Get_SAP_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Sales_Agreement_Product_ID__c</field>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_ID</name>
        <label>update ID</label>
        <locationX>616</locationX>
        <locationY>443</locationY>
        <inputAssignments>
            <field>Sales_Agreement_Product__c</field>
            <value>
                <elementReference>$Record.Sales_Agreement_Product_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Negosiation_Status_SAPP</name>
        <label>Update Negosiation Status SAPP</label>
        <locationX>207</locationX>
        <locationY>343</locationY>
        <inputAssignments>
            <field>Negotiation_Status__c</field>
            <value>
                <elementReference>Get_SAP_Id.Negotiation_Status__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>490</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>If_SAP_Id_lookup_not_null</targetReference>
        </connector>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>1600</triggerOrder>
</Flow>
