force-app/main/default/flows/Update_Gatekeeper_on_credit_note_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <decisions>
        <name>null_check_GK_record</name>
        <label>null check GK record</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>GK not found</defaultConnectorLabel>
        <rules>
            <name>GK_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Case_Record</targetReference>
            </connector>
            <label>GK found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_rec_type</name>
        <label>Null check rec type</label>
        <locationX>380</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Rec Type not found</defaultConnectorLabel>
        <rules>
            <name>Rec_Type_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gatekeeper_Assignment</targetReference>
            </connector>
            <label>Rec Type found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>GKRecordLink</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!$Record.Gatekeeper_Assignment_Record_Link__c}),&quot;&quot;,HYPERLINK(   &quot;/&quot; &amp;&quot;https://imeryscrm--built.sandbox.lightning.force.com/lightning/r/GatekeeperAssignment__c/{!Get_Gatekeeper_Assignment.Id}/view&quot;,    &quot;Click here&quot;,   &quot;_self&quot; ))</expression>
    </formulas>
    <interviewLabel>Update Gatekeeper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Gatekeeper on credit note case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Gatekeeper_Assignment</name>
        <label>Get Gatekeeper Assignment</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_GK_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GatekeeperAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>380</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_rec_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Case_Record</name>
        <label>Update Case Record</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <inputAssignments>
            <field>Gatekeeper_Assignment_Record_Link__c</field>
            <value>
                <elementReference>GKRecordLink</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesdirectorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
