force-app/main/default/flows/Update_Case_when_origin_equals_Emerys_website.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Case_owner</name>
        <label>Assign Case owner</label>
        <locationX>578</locationX>
        <locationY>1187</locationY>
        <assignmentItems>
            <assignToReference>CaseRecords.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_over_all_queues.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecords.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_over_all_queues</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Market_Segmentations</name>
        <label>Assign Market Segmentations</label>
        <locationX>618</locationX>
        <locationY>971</locationY>
        <assignmentItems>
            <assignToReference>CaseRecords.MarketSegmentationNew__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>GK_Records.MarketSegmentation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecords.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>CaseRecords.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>GK_Records</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_subject_attributes</name>
        <label>Assign subject attributes</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>TypeText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Case_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>YourMarketText</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Your_market__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Records_Found</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Find_the_correct_queue</name>
        <label>Find the correct queue</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <defaultConnector>
            <targetReference>Loop_over_all_queues</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Incorrect Queue</defaultConnectorLabel>
        <rules>
            <name>Correct_Queue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GK_Records.Document_Request_Form_Queue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_over_all_queues.DeveloperName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Case_owner</targetReference>
            </connector>
            <label>Correct Queue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Records_Found</name>
        <label>Records Found</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Update_Case_Record_sub</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Ass_sub_process_equals_web_to_case_DR</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_all_Queue_records</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>web_to_case_OR_Document_Request_Or_both</name>
        <label>web-to-case OR Document Request Or both</label>
        <locationX>686</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>GK_Records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>web_to_case1_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GK_Records.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-case</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GK_Records.Process__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Document Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_over_all_queues</targetReference>
            </connector>
            <label>web-to-case1 Only</label>
        </rules>
        <rules>
            <name>Document_Request_Only</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>GK_Records.Process__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Request</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>GK_Records.Process__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Web-to-case</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Market_Segmentations</targetReference>
            </connector>
            <label>Document Request Only</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>SubjectFormula</name>
        <dataType>String</dataType>
        <expression>{!TypeText}+ &apos; &apos; +{!YourMarketText}</expression>
    </formulas>
    <interviewLabel>Update Case when origin equals Emerys website {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Case when origin equals Emerys website</label>
    <loops>
        <name>GK_Records</name>
        <label>GK Records</label>
        <locationX>50</locationX>
        <locationY>755</locationY>
        <collectionReference>Get_Gatekeeper_Ass_sub_process_equals_web_to_case_DR</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>web_to_case_OR_Document_Request_Or_both</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_case_record</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_over_all_queues</name>
        <label>Loop over all queues</label>
        <locationX>490</locationX>
        <locationY>971</locationY>
        <collectionReference>Get_all_Queue_records</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Find_the_correct_queue</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>GK_Records</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Queue_records</name>
        <label>Get all Queue records</label>
        <locationX>50</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GK_Records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Queue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Group</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Gatekeeper_Ass_sub_process_equals_web_to_case_DR</name>
        <label>Get Gatekeeper Ass. @ sub-process equals web-to-case /DR</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_subject_attributes</targetReference>
        </connector>
        <filterLogic>(1 AND 2 AND 3 AND 4 AND 5) OR (1 AND 6 AND 5 )</filterLogic>
        <filters>
            <field>Object__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Web-to-case</stringValue>
            </value>
        </filters>
        <filters>
            <field>Country_Area__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Account_Country_Area__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Sub_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sub_Type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Your_Market__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Your_market__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Process__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document Request</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>GatekeeperAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_case_record</name>
        <label>Update case record</label>
        <locationX>50</locationX>
        <locationY>1631</locationY>
        <inputReference>CaseRecords</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Case_Record_sub</name>
        <label>Update Case Record sub</label>
        <locationX>314</locationX>
        <locationY>647</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>SubjectFormula</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Gatekeeper_Ass_sub_process_equals_web_to_case_DR</targetReference>
        </connector>
        <filterFormula>AND({!$Record.RecordType.DeveloperName} = &apos;Request&apos;,
TEXT({!$Record.Origin}) = &apos;Imerys Website&apos;)</filterFormula>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AssignCaseOwner</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CaseRecords</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>CollectCaseVar</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>GKrecords</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>MarketSegmentation</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>TypeText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>YourMarketText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
