force-app/main/default/flows/Update_Gatekeeper_on_credit_note_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_Approver1_to_Main_GK</name>
        <label>Assign Approver1 to Main GK</label>
        <locationX>1326</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gatekeeper_Assignment.Gatekeeper__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver2_to_GK2</name>
        <label>Assign Approver2 to GK2</label>
        <locationX>1326</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gatekeeper_Assignment.Gatekeeper2__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver3_to_GK3</name>
        <label>Assign Approver3 to GK3</label>
        <locationX>1326</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gatekeeper_Assignment.Gatekeeper3__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver4_to_GK4</name>
        <label>Assign Approver4 to GK4</label>
        <locationX>1370</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Get_Gatekeeper_Assignment.Gatekeeper3__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Approver_1_as_BA_s_AM</name>
        <label>Assign Approver 1 as BA&apos;s AM</label>
        <locationX>622</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_1_as_BA_s_AM_on_GK2</name>
        <label>Assign Approver 1 as BA&apos;s AM on GK2</label>
        <locationX>622</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_1_as_BA_s_AM_on_GK3</name>
        <label>Assign Approver 1 as BA&apos;s AM on GK3</label>
        <locationX>622</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_1_as_BA_s_AM_on_GK4</name>
        <label>Assign Approver 1 as BA&apos;s AM on GK4</label>
        <locationX>578</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Approver_2_as_BA_s_SM</name>
        <label>Assign Approver 2 as BA&apos;s SM</label>
        <locationX>94</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_2_as_BA_s_SM_on_GK2</name>
        <label>Assign Approver 2 as BA&apos;s SM on GK2</label>
        <locationX>94</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_2_as_BA_s_SM_on_GK3</name>
        <label>Assign Approver 2 as BA&apos;s SM on GK3</label>
        <locationX>94</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Manager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_2_as_BA_s_SM_on_GK4</name>
        <label>Assign Approver 2 as BA&apos;s SM on GK4</label>
        <locationX>50</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Manager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Approver_3_as_IS_s_PM_on_GK4</name>
        <label>Assign Approver 3 as IS&apos;s PM on GK4</label>
        <locationX>842</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Imerys_Manufacturing_Plant__r.PlantManager__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Approver_3_as_IS_sPM</name>
        <label>Assign Approver 3 as IS&apos;sPM</label>
        <locationX>886</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Imerys_Manufacturing_Plant__r.PlantManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_3_as_IS_sPM_on_GK2</name>
        <label>Assign Approver 3 as IS&apos;sPM on GK2</label>
        <locationX>886</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Imerys_Manufacturing_Plant__r.PlantManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_3_as_IS_sPM_on_GK3</name>
        <label>Assign Approver 3 as IS&apos;sPM on GK3</label>
        <locationX>886</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Imerys_Manufacturing_Plant__r.PlantManager__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_4_as_BA_s_SD</name>
        <label>Assign Approver 4 as BA&apos;s SD</label>
        <locationX>358</locationX>
        <locationY>1295</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Director__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_4_as_BA_s_SD_on_GK2</name>
        <label>Assign Approver 4 as BA&apos;s SD on GK2</label>
        <locationX>358</locationX>
        <locationY>1595</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Director__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_4_as_BA_s_SD_on_GK3</name>
        <label>Assign Approver 4 as BA&apos;s SD on GK3</label>
        <locationX>358</locationX>
        <locationY>1895</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Director__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_GK4</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Approver_4_as_BA_s_SD_on_GK4</name>
        <label>Assign Approver 4 as BA&apos;s SD on GK4</label>
        <locationX>314</locationX>
        <locationY>2195</locationY>
        <assignmentItems>
            <assignToReference>$Record.Approver4__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Tech_RelationshipInformation__r.AccountManager__r.Sale_Director__c</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_GK2</name>
        <label>Check GK2</label>
        <locationX>710</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Assign_Approver2_to_GK2</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GK2 is a specific user</defaultConnectorLabel>
        <rules>
            <name>GK2_is_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper2__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_2_as_BA_s_SM_on_GK2</targetReference>
            </connector>
            <label>GK2 is SM</label>
        </rules>
        <rules>
            <name>GK2_is_SD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper2__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesdirectorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_4_as_BA_s_SD_on_GK2</targetReference>
            </connector>
            <label>GK2 is SD</label>
        </rules>
        <rules>
            <name>GK2_is_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper2__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_1_as_BA_s_AM_on_GK2</targetReference>
            </connector>
            <label>GK2 is AM</label>
        </rules>
        <rules>
            <name>GK2_is_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper2__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_3_as_IS_sPM_on_GK2</targetReference>
            </connector>
            <label>GK2 is PM</label>
        </rules>
        <rules>
            <name>GK2_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper2__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_GK3</targetReference>
            </connector>
            <label>GK2 is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GK3</name>
        <label>Check GK3</label>
        <locationX>710</locationX>
        <locationY>1787</locationY>
        <defaultConnector>
            <targetReference>Assign_Approver3_to_GK3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GK3 is a specific user</defaultConnectorLabel>
        <rules>
            <name>GK3_is_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper3__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_2_as_BA_s_SM_on_GK3</targetReference>
            </connector>
            <label>GK3 is SM</label>
        </rules>
        <rules>
            <name>GK3_is_SD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper3__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesdirectorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_4_as_BA_s_SD_on_GK3</targetReference>
            </connector>
            <label>GK3 is SD</label>
        </rules>
        <rules>
            <name>GK3_is_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper3__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_1_as_BA_s_AM_on_GK3</targetReference>
            </connector>
            <label>GK3 is AM</label>
        </rules>
        <rules>
            <name>GK3_is_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper3__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_3_as_IS_sPM_on_GK3</targetReference>
            </connector>
            <label>GK3 is PM</label>
        </rules>
        <rules>
            <name>GK3_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper3__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_GK4</targetReference>
            </connector>
            <label>GK3 is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_GK4</name>
        <label>Check GK4</label>
        <locationX>710</locationX>
        <locationY>2087</locationY>
        <defaultConnector>
            <targetReference>Assign_Approver4_to_GK4</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>GK4 is a specific user</defaultConnectorLabel>
        <rules>
            <name>GK4_is_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper4__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_2_as_BA_s_SM_on_GK4</targetReference>
            </connector>
            <label>GK4 is SM</label>
        </rules>
        <rules>
            <name>GK4_is_SD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper4__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesdirectorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_4_as_BA_s_SD_on_GK4</targetReference>
            </connector>
            <label>GK4 is SD</label>
        </rules>
        <rules>
            <name>GK4_is_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper4__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_1_as_BA_s_AM_on_GK4</targetReference>
            </connector>
            <label>GK4 is AM</label>
        </rules>
        <rules>
            <name>GK4_is_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper4__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_3_as_IS_s_PM_on_GK4</targetReference>
            </connector>
            <label>GK4 is PM</label>
        </rules>
        <rules>
            <name>GK4_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper4__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>GK4 is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Main_GK</name>
        <label>Check Main GK</label>
        <locationX>710</locationX>
        <locationY>1187</locationY>
        <defaultConnector>
            <targetReference>Assign_Approver1_to_Main_GK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Main GK is a specific user</defaultConnectorLabel>
        <rules>
            <name>Main_GK_is_SM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_2_as_BA_s_SM</targetReference>
            </connector>
            <label>Main GK is SM</label>
        </rules>
        <rules>
            <name>Main_GK_is_SD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SalesdirectorId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_4_as_BA_s_SD</targetReference>
            </connector>
            <label>Main GK is SD</label>
        </rules>
        <rules>
            <name>Main_GK_is_AM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>AccountManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_1_as_BA_s_AM</targetReference>
            </connector>
            <label>Main GK is AM</label>
        </rules>
        <rules>
            <name>Main_GK_is_PM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper__r.Id</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>ProductManagerId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Approver_3_as_IS_sPM</targetReference>
            </connector>
            <label>Main GK is PM</label>
        </rules>
        <rules>
            <name>Main_GK_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment.Gatekeeper__r.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_GK2</targetReference>
            </connector>
            <label>Main GK is blank</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_GK_record</name>
        <label>null check GK record</label>
        <locationX>1172</locationX>
        <locationY>647</locationY>
        <defaultConnectorLabel>GK not found</defaultConnectorLabel>
        <rules>
            <name>GK_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Gatekeeper_Assignment</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_User_SM</targetReference>
            </connector>
            <label>GK found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_rec_type</name>
        <label>Null check rec type</label>
        <locationX>1535</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Rec Type not found</defaultConnectorLabel>
        <rules>
            <name>Rec_Type_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Record_Type</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Gatekeeper_Assignment</targetReference>
            </connector>
            <label>Rec Type found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Gatekeeper {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Gatekeeper on credit note case</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Gatekeeper_Assignment</name>
        <label>Get Gatekeeper Assignment</label>
        <locationX>1172</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check_GK_record</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>BusinessArea__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.BusinessArea__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>GatekeeperAssignment__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>1535</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_rec_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Credit Note</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_User_AM</name>
        <label>Get User AM</label>
        <locationX>710</locationX>
        <locationY>971</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_PM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Account Manager</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>AccountManagerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_PM</name>
        <label>Get User PM</label>
        <locationX>710</locationX>
        <locationY>1079</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Main_GK</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Product Manager</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>ProductManagerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_SD</name>
        <label>Get User SD</label>
        <locationX>710</locationX>
        <locationY>863</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_AM</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sales Director</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SalesdirectorId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_User_SM</name>
        <label>Get User SM</label>
        <locationX>710</locationX>
        <locationY>755</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_User_SD</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <stringValue>Sales Manager</stringValue>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>SalesManagerId</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <start>
        <locationX>1409</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ProductManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesdirectorId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SalesManagerId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
