force-app/main/default/flows/Update_Manufacturing_plant_on_case.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_counter</name>
        <label>assign counter</label>
        <locationX>270</locationX>
        <locationY>911</locationY>
        <assignmentItems>
            <assignToReference>counter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>siteId</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_var.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_var</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_counter_value</name>
        <label>check counter value</label>
        <locationX>182</locationX>
        <locationY>1127</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>counter_equals_to_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>counter</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_manufacturing_plant_on_case</targetReference>
            </connector>
            <label>counter equals to 1</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_if_customer_issue</name>
        <label>check if customer issue</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Others</defaultConnectorLabel>
        <rules>
            <name>CS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Get_customer_issue_rec_type.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Manufacturing_plant</targetReference>
            </connector>
            <label>CS</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>380</locationX>
        <locationY>671</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>rec_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Manufacturing_plant</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loop_var</targetReference>
            </connector>
            <label>rec found</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Manufacturing plant on case {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Manufacturing plant on case</label>
    <loops>
        <name>loop_var</name>
        <label>loop var</label>
        <locationX>182</locationX>
        <locationY>791</locationY>
        <collectionReference>Get_Manufacturing_plant</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_counter</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>check_counter_value</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_customer_issue_rec_type</name>
        <label>Get customer issue rec type</label>
        <locationX>611</locationX>
        <locationY>311</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_if_customer_issue</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer Issue</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Manufacturing_plant</name>
        <label>Get Manufacturing plant</label>
        <locationX>380</locationX>
        <locationY>551</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Imerys_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ProductName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Manufacturing_Plant__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_manufacturing_plant_on_case</name>
        <label>update manufacturing plant on case</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Manufacturing_Plant__c</field>
            <value>
                <elementReference>siteId</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_customer_issue_rec_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>ProductName__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>counter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>siteId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
