force-app/main/default/flows/Update_Sales_Agreement_Team.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Dedupe</name>
        <label>Dedupe</label>
        <locationX>50</locationX>
        <locationY>2639</locationY>
        <actionName>DedupeRecordCollection</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Copy_1_of_Delete_Existing_SA_Team</targetReference>
        </connector>
        <dataTypeMappings>
            <typeName>T__inputRecordCollection</typeName>
            <typeValue>Sales_Agreement_Team__c</typeValue>
        </dataTypeMappings>
        <dataTypeMappings>
            <typeName>U__outputRecordCollection</typeName>
            <typeValue>Sales_Agreement_Team__c</typeValue>
        </dataTypeMappings>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>fieldToDedupeOn</name>
            <value>
                <stringValue>Id</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>inputRecordCollection</name>
            <value>
                <elementReference>SATeamDeleteList</elementReference>
            </value>
        </inputParameters>
        <nameSegment>DedupeRecordCollection</nameSegment>
        <outputParameters>
            <assignToReference>UpdatedList</assignToReference>
            <name>outputRecordCollection</name>
        </outputParameters>
        <versionSegment>1</versionSegment>
    </actionCalls>
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>Assign_it_to_a_collection</name>
        <label>Assign it to a collection</label>
        <locationX>2624</locationX>
        <locationY>1379</locationY>
        <assignmentItems>
            <assignToReference>SATeamDeleteList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Sales_Agreement_Team</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Sales_Agreement_Team</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_to_collection_variable</name>
        <label>Assign to collection variable</label>
        <locationX>1876</locationX>
        <locationY>2255</locationY>
        <assignmentItems>
            <assignToReference>SATeamList</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>SATeamSingleVar</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopTerritoryTeam</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_TT_as_SA_team_member</name>
        <label>Assign TT as SA team member</label>
        <locationX>1876</locationX>
        <locationY>2147</locationY>
        <assignmentItems>
            <assignToReference>SATeamSingleVar.Access__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SATeamSingleVar.Member__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>LoopTerritoryTeam.Member__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SATeamSingleVar.Role__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analyst</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>SATeamSingleVar.Sales_Agreement__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_to_collection_variable</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_access</name>
        <label>check access</label>
        <locationX>2162</locationX>
        <locationY>1379</locationY>
        <defaultConnector>
            <targetReference>Update_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Read</defaultConnectorLabel>
        <rules>
            <name>Edit</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Sales_Agreement_Team.Access__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Edit</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Role</targetReference>
            </connector>
            <label>Edit</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_member_already_exist</name>
        <label>Check if member already exist</label>
        <locationX>2525</locationX>
        <locationY>1271</locationY>
        <defaultConnector>
            <targetReference>Loop_Sales_Agreement_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default outcome</defaultConnectorLabel>
        <rules>
            <name>Member_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>LoopTerritoryTeam.Member__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Sales_Agreement_Team.Member__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_access</targetReference>
            </connector>
            <label>Member Exist</label>
        </rules>
        <rules>
            <name>Member_does_not_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Sales_Agreement_Team.Member__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>LoopTerritoryTeam.Member__c</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Sales_Agreement_Team.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analyst</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_it_to_a_collection</targetReference>
            </connector>
            <label>Member does not exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_SA_team_got_updated</name>
        <label>Check if SA team got updated</label>
        <locationX>1744</locationX>
        <locationY>2039</locationY>
        <defaultConnector>
            <targetReference>Assign_TT_as_SA_team_member</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Updated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Update_Access</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Copy_1_of_Update_Access</leftValueReference>
                <operator>WasVisited</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Updated</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Role</name>
        <label>Check Role</label>
        <locationX>1964</locationX>
        <locationY>1487</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Update_Access</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Non analyst</defaultConnectorLabel>
        <rules>
            <name>Analyst</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Sales_Agreement_Team.Role__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analyst</stringValue>
                </rightValue>
            </conditions>
            <label>Analyst</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>611</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>not available</defaultConnectorLabel>
        <rules>
            <name>available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_related_Territory</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Territory_Team_members</targetReference>
            </connector>
            <label>available</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check_deletion_list</name>
        <label>null check deletion list</label>
        <locationX>182</locationX>
        <locationY>2531</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Create_SA_Team_Record</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>rec not available</defaultConnectorLabel>
        <rules>
            <name>rec_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>SATeamDeleteList</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Dedupe</targetReference>
            </connector>
            <label>rec available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_SA_Team</name>
        <label>Null check for SA Team</label>
        <locationX>1744</locationX>
        <locationY>971</locationY>
        <defaultConnector>
            <targetReference>Loop_Sales_Agreement_Team</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>SA Team not available</defaultConnectorLabel>
        <rules>
            <name>SA_Team_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_SA_team_member</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Sales_Agreement_Team</targetReference>
            </connector>
            <label>SA Team available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Null_check_for_TT</name>
        <label>Null check for TT</label>
        <locationX>380</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>Not available</defaultConnectorLabel>
        <rules>
            <name>Record_available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Territory_Team_members</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>LoopTerritoryTeam</targetReference>
            </connector>
            <label>Record available</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Sales Agreement Team {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Sales Agreement Team</label>
    <loops>
        <name>Loop_Sales_Agreement_Team</name>
        <label>Loop Sales Agreement Team</label>
        <locationX>1744</locationX>
        <locationY>1163</locationY>
        <collectionReference>Get_SA_team_member</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_member_already_exist</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_SA_team_got_updated</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopTerritoryTeam</name>
        <label>LoopTerritoryTeam</label>
        <locationX>182</locationX>
        <locationY>863</locationY>
        <collectionReference>Get_Territory_Team_members</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Null_check_for_SA_Team</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>null_check_deletion_list</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Copy_1_of_Create_SA_Team_Record</name>
        <label>Copy 1 of Create SA Team Record</label>
        <locationX>314</locationX>
        <locationY>2639</locationY>
        <inputReference>SATeamList</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_SA_Team_Record</name>
        <label>Create SA Team Record</label>
        <locationX>50</locationX>
        <locationY>2855</locationY>
        <inputReference>SATeamList</inputReference>
    </recordCreates>
    <recordDeletes>
        <name>Copy_1_of_Delete_Existing_SA_Team</name>
        <label>Copy 1 of Delete Existing SA Team</label>
        <locationX>50</locationX>
        <locationY>2747</locationY>
        <connector>
            <targetReference>Create_SA_Team_Record</targetReference>
        </connector>
        <inputReference>UpdatedList</inputReference>
    </recordDeletes>
    <recordLookups>
        <name>Get_related_Territory</name>
        <label>Get related Territory</label>
        <locationX>611</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Territory__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Territory__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_SA_team_member</name>
        <label>Get SA team member</label>
        <locationX>380</locationX>
        <locationY>647</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_for_TT</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Agreement_Team__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Territory_Team_members</name>
        <label>Get Territory Team members</label>
        <locationX>380</locationX>
        <locationY>539</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_SA_team_member</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_related_Territory.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Territory_Teams__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Copy_1_of_Update_Access</name>
        <label>Copy 1 of Update Access</label>
        <locationX>2096</locationX>
        <locationY>1595</locationY>
        <connector>
            <targetReference>Loop_Sales_Agreement_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Sales_Agreement_Team.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Analyst</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Agreement_Team__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Access</name>
        <label>Update Access</label>
        <locationX>2360</locationX>
        <locationY>1487</locationY>
        <connector>
            <targetReference>Loop_Sales_Agreement_Team</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Loop_Sales_Agreement_Team.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Access__c</field>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Role__c</field>
            <value>
                <stringValue>Analyst</stringValue>
            </value>
        </inputAssignments>
        <object>Sales_Agreement_Team__c</object>
    </recordUpdates>
    <start>
        <locationX>485</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_related_Territory</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Territory__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>SalesAgreement</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>SATeamDeleteList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Team__c</objectType>
    </variables>
    <variables>
        <name>SATeamList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Team__c</objectType>
    </variables>
    <variables>
        <name>SATeamSingleVar</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Sales_Agreement_Team__c</objectType>
    </variables>
    <variables>
        <name>UpdatedList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Sales_Agreement_Team__c</objectType>
    </variables>
</Flow>
