force-app/main/default/flows/Update_Previous_price_and_dates_for_report.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign</name>
        <label>assign</label>
        <locationX>270</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.IFSOldStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.IFSOldEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Ex_works_Product_price_per_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Ex_works_Product_price_per_unit_reports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Transport_Price_per_unit__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Transport_Price_per_unit_reports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Packaging_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Packaging_Price_reports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Opera_Old_Start_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Opera_Old_End_Date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Transport_Price_Per_Container__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Trasport_price_lumpsum__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Freight_Surcharge_per_uom__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Freight_Surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Full_delivered_Price_inc__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Full_delivered_Price_inc_surcharge_repor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Total_transport_price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Total_Transport_Price__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.JDEOldStartDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Energy_Surcharge__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Energy_Surcharge_per_uom_reports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.JDEOldEndDate__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Previous_Product_Unit_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.New_Product_Unit_Price_reports__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.JDE_Previous_Freight_Start_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_From__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.JDE_Previous_Freight_Expiry_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Price_To__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>VarSAP.Old_Full_delivered_Price__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Lopp_All_SAPPs.Full_delivered_Price_inc_surcharge__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Lopp_All_SAPPs</targetReference>
        </connector>
    </assignments>
    <collectionProcessors>
        <name>Get_latest_2_records</name>
        <elementSubtype>SortCollectionProcessor</elementSubtype>
        <label>Get latest 2 records</label>
        <locationX>182</locationX>
        <locationY>539</locationY>
        <collectionProcessorType>SortCollectionProcessor</collectionProcessorType>
        <collectionReference>get_all_related_SAPPs</collectionReference>
        <connector>
            <targetReference>Lopp_All_SAPPs</targetReference>
        </connector>
        <limit>2</limit>
        <sortOptions>
            <doesPutEmptyStringAndNullFirst>false</doesPutEmptyStringAndNullFirst>
            <sortField>Price_From__c</sortField>
            <sortOrder>Desc</sortOrder>
        </sortOptions>
    </collectionProcessors>
    <decisions>
        <name>Check_SAP_Status</name>
        <label>Check SAP Status</label>
        <locationX>182</locationX>
        <locationY>1139</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_not_hold_Obsolete</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_related_SAP.Negotiation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>On Hold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_related_SAP.Negotiation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Obsolete</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_SAP</targetReference>
            </connector>
            <label>If not hold / Obsolete</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_not_latest_record</name>
        <label>If not latest record</label>
        <locationX>402</locationX>
        <locationY>755</locationY>
        <defaultConnector>
            <targetReference>Lopp_All_SAPPs</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>No</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Lopp_All_SAPPs.Price_From__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Lopp_All_SAPPs.latest_start_date__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign</targetReference>
            </connector>
            <label>No</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Update Previous price and dates for report {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update Previous price and dates for report</label>
    <loops>
        <name>Lopp_All_SAPPs</name>
        <label>Lopp All SAPPs</label>
        <locationX>182</locationX>
        <locationY>647</locationY>
        <collectionReference>get_all_related_SAPPs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>If_not_latest_record</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_SAP_Status</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_all_related_SAPPs</name>
        <label>get all related SAPPs</label>
        <locationX>182</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>get_related_SAP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement_Product__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Sales_Agreement_Product_Price__c</object>
        <sortField>Price_From__c</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_related_SAP</name>
        <label>get related SAP</label>
        <locationX>182</locationX>
        <locationY>431</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_latest_2_records</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Sales_Agreement_Product__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>SalesAgreementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_SAP</name>
        <label>Update SAP</label>
        <locationX>50</locationX>
        <locationY>1247</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_related_SAP.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>IFSOldEndDate__c</field>
            <value>
                <elementReference>VarSAP.IFSOldEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>IFSOldStartDate__c</field>
            <value>
                <elementReference>VarSAP.IFSOldStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JDEOldEndDate__c</field>
            <value>
                <elementReference>VarSAP.JDEOldEndDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JDEOldStartDate__c</field>
            <value>
                <elementReference>VarSAP.JDEOldStartDate__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JDE_Previous_Freight_Expiry_date__c</field>
            <value>
                <elementReference>VarSAP.JDE_Previous_Freight_Expiry_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>JDE_Previous_Freight_Start_date__c</field>
            <value>
                <elementReference>VarSAP.JDE_Previous_Freight_Start_date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Old_Full_delivered_Price__c</field>
            <value>
                <elementReference>VarSAP.Old_Full_delivered_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opera_Old_End_Date__c</field>
            <value>
                <elementReference>VarSAP.Opera_Old_End_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opera_Old_Start_Date__c</field>
            <value>
                <elementReference>VarSAP.Opera_Old_Start_Date__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Energy_Surcharge__c</field>
            <value>
                <elementReference>VarSAP.Previous_Energy_Surcharge__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Ex_works_Product_price_per_unit__c</field>
            <value>
                <elementReference>VarSAP.Previous_Ex_works_Product_price_per_unit__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Freight_Surcharge_per_uom__c</field>
            <value>
                <elementReference>VarSAP.Previous_Freight_Surcharge_per_uom__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Full_delivered_Price_inc__c</field>
            <value>
                <elementReference>VarSAP.Previous_Full_delivered_Price_inc__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Packaging_Price__c</field>
            <value>
                <elementReference>VarSAP.Previous_Packaging_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Product_Unit_Price__c</field>
            <value>
                <elementReference>VarSAP.Previous_Product_Unit_Price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Total_transport_price__c</field>
            <value>
                <elementReference>VarSAP.Previous_Total_transport_price__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Transport_Price_Per_Container__c</field>
            <value>
                <elementReference>VarSAP.Previous_Transport_Price_Per_Container__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Previous_Transport_Price_per_unit__c</field>
            <value>
                <elementReference>VarSAP.Previous_Transport_Price_per_unit__c</elementReference>
            </value>
        </inputAssignments>
        <object>SalesAgreementProduct</object>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_all_related_SAPPs</targetReference>
        </connector>
        <object>Sales_Agreement_Product_Price__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <triggerOrder>2</triggerOrder>
    <variables>
        <name>id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>VarSAP</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
</Flow>
