force-app/main/default/flows/Update_with_S0_if_price_not_found.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>assign_S0</name>
        <label>assign S0</label>
        <locationX>138</locationX>
        <locationY>792</locationY>
        <assignmentItems>
            <assignToReference>loop_SAP.Negotiation_Status__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>S0-Negotiation Not Yet Started</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assign_to_multicollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_to_multicollection</name>
        <label>assign to multicollection</label>
        <locationX>138</locationX>
        <locationY>900</locationY>
        <assignmentItems>
            <assignToReference>storeNegStatus</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>loop_SAP</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_SAP</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>month_s_first_date</name>
        <label>month&apos;s first date?</label>
        <locationX>182</locationX>
        <locationY>252</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Monthstartdatecheck</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_SAP</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>null_check</name>
        <label>null check</label>
        <locationX>270</locationX>
        <locationY>684</locationY>
        <defaultConnector>
            <targetReference>loop_SAP</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>if_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>getSAPP</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>loop_SAP.Negotiation_Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>S0-Negotiation Not Yet Started</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_S0</targetReference>
            </connector>
            <label>if null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>Monthstartdatecheck</name>
        <dataType>Boolean</dataType>
        <expression>IF( DAY( TODAY() ) == 1, true, false)</expression>
    </formulas>
    <interviewLabel>Update with S0 if price not found {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update with S0 if price not found</label>
    <loops>
        <name>loop_SAP</name>
        <label>loop SAP</label>
        <locationX>50</locationX>
        <locationY>468</locationY>
        <collectionReference>get_SAP</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSAPP</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_current_record_s_status_to_S0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_SAP</name>
        <label>get SAP</label>
        <locationX>50</locationX>
        <locationY>360</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_SAP</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesAgreementId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SalesAgreementId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SalesAgreementProduct</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>getSAPP</name>
        <label>getSAPP</label>
        <locationX>270</locationX>
        <locationY>576</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Sales_Agreement_Product_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>loop_SAP.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_From__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <filters>
            <field>Price_To__c</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Sales_Agreement_Product_Price__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_current_record_s_status_to_S0</name>
        <label>update current record&apos;s status to S0</label>
        <locationX>50</locationX>
        <locationY>1176</locationY>
        <inputReference>storeNegStatus</inputReference>
    </recordUpdates>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>month_s_first_date</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Negotiation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>On Hold</stringValue>
            </value>
        </filters>
        <filters>
            <field>Negotiation_Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Obsolete</stringValue>
            </value>
        </filters>
        <object>SalesAgreementProduct</object>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2022-12-16</startDate>
            <startTime>12:20:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>storeNegStatus</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>SalesAgreementProduct</objectType>
    </variables>
</Flow>
