force-app/main/default/flows/Update_BA_on_account.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>assign_BAs</name>
        <label>assign BAs</label>
        <locationX>587</locationX>
        <locationY>623</locationY>
        <assignmentItems>
            <assignToReference>SingleVarPicklist</assignToReference>
            <operator>AddItem</operator>
            <value>
                <elementReference>loop_BA.BusinessArea__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>storeAccountManagers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>AccountmanagerName</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop_BA</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <formulas>
        <name>AccountmanagerName</name>
        <dataType>String</dataType>
        <expression>{!loop_BA.AccountManager__r.FirstName} + &quot; &quot; +{!loop_BA.AccountManager__r.LastName}+&quot; ; &quot;</expression>
    </formulas>
    <interviewLabel>Update BA on account {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Update BA on account</label>
    <loops>
        <name>loop_BA</name>
        <label>loop BA</label>
        <locationX>499</locationX>
        <locationY>503</locationY>
        <collectionReference>get_BAs_of_account</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assign_BAs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>update_Account</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_BAs_of_account</name>
        <label>get BAs of account</label>
        <locationX>499</locationX>
        <locationY>383</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop_BA</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountName__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountName__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Relationship__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_Account</name>
        <label>update Account</label>
        <locationX>499</locationX>
        <locationY>839</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.AccountName__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Account_Manager_Rel_BA__c</field>
            <value>
                <elementReference>storeAccountManagers</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Business_Areas__c</field>
            <value>
                <elementReference>SingleVarPicklist</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <start>
        <locationX>373</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>get_BAs_of_account</targetReference>
        </connector>
        <object>Relationship__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>collectBA</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>SingleVarPicklist</name>
        <dataType>Multipicklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeAccountManagers</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>storeBA</name>
        <dataType>Multipicklist</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
