force-app/main/default/flows/Web2case_Document_Request.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Navigate_to_New_Record</name>
        <label>Navigate to New Record</label>
        <locationX>1469</locationX>
        <locationY>1766</locationY>
        <actionName>c:navigateEverywhereLFA</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>destinationAction</name>
            <value>
                <stringValue>View</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationRecordId</name>
            <value>
                <elementReference>NewCaseId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>destinationType</name>
            <value>
                <stringValue>Record</stringValue>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>54.0</apiVersion>
    <assignments>
        <name>Assign_New_Case_Id</name>
        <label>Assign New Case Id</label>
        <locationX>182</locationX>
        <locationY>1214</locationY>
        <assignmentItems>
            <assignToReference>NewCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Create_case_from_web2case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Assign_New_Case_Id</name>
        <label>Copy 1 of Assign New Case Id</label>
        <locationX>886</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>NewCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Create_case_from_web2case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Assign_New_Case_Id</name>
        <label>Copy 1 of Copy 1 of Assign New Case Id</label>
        <locationX>1590</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>NewCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_2_of_Create_case_from_web2case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_Copy_1_of_Copy_1_of_Assign_New_Case_Id</name>
        <label>Copy 1 of Copy 1 of Copy 1 of Assign New Case Id</label>
        <locationX>2030</locationX>
        <locationY>1334</locationY>
        <assignmentItems>
            <assignToReference>NewCaseId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Copy_1_of_Copy_2_of_Create_case_from_web2case</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Final_Screen</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Case_Null_check</name>
        <label>Case Null check</label>
        <locationX>1964</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Case.RecordType.Name</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Document Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Related_Account</targetReference>
            </connector>
            <label>not null</label>
        </rules>
        <rules>
            <name>If_Document_Request</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Case.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_Case.RecordType.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Document Request</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_get_Related_Account</targetReference>
            </connector>
            <label>If Document Request</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check for an account</description>
        <name>Check_if_Account_exists</name>
        <label>Check if Account exists</label>
        <locationX>1469</locationX>
        <locationY>158</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Account_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>001</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_Account_id</targetReference>
            </connector>
            <label>Account id</label>
        </rules>
        <rules>
            <name>Contact_id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>003</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Contact</targetReference>
            </connector>
            <label>Contact id</label>
        </rules>
        <rules>
            <name>Case_Id</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>RecordId</leftValueReference>
                <operator>StartsWith</operator>
                <rightValue>
                    <stringValue>500</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Case</targetReference>
            </connector>
            <label>Case Id</label>
        </rules>
    </decisions>
    <decisions>
        <name>Contact_not_null</name>
        <label>Contact not null</label>
        <locationX>1040</locationX>
        <locationY>518</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Contact.Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Create_a_Document_Request</targetReference>
            </connector>
            <label>not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_Copy_2_of_IsContactexists</name>
        <label>Copy 1 of Copy 2 of IsContactexists</label>
        <locationX>2030</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Copy_2_of_Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Copy_2_of_ContactNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varselectedcontactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_Copy_2_of_create_a_contact</targetReference>
            </connector>
            <label>Copy 1 of Copy 2 of ContactNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_1_of_IsContactexists</name>
        <label>Copy 1 of IsContactexists</label>
        <locationX>886</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_1_of_Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_ContactNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varselectedcontactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_create_a_contact</targetReference>
            </connector>
            <label>Copy 1 of ContactNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_IsContactexists</name>
        <label>Copy 2 of IsContactexists</label>
        <locationX>1590</locationX>
        <locationY>758</locationY>
        <defaultConnector>
            <targetReference>Copy_2_of_Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_ContactNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varselectedcontactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_create_a_contact</targetReference>
            </connector>
            <label>Copy 2 of ContactNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsContactexists</name>
        <label>IsContactexists</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <defaultConnector>
            <targetReference>Get_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ContactNotExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varselectedcontactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_a_contact</targetReference>
            </connector>
            <label>ContactNotExists</label>
        </rules>
    </decisions>
    <decisions>
        <description>Check if Account is Null</description>
        <name>Null_check_account</name>
        <label>Null check account</label>
        <locationX>336</locationX>
        <locationY>398</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accountid_Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Account_id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Document_Request</targetReference>
            </connector>
            <label>Accountid Not Null</label>
        </rules>
    </decisions>
    <description>Manual case creation for Web2case</description>
    <environments>Default</environments>
    <interviewLabel>Web2case_Document Request {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Web2case_Document Request</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <description>Create a case for Web2case</description>
        <name>Copy_1_of_Copy_2_of_Create_case_from_web2case</name>
        <label>Copy 1 of Copy 2 of Create case from web2case</label>
        <locationX>2030</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Copy_1_of_Assign_New_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Copy_1_of_Copy_2_of_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Copy_2_of_Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>varselectedAccountid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>varselectedcontactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Copy_1_of_Copy_2_of_Subject1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case for Web2case</description>
        <name>Copy_1_of_Create_case_from_web2case</name>
        <label>Copy 1 of Create case from web2case</label>
        <locationX>886</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Copy_1_of_Assign_New_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Copy_1_of_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_1_of_Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>varselectedAccountid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>varselectedcontactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Copy_1_of_Subject1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case for Web2case</description>
        <name>Copy_2_of_Create_case_from_web2case</name>
        <label>Copy 2 of Create case from web2case</label>
        <locationX>1590</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_1_of_Assign_New_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Copy_2_of_Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Copy_2_of_Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>varselectedAccountid</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>varselectedcontactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Copy_2_of_Subject1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a case for Web2case</description>
        <name>Create_case_from_web2case</name>
        <label>Create case from web2case</label>
        <locationX>182</locationX>
        <locationY>1094</locationY>
        <connector>
            <targetReference>Assign_New_Case_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Description</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Origin</field>
            <value>
                <stringValue>Email</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>Get_Record_Type.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Account__c</field>
            <value>
                <elementReference>Get_Account_id.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Related_Contact__c</field>
            <value>
                <elementReference>varselectedcontactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject1</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>Get the record type</description>
        <name>Copy_1_of_Copy_2_of_Get_Record_Type</name>
        <label>Copy 1 of Copy 2 of Get Record Type</label>
        <locationX>2030</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Create_case_from_web2case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type</description>
        <name>Copy_1_of_Get_Record_Type</name>
        <label>Copy 1 of Get Record Type</label>
        <locationX>886</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Create_case_from_web2case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Copy_1_of_get_Related_Account</name>
        <label>Copy 1 of get Related Account</label>
        <locationX>2030</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Create_a_Document_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.Related_Account__r.Id</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type</description>
        <name>Copy_2_of_Get_Record_Type</name>
        <label>Copy 2 of Get Record Type</label>
        <locationX>1590</locationX>
        <locationY>1094</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_case_from_web2case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the account id</description>
        <name>Get_Account_id</name>
        <label>Get Account id</label>
        <locationX>336</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Null_check_account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Case</name>
        <label>get Case</label>
        <locationX>1964</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Case_Null_check</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Case</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Contact</name>
        <label>get Contact</label>
        <locationX>1040</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>related_Account</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>RecordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Get the record type</description>
        <name>Get_Record_Type</name>
        <label>Get Record Type</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_case_from_web2case</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Document_Request</stringValue>
            </value>
        </filters>
        <filters>
            <field>SobjectType</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Case</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>RecordType</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Related_Account</name>
        <label>get Related Account</label>
        <locationX>1590</locationX>
        <locationY>518</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Copy_2_of_Create_a_Document_Request</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Case.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>related_Account</name>
        <label>related Account</label>
        <locationX>1040</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Contact_not_null</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_Contact.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Copy_1_of_Copy_2_of_Create_a_Document_Request</name>
        <label>Copy 1 of Copy 2 of Create a  Document Request</label>
        <locationX>2030</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_IsContactexists</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_Copy_2_of_AccountLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>parent1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which account does this relate to?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>Copy_1_of_get_Related_Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedAccountid</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_2_of_Contactid</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Copy_1_of_get_Related_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedcontactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_2_of_Subject1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Copy_2_of_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_1_of_Create_a_Document_Request</name>
        <label>Copy 1 of Create a  Document Request</label>
        <locationX>886</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_1_of_IsContactexists</targetReference>
        </connector>
        <fields>
            <name>Copy_1_of_AccountLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>parent1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>related_Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which account does this relate to?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>get_Contact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedAccountid</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copy_1_of_Contactid</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>get_Contact.AccountId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>get_Contact.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedcontactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copy_1_of_Subject1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_1_of_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Copy_2_of_Create_a_Document_Request</name>
        <label>Copy 2 of Create a  Document Request</label>
        <locationX>1590</locationX>
        <locationY>638</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Copy_2_of_IsContactexists</targetReference>
        </connector>
        <fields>
            <name>Copy_2_of_AccountLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>parent1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which account does this relate to?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>get_Related_Account.Name</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedAccountid</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copy_2_of_Contactid</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>get_Related_Account.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedcontactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Copy_2_of_Subject1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Copy_2_of_Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Create_a_Document_Request</name>
        <label>Create a  Document Request</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>IsContactexists</targetReference>
        </connector>
        <fields>
            <name>AccountLookup</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>cmpid</name>
                <value>
                    <stringValue>parent1</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>Get_Account_id.Name</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Which account does this relate to?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>parentChild</name>
                <value>
                    <stringValue>parent</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>svg</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedValue</name>
                <value>
                    <elementReference>RecordId</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedAccountid</assignToReference>
                <name>valueFieldName</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Contactid</name>
            <extensionName>c:quickLookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>objectName</name>
                <value>
                    <stringValue>Contact</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Who&apos;s the contact we&apos;re helping?</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldName</name>
                <value>
                    <stringValue>AccountId</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>filterFieldValue</name>
                <value>
                    <elementReference>Get_Account_id.Id</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>valueFieldName</name>
                <value>
                    <stringValue>Id</stringValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varselectedcontactId</assignToReference>
                <name>selectedValue</name>
            </outputParameters>
        </fields>
        <fields>
            <name>Subject1</name>
            <dataType>String</dataType>
            <fieldText>Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Description</name>
            <fieldText>Description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Case Created Successfully!</description>
        <name>Final_Screen</name>
        <label>Final Screen</label>
        <locationX>1469</locationX>
        <locationY>1646</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Navigate_to_New_Record</targetReference>
        </connector>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Case Created Successfully!&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <start>
        <locationX>1343</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_Account_exists</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Copy_1_of_Copy_2_of_create_a_contact</name>
        <label>Copy 1 of Copy 2 of create a contact</label>
        <locationX>1898</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Copy_1_of_Copy_2_of_Get_Record_Type</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Copy_1_of_get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varselectedcontactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Copy_1_of_create_a_contact</name>
        <label>Copy 1 of create a contact</label>
        <locationX>754</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Copy_1_of_Get_Record_Type</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varselectedcontactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>Copy_2_of_create_a_contact</name>
        <label>Copy 2 of create a contact</label>
        <locationX>1458</locationX>
        <locationY>878</locationY>
        <connector>
            <targetReference>Copy_2_of_Get_Record_Type</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>get_Related_Account.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varselectedcontactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <subflows>
        <name>create_a_contact</name>
        <label>create a contact</label>
        <locationX>50</locationX>
        <locationY>758</locationY>
        <connector>
            <targetReference>Get_Record_Type</targetReference>
        </connector>
        <flowName>Flow_Case_Create_Contact</flowName>
        <inputAssignments>
            <name>AccountId</name>
            <value>
                <elementReference>Get_Account_id.Id</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>varselectedcontactId</assignToReference>
            <name>varCreatedContactId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <description>store the contact id</description>
        <name>Contactidvar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewCaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Recordid</description>
        <name>RecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varselectedAccountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varselectedcontactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
