force-app/main/default/flows/WebtoCase_Case_Creation_Notification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>E2C_Automatic_Mail</name>
        <label>E2C Automatic Mail</label>
        <locationX>314</locationX>
        <locationY>455</locationY>
        <actionName>Case.DocumentRequest_EmailtoCaseAutomatic_Case_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>E2C_Manual_Mail</name>
        <label>E2C Manual Mail</label>
        <locationX>50</locationX>
        <locationY>455</locationY>
        <actionName>Case.DocumentRequest_EmailtoCaseManual_Case_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>W2C_Mail</name>
        <label>W2C Mail</label>
        <locationX>578</locationX>
        <locationY>455</locationY>
        <actionName>Case.WebtoCase_Case_Creation_Notification</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <decisions>
        <name>case_origin</name>
        <label>case origin</label>
        <locationX>446</locationX>
        <locationY>335</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Isemail</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E2C_Manual_Mail</targetReference>
            </connector>
            <label>Isemail</label>
        </rules>
        <rules>
            <name>Is_email_Automated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Email Automated</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>E2C_Automatic_Mail</targetReference>
            </connector>
            <label>Is email Automated</label>
        </rules>
        <rules>
            <name>Is_Web2Case</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Origin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Web</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>W2C_Mail</targetReference>
            </connector>
            <label>Is Web2Case</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>WebtoCase - Case Creation Notification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>WebtoCase - Case Creation Notification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>320</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>case_origin</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>0121q0000001wgbAAA</stringValue>
            </value>
        </filters>
        <object>Case</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
