force-app/main/default/flows/Welkin_s_Flow_Add_ShortListedProducts.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <description>This action adds an ShortListedProduct.ID to a Text collection.</description>
        <name>Retrieve_ShortListedProduct_IDs</name>
        <label>Retrieve ShortListedProduct.IDs</label>
        <locationX>264</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>Converted_ShortListedProduct_IDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LoopShortlistedProduct2.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Convert_ShortListedProduct_collection_to_a_string</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Bags</name>
        <choiceText>Bags</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ConclusiveLabTesting</name>
        <choiceText>Conclusive Lab Testing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ConclusiveTAR</name>
        <choiceText>Conclusive TAR</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>CubicMeter</name>
        <choiceText>CubicMeter</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Gallon</name>
        <choiceText>Gallon</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Grams</name>
        <choiceText>Grams</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Hectoliter</name>
        <choiceText>Hectoliter</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Kilogram</name>
        <choiceText>Kilogram</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Liter</name>
        <choiceText>Liter</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OngoingLabTesting</name>
        <choiceText>Ongoing Lab Testing</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OngoingTAR</name>
        <choiceText>Ongoing TAR</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>OngoingTestWithinIndustrialProcess</name>
        <choiceText>Ongoing Test Within Industrial Process</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Preferred</name>
        <choiceText>Preferred</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Qualified</name>
        <choiceText>Qualified</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Selected</name>
        <choiceText>Selected</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>ShipmentOfSamples</name>
        <choiceText>Shipment Of Samples</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Shortlisted</name>
        <choiceText>Shortlisted</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <description>Unit and Volume are mandatory if product status is &apos;Preferred&apos; or &apos;Selected&apos;</description>
        <name>ProdStatusPreferredOrSelected</name>
        <label>ProdStatusPreferredOrSelected</label>
        <locationX>396</locationX>
        <locationY>1214</locationY>
        <defaultConnector>
            <targetReference>CreateShortlistedProduct3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>ProdStatusPreferredOrSelectedDecision</name>
            <conditionLogic>(1 OR 2) AND ( 3 OR 4 )</conditionLogic>
            <conditions>
                <leftValueReference>ProductStatusRCS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Preferred</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ProductStatusRCS</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Selected</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Unit_Price3</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Volume</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>ProdStatusPreferredOrSelectedDecision</label>
        </rules>
    </decisions>
    <description>New With product2 + Scr Product to search + ProdStatus +Technical status + Group + PicklistChoiceSet + ErrorMessage</description>
    <dynamicChoiceSets>
        <name>ProductStatusRCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Shortlisted__c</picklistField>
        <picklistObject>Shortlisted_Imerys_Product__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>TechnicalStatusRCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Technical_Status__c</picklistField>
        <picklistObject>Shortlisted_Imerys_Product__c</picklistObject>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>UnitRCS</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Unit__c</picklistField>
        <picklistObject>Shortlisted_Imerys_Product__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <formulas>
        <name>AccountsSearchStartDate</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime} -14</expression>
    </formulas>
    <interviewLabel>Welkin&apos;s Flow DataTable - Usage Sample {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Add Shortlisted Products</label>
    <loops>
        <description>This loop goes through the collection of Account records and converts it to the collection of Text variables. The Welkin&apos;s Flow DataTable component receives a collection of text variables with IDs of records to be shown.</description>
        <name>Convert_ShortListedProduct_collection_to_a_string</name>
        <label>Convert ShortListedProduct collection to a string</label>
        <locationX>176</locationX>
        <locationY>398</locationY>
        <assignNextValueToReference>LoopShortlistedProduct2</assignNextValueToReference>
        <collectionReference>ShortlistedProduct2</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Retrieve_ShortListedProduct_IDs</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Display_ShortListed_Products_List</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>LoopOverSelectedImerysProdIds</name>
        <label>LoopOverSelectedImerysProdIds</label>
        <locationX>176</locationX>
        <locationY>854</locationY>
        <collectionReference>Selected_ShortListedProduct_IDs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>getSelectedProdById</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateShortlistedProduct3</name>
        <label>CreateShortlistedProduct3</label>
        <locationX>528</locationX>
        <locationY>1334</locationY>
        <connector>
            <targetReference>LoopOverSelectedImerysProdIds</targetReference>
        </connector>
        <inputAssignments>
            <field>Imerys_Product__c</field>
            <value>
                <elementReference>LoopOverSelectedImerysProdIds</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Opportunity__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Shortlisted__c</field>
            <value>
                <elementReference>ProductStatusRCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Technical_Status__c</field>
            <value>
                <elementReference>TechnicalStatusRCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit_Price__c</field>
            <value>
                <elementReference>Unit_Price3</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Unit__c</field>
            <value>
                <elementReference>UnitRCS</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Volume__c</field>
            <value>
                <elementReference>Volume</elementReference>
            </value>
        </inputAssignments>
        <object>Shortlisted_Imerys_Product__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>This action retrieves some accounts for you to test the component.
It retrieves all accounts that were modified within the last 14 days.
Please be aware that if there are no accounts that were modified within the last 14 days, you won&apos;t see anything. If there are more than a few hundred accounts - the flow might throw an exception. Please try limiting the number of records selected within a reasonable amount.</description>
        <name>Get_ShortListed_Products</name>
        <label>Get ShortListed Products</label>
        <locationX>176</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Convert_ShortListedProduct_collection_to_a_string</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>ProductToSearch</elementReference>
            </value>
        </filters>
        <filters>
            <field>Inactive__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Product2</object>
        <outputReference>ShortlistedProduct2</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>getSelectedProdById</name>
        <label>getSelectedProdById</label>
        <locationX>396</locationX>
        <locationY>974</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>SelectedImerysProductDetails</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>LoopOverSelectedImerysProdIds</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Product2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <screens>
        <name>Display_ShortListed_Products_List</name>
        <label>Display ShortListed Products List</label>
        <locationX>176</locationX>
        <locationY>734</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopOverSelectedImerysProdIds</targetReference>
        </connector>
        <fields>
            <name>ShortListedProduct_List</name>
            <extensionName>welkins_table:FlowDataTable</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldsCSV</name>
                <value>
                    <stringValue>Name,BusinessArea__c,New_Product_Type_1__c,New_Product_Type_2__c,New_Product_Type_3__c,ManufacturingImerysPlant__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordsIds</name>
                <value>
                    <elementReference>Converted_ShortListedProduct_IDs</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>maxRowSelection</name>
                <value>
                    <numberValue>10.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>minRowSelection</name>
                <value>
                    <numberValue>1.0</numberValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>enableCustomFooter</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>Selected_ShortListedProduct_IDs</assignToReference>
                <name>selectedRowsIds</name>
            </outputParameters>
        </fields>
        <showFooter>false</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>264</locationX>
        <locationY>1334</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>LoopOverSelectedImerysProdIds</targetReference>
        </connector>
        <fields>
            <name>ErrorMessageDisplay</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;background-color: rgb(243, 242, 242); font-size: 14px;&quot;&gt;If Product Status is &apos;Preferred&apos; or &apos;Selected&apos; , Unit Price and Volume are required&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ProductToSearchScr</name>
        <label>ProductToSearchScr</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Get_ShortListed_Products</targetReference>
        </connector>
        <fields>
            <name>ProductToSearch</name>
            <dataType>String</dataType>
            <fieldText>Product To Search</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>SelectedImerysProductDetails</name>
        <label>SelectedImerysProductDetails</label>
        <locationX>396</locationX>
        <locationY>1094</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>ProdStatusPreferredOrSelected</targetReference>
        </connector>
        <fields>
            <name>ProductName</name>
            <fieldText>&lt;p&gt;&lt;b&gt;Imerys Product :&lt;/b&gt; {!getSelectedProdById.Name}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Technical_Status</name>
            <choiceReferences>TechnicalStatusRCS</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Technical Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Unit_Price3</name>
            <dataType>Number</dataType>
            <fieldText>Unit Price</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>Volume</name>
            <dataType>Number</dataType>
            <fieldText>Volume</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ProductToSearchScr</targetReference>
        </connector>
    </start>
    <status>Obsolete</status>
    <variables>
        <name>AccountsList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>Collection of Account IDs to be passed to the Welkin&apos;s Flow DataTable</description>
        <name>Converted_Account_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Contact IDs to be passed to the Welkin&apos;s Flow DataTable</description>
        <name>Converted_Contacts_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Converted_ShortListedProduct_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Loop_Contact</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>LoopAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>LoopShortListedProduct</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shortlisted_Imerys_Product__c</objectType>
    </variables>
    <variables>
        <name>LoopShortlistedProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Account_ID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Collection of Account IDs of selected Accounts - passed from the Welkin&apos;s Flow DataTable</description>
        <name>Selected_Account_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Selected_Contacts_List</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Selected_ShortListedProduct_IDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShortlistedProduct2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Product2</objectType>
    </variables>
    <variables>
        <name>ShortListedProductList</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Shortlisted_Imerys_Product__c</objectType>
    </variables>
</Flow>
